.b-button {
  $size: 30px;

  background-color: #8f8f8f;
  height: $size;
  line-height: $size;
  text-align: center;
  border-radius: 4px;
  min-width: 150px;
  color: #fff;
  border: none;
  appearance: none;
  display: inline-block;
  font-weight: bold;
  max-width: 100%;
  margin: 0;
  padding: 0 1em;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  box-sizing: border-box;
  @include ellipsis;
  text-transform: uppercase;
  @include antialias;
  transition: all .2s ease;
  text-shadow: 0 1px 1px rgba(#000, 0.2);
  box-shadow: 0 -2px 0 0 rgba(#000, .2) inset;

  &:last-of-type {
    margin-left: 0;
  }

  & + .b-button {
    margin-left: .2em;
  }

  &:active {
    box-shadow: 0 2px 0 0 rgba(#000, .2) inset;
  }

  &_primary {
    background: {
      color: #7d1705;
    }
  }

  &_empty {
    text-transform: none;
    text-shadow: none;
    color: #929292;
    background: {
      color: transparent;
    }
    box-shadow: 0 0 0 2px #b1b1b1 inset;

    &:active {
      box-shadow: 0 0 0 2px #b1b1b1 inset;
    }
  }

  &_small {
    min-width: initial;
    width: 100%;
    height: 28px;
    line-height: 28px;
  }
}
