{% for item in items %}
    <li class="{% if item.items %}has-subitems {% endif %}">
        <a href="{{ item.url ? item.url : "#" }}">{{ item.name }}</a>
        {% if item.items %}
            <ul>{% include "menu/menu.html" with ['items' => item.items] %}</ul>
        {% endif %}
    </li>
{% endfor %}
