#header {
  margin-bottom: 20px;

  .header-inner {
    $logoWidth: 60px;
    line-height: $header-height;

    .logo {
      margin: 0;

      a {

      }
    }
  }

  .header-block {
    height: $header-height;
    line-height: $header-height;

    &.no-logic-align {
      line-height: 100px;
    }

    &.site-selector {
      line-height: 94px;
    }

    .header-multiline {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.3;
    }
  }

  .header-bottom {
    .header-bottom-inner {
      border-top: 1px solid #dde3e7;

      .call-us {
        float: right;
        height: 35px;
        width: 200px;
        text-align: center;
        line-height: 32px;
        margin-top: 21px;
        font-size: 14px;
      }
    }
  }
}

.search-form-container {
  @include float-right;
  padding-top: 6px;
  position: relative;

  .search-popup-container {
    display: none;
    position: absolute;
    z-index: 100;
    right: 0;
    top: auto;
    padding: 19px 0 0;
  }

  .search-popup {
    z-index: 100;
    top: auto;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    list-style: none;
    padding: 5px 0;
    width: 360px;
    box-shadow: 0 2px 6px rgba(#000, 0.09);

    &::after {
      $size: 18px;
      bottom: 100%;
      right: 32px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: $size;
      margin-left: -$size;
      top: -19px;
    }

    li {
      &:not(:last-child) {
        border-bottom: 1px solid rgba(#dedede, 0.6);
      }

      a {
        padding: 8px 10px;
        color: #353535;
        display: block;

        &:hover {
          background-color: rgba(#ccc, 0.2);
        }
      }
    }
  }

  &:hover {
    .search-popup-container {
      display: block;
    }
  }

  input, input:focus, input:active {
    border: 0 !important;
    background: {
      color: transparent;
      image: url(../images/inner/input-bg.png);
      repeat: repeat-x;
      position: 0 0;
    }
    padding-left: 34px;
    margin: 0;
    height: 31px;
    line-height: 31px;
    width: 203px;
    color: #fff;
    font-size: 1rem;
    @include antialias;
    @include box-shadow(none !important);
  }

  &::after {
    position: absolute;
    left: 12px;
    top: 14px;
    content: " ";
    width: 15px;
    height: 15px;
    display: block;
    background: {
      color: transparent;
      repeat: no-repeat;
      position: 0 0;
      image: url(../images/inner/icon-search.png);
    }
  }
}

.currency__container {
  margin-bottom: 5px;

  .currency-selected {
    margin-left: 10px;
    padding: 4px 10px;
    background-color: #f1f1f1;
    display: inline-block;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
  }

  &:hover .currency-list {
    display: block;
  }

  .current {
    display: inline-block;
    padding-left: 22px;
    background: {
      color: transparent;
      position: 0 2px;
      repeat: no-repeat;
    }

    &.byr {
      background-image: url(../images/money/belarus.png);
    }

    &.eur {
      background-image: url(../images/money/european_union.png);
    }

    &.kzt {
      background-image: url(../images/money/kazakhstan.png);
    }

    &.rub {
      background-image: url(../images/money/russia.png);
    }

    &.usd {
      background-image: url(../images/money/usa.png);
    }

    &.uah {
      background-image: url(../images/money/ukraine.png);
    }
  }

  .currency-list {
    @include reset-list;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: #fff;
    z-index: 1000;
    display: none;
    box-shadow: 0 4px 4px rgba(#000, 0.27);
    border-radius: 5px;
    padding: 5px 0;

    li {
      font-size: 1rem;
      margin-bottom: 4px;
      padding: 4px 10px 4px 32px;
      background: {
        color: transparent;
        position: 10px 5px;
        repeat: no-repeat;
      }

      &:hover {
        background: {
          color: #f1f1f1;
        };
      }

      &.byr {
        background-image: url(../images/money/belarus.png);
      }

      &.eur {
        background-image: url(../images/money/european_union.png);
      }

      &.kzt {
        background-image: url(../images/money/kazakhstan.png);
      }

      &.rub {
        background-image: url(../images/money/russia.png);
      }

      &.usd {
        background-image: url(../images/money/usa.png);
      }

      &.uah {
        background-image: url(../images/money/ukraine.png);
      }
    }
  }
}