<style>
    #{{ id }}-list input, #{{ id }}-list select {
        width: 15%;
        display: inline-block;
    }

    #{{ id }}-list li {
        cursor: pointer;
    }

    #{{ id }}-list li .icon-move {
        display: none;
    }

    #{{ id }}-list.sort li .icon-move {
        display: inline;
    }

    #{{ id }}-sort {
        border: 1px solid transparent;
    }

    #{{ id }}-sort.active {
        border: 1px solid #ccc;
        background-color: transparent;
        color: #333;
    }
</style>




<ul id="{{ id }}-list" style="margin: 0;" class="no-bullet">
    {% for item in data %}
        <li class="clearfix">
            <i class="icon-trash"></i>
            <i class="icon-move"></i>
            <input type='hidden' class='id id-code-{{ item.id }}' value="{{ item.id }}" />
            <input type="text" class="code" placeholder="Артикул" value="{{ item.code }}" readonly/>
            <input type="text" class="name" placeholder="Наименование" value="{{ item.name }}" readonly/>
            <input type="number" class="count" placeholder="Количество" value="{{ item.count }}" min="1" required/>
            <input type="number" class="size" placeholder="Размер" value="{{ item.size }}"/>
            <input type="text" class="price" placeholder="Цена" value="{{ item.price }}" required/>
        </li>
    {% endfor %}
</ul>

<div class="buttons">
    <a class="button" href="#" id="{{ id }}-append">
        + Добавить
    </a>
    <a class="button" href="#" id="{{ id }}-sort">
        Изменить порядок
    </a>
</div>


<textarea name="{{ name }}" id="{{ id }}" cols="30" rows="10" style="display: none">{{ encoded|raw }}</textarea>

<script>
    $(function(){
        var list = '#{{ id }}-list';
        var append = "#{{ id }}-append";
        var sort = "#{{ id }}-sort";
        var remove = "#{{ id }} .icon-trash";
        var input = "#{{ id }} input";
        var area = "#{{ id }}";
        var select2options = $.extend({{ options|raw  }}, {data:{{ products|raw }}});


        var added_function = function (e) {
            var add = e.added;
            var $targ = $(e.target).closest('li');

            if (e.added) {
                $targ.find('.id').val(add.id);
                $targ.find('.code').val(add.code);
                $targ.find('.name').val(add.name);
                $targ.find('.count').val(1);
                $targ.find('.price').val(add.price);
            } else {
                $targ.find('.id').val('');
                $targ.find('.code').val('');
                $targ.find('.name').val('');
                $targ.find('.count').val('');
                $targ.find('.size').val('');
                $targ.find('.price').val('');
            }
        };

        function {{ id }}save() {
            var data = [];
            $(list).find('li').each(function(){
                var $item = $(this);
                var id = $item.find('input.id[type="hidden"]').val();

                if (id != '') {

                    var code = $item.find('.code').val();
                    var name = $item.find('.name').val();
                    var count = $item.find('.count').val();
                    var size = $item.find('.size').val();
                    var price = $item.find('.price').val();

                    data.push({
                        id: id,
                        name: name,
                        code: code,
                        count: count || 1,
                        size: size,
                        price: price,
                    });
                }
            });
            $(area).val(JSON.stringify(data));
            console.log($(area).val());
        }

        $(sort).on('click', function(e){
            e.preventDefault();
            var $this = $(this);
            if ($this.hasClass('active')) {
                $this.removeClass("active");
                $(list).removeClass('sort');
                $(list).dragsort("destroy");
            } else {
                $this.addClass("active");
                $(list).addClass("sort");
                $(list).dragsort({
                    dragSelector: ".icon-move",
                    placeHolderTemplate: "<li class='empty'></li>",
                    dragEnd: function() {
                        {{ id }}save();
                    }
                });
            }
            return false;
        });



        $(append).on('click', function(e){
            e.preventDefault();

            var t = Date.now();

            $(list).append($('<li class="clearfix"> ' +
            ' <i class="icon-trash"></i> ' +
            ' <i class="icon-move"></i > ' +
            ' <input type="hidden" class="id id-'+t+'"  value="" />' +
            ' <input type="text" class="code"  placeholder="Артикул" value=""  readonly /> ' +
            ' <input type="text" class="name"  placeholder="Название" value="" readonly /> ' +
            ' <input type="number" class="count" placeholder="Количество" value="" min="1" required /> ' +
            ' <input type="number" class="size" placeholder="Размер" value=""/> ' +
            ' <input type="text" class="price" placeholder="Цена" value="" required/> ' +
            '</li>'
            ));

            $("#{{ id }}-list .id-"+t)
                    .select2(select2options)
                    .on("change", added_function);
            return false;
        });

        $(list).on('click', '.icon-trash', function(e){
            e.preventDefault();
            $(this).closest('li').remove();
            {{ id }}save();
            return false;
        });

        $(list).on('keyup', 'input', function(e) {
            {{ id }}save();
        });

        $(list).on('blur', 'input', function(e) {
            {{ id }}save();
        });

        $(list).on('change', 'select', function(e) {
            {{ id }}save();
        });

        $("#{{ id }}-list li .id")
                .select2(select2options)
                .on("change", added_function);
    })
</script>