.best-container {
  min-height: 350px;
  background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
  padding-top: 32px;
  margin: 20px 0;
  color: #5a5a5a;
  border-color: rgba(112, 112, 112, 0.24);
  border-style: solid;
  border-width: 1px 0;
  @include background-clip(padding-box);
  @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));

  &.white {
    @include box-shadow(none);
    border-color: transparent;
    background-image: none;
  }

  .best-info-container {
    margin-bottom: 38px;
    text-align: center;

    h2 {
      color: $primary-color;
      @include antialias;
    }

    p {
      font-size: 1.1rem;
      font-style: italic;
      color: #3d3d3d;
    }
  }

  img {
    height: 33px;
  }

  .best-item {
    @include antialias;
    text-align: center;

    &:last-child {
      width: 100%;
      padding-left: 20%;
      padding-right: 20%;
    }

    p {
      font-size: .8rem;
      padding: 16px 0 0 0;
    }
  }
}
