.cart-page {
  .products-container {
    .cart-item {
      padding: rem-calc(15) 0;

      border-bottom: 1px solid #d2d2d2;

      &:nth-last-child(1) {
        border-bottom: none;
      }

      .action-container {
        height: rem-calc(35);
        text-align: center;

        a {
          vertical-align: middle;
          height: rem-calc(15);
          color: #939393;
          display: inline-block;
          border-bottom: 1px dashed #939393;
        }
      }

      .product-info {
        color: #717171;

        .name {
          padding-bottom: rem-calc(18);
          color: #7d1805;

          .code {
            padding-left: rem-calc(5);
            color: #969696;
          }
        }

        .size {
          padding-bottom: rem-calc(18);
          vertical-align: middle;

          .title {
            line-height: rem-calc(23);
            color: #717171;
          }

          select,
          .sizeValue {
            display: inline-block;

            width: rem-calc(23);
            height: rem-calc(23);
            font-size: rem-calc(12);
            color: #5f5f5f;


            border: 1px solid #83200f;
            background-image: none;
            vertical-align: middle;
            margin: 0;

            text-align-last: center;

            @include crossbrowser(appearance, none);
            @include border-radius(5px / 5px 5px 5px 5px);
          }

          select {
            padding: 0;
          }

          .sizeValue {

            text-align: center;
            padding: rem-calc(4);
          }

        }

        .price-contaienr {
          .price {
            font-size: rem-calc(16);
            color: #812414;
          }
        }
      }

    }
  }
}
