.product-item {
  .image-holder {
    position: relative;
    min-height: rem-calc(177);
    margin-bottom: rem-calc(8);
    text-align: center;

    .product-item-discount-percentage {
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      display: block;
      @include border-radius(28px);
      width: 28px;
      height: 28px;
      background-color: #70281b;
      line-height: 28px;
      text-align: center;
      font-size: rem-calc(10);
      font-weight: bold;
      @include antialias;
    }

    .product-item-discount {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 10px;
      height: 17px;
      min-width: 100%;
      padding: 0 6px;
      text-align: center;
      font-size: rem-calc(10);
      text-transform: uppercase;
      color: #695934;
      font-weight: bold;
      line-height: 17px;
      border-radius: $border-radius;
      @include background-clip(padding-box);
      background-color: #f3db3f;
      @include inline-block;
      z-index: 100;
    }
  }

  p {
    text-align: center;
  }

  .name {
    font-size: rem-calc(12);
  }

  .article {
    font-size: rem-calc(11);
    color: #717171;
    padding-bottom: rem-calc(5);
  }

  .price {
    font-size: rem-calc(15);
    font-weight: bold;

    .product-item-old-price {
      display: block;
      font-size: rem-calc(11);
      color: #717171;
      font-weight: normal;
      text-decoration: line-through;
    }
  }

}