.extra-container {
  margin: rem-calc(20) 0;

  .extra {
    @include box-shadow(0 0 16px rgba(0,0,0,.15));
    @include border-radius(rem-calc(5));
    @include background-clip(padding-box);
    overflow: hidden;


    .extra-content {
      //background: #6f1002 url('../images/_mobile/pages/extra-bg.png') 0 0 no-repeat;
      background: rgb(156, 20, 0) url('../images/_mobile/pages/extra-bg.png') 0 0 no-repeat;
      background-size: cover;

      &, p {
        color: #fff;
      }

      .page-extra-title {
        text-align: center;

        background-color: #3d0400;
        height: rem-calc(25);
        line-height: rem-calc(25);
        text-transform: uppercase;
        font-size: rem-calc(12);
        color: #fff;
      }

      .page-extra-list {
        @include reset-list;
        @include antialias;
        color: #fff;
        list-style: none;
        padding-top: 10px;
        padding-bottom: 15px;

        li {
          position: relative;
          margin: 10px 10px 10px 14px;
          padding-left: rem-calc(30);


          &:before {
            position: absolute;
            content: '';
            //width: rem-calc(20);
            //height: rem-calc(17);
            width: 20px;
            height: 17px;
            background-size: contain;
            left: 0;
            background-repeat: no-repeat;
          }

          &.page-extra-list-world {
            &:before {
              width: 23px;
              background-image: url(../images/main/page-extra-world.png);
            }
          }

          &.page-extra-list-time {
            &:before{
              background-image: url(../images/main/page-extra-time.png);

            }
          }

          &.page-extra-list-prepare {
            &:before{
              background-image: url(../images/main/page-extra-prepare.png);

            }
          }

          &.page-extra-list-pay {
            &:before{
              background-image: url(../images/main/page-extra-pay.png);

            }
          }


          &.page-extra-list-clothes {
            &:before{
              background-image: url(../images/main/page-extra-clothes.png);
            }
          }

          &.page-extra-list-5000 {
            &:before{
              background-image: url(../images/main/page-extra-5000.png);
            }
          }

          &.page-extra-list-300 {
            &:before {
              background-image: url(../images/main/page-extra-300.png);
            }
          }

          &.page-extra-list-auto {
            &:before {
              background-image: url(../images/main/page-extra-auto.png);
            }
          }

          &.page-extra-list-time {
            &:before {
              background-image: url(../images/main/page-extra-time.png);

            }
          }

          &.page-extra-list-zero {
            &:before {

              background-image: url(../images/main/page-extra-zero.png);
            }
          }

          &.page-extra-list-calendar {
            &:before {
              //background-image: url(../images/main/page-extra-calendar.png);
              background-image: url(../images/main/page-extra-pay.png);
            }

          }

          &.page-extra-list-mouse {
            &:before {
              height: 23px;
              background-image: url(../images/main/page-extra-mouse.png);
            }
          }
        }
      }
    }

    .extra-form {
      @include antialias;
      position: relative;
      padding: 20px 10px;
      background: url('../images/_mobile/pages/extra-form-bg-tile.jpg');

      .arrow {
        width: 4px;
        height: 4px;
        position: absolute;
        left: 50%;
        top: -4px;
        z-index: 100;
        margin-left: -2px;

        &.credit {
          top: 233px;
        }

        &:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(75, 16, 4, 0);
          border-top-color: #4b1004;
          border-width: 8px;
          margin-left: -8px;
        }
      }

      .form-title {
        color: #080808;
        font-size: rem-calc(12);
        font-weight: bold;
        padding-bottom: 3px;
      }

      .inputs {
        .first {
          padding-right: 7px;
        }
        .last {
          padding-left: 7px;
        }
      }

      .buttons {

      }

      .row {
        text-align: center;

        input[type='submit'] {
          margin: 0;

          color: #6f582e;

          border: 1px solid #ddc644;
          @include background-clip(padding-box);

          background-color: #fcdc26;
          @include linear-gradient(bottom, #f3cc24 0%, #f3de3a 100%);
          @include border-radius(2px);
          @include box-shadow(none);
        }
      }
    }


  }
}


