.categories_block_container {
  .category_menu_container {
    margin: rem-calc(15) 0;

    .category_title {
      height: rem-calc(40);
      line-height: rem-calc(40);

      font-size: rem-calc(12);
      font-weight: bold;
      text-transform: uppercase;
      color: #7e1805;

      border: 1px solid #931b05;
      @include border-radius(5px 5px 0 0);
      @include background-clip(padding-box);

      .title_container {
        line-height: 1;
        padding: rem-calc(8);
        display: inline-block;
        width: 100%;
        height: 100%;

        i {
          display: inline-block;
          width: rem-calc(20);
          height: rem-calc(20);
          background-size: cover;
          vertical-align: middle;
          margin-right: rem-calc(10);
        }
        span {
          vertical-align: middle;
        }
      }



      &.man {
        .title_container {
          i {
            background-image: url('../images/_mobile/_icons/man.png');
          }
        }
      }
      &.woman {
        .title_container {
          i {
            background-image: url('../images/_mobile/_icons/woman.png');
          }
        }
      }

      &.active {
        padding-left: rem-calc(46);
        position: relative;

        .return {
          position: absolute;
          left: 0;
          top: 0;
          width: rem-calc(38);
          height: rem-calc(38);
          border: 1px solid #dedede;

          @include border-radius(5px 0 0 0);
          @include background-clip(padding-box);
          @include linear-gradient(bottom, rgba(217,217,217,.32) 0%, rgba(255,255,255,.32) 100%);



          a {
            display: block;
            width: 100%;
            height: 100%;

            &:after {
              content: '';
              width: 10px;
              height: 10px;
              border-top: 2px solid #812313;
              border-left: 2px solid #812313;
              position: absolute;

              top: 50%;
              left: 50%;
              margin-top: -5px;
              margin-left: -3px;
              transform: rotate(-45deg);
            }
          }
        }

        .title_container {

        }
      }
    }

    .subcategory_title {
      min-height: rem-calc(30);
      line-height: rem-calc(30);
      background: #7d1705;
      position: relative;

      a {
        color: #fff;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0 rem-calc(8);

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          border-bottom: 2px solid #fff;
          border-left: 2px solid #fff;
          position: absolute;

          top: 50%;
          right: rem-calc(15);
          margin-top: -5px;
          transform: rotate(-45deg);
        }
      }
    }

    .categories {
      margin: 0;

      tr {
        background: transparent;

        td {
          line-height: rem-calc(28);
          padding: 0;
          border: 1px solid #f0f0f0;
        }
      }

      a {
        padding: rem-calc(5) rem-calc(8);
        font-size: rem-calc(11);
        display: inline-block;
        width: 100%;
        height: 100%;
        color: black;
        line-height: 1.2;
        min-height: rem-calc(28);

        &.active {
          color: #7e1805;
          font-weight: bold;
        }

        span {
          vertical-align: middle;
        }
      }


    }
  }
}