.quick-order {
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  @include box-shadow(0 3px 10px rgba(0,1,2,.06));

  .tabs {
    .tabs-navigation {
      .tabs-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        border-bottom: 1px solid #dedede;
        background-color: #fff;
        border-radius: $border-radius $border-radius 0 0;
        @include linear-gradient(bottom, rgba(217,217,217,.32) 0%, rgba(255,255,255,.32) 100%);

        .tabs-menu-item {
          flex: 1 0 auto;
          text-align: center;
          height: rem-calc(21);
          line-height: rem-calc(21);
          box-sizing: border-box;
          padding: 0 1em;
          border-right: 1px solid #dedede;

          &:last-of-type {
            border-right: none;
          }

          a {
            font-size: rem-calc(10);
            text-transform: uppercase;
            color: #000;
            vertical-align: middle;
          }

          &.is-active {
            @include linear-gradient(top, rgba(217,217,217,.32) 0%, rgba(255,255,255,.32) 100%);
          }
        }
      }
    }

    .tab-panel {
      display: none;
      background: #f3f3f3 url(../images/inner/catalog_link.png) 0 0 repeat;
      padding: rem-calc(16) 0 ;
      
      &.is-active {
        display: block;
      }
    }
  }

  #quick-order-form {
    padding-top: rem-calc(10);

    input[type='text'],
    textarea {
      font-size: rem-calc(11);
      color: #757575;
      font-style: italic;
    }

    input[type='text'] {
      box-sizing: border-box;
      height: rem-calc(22);

      border: 1px solid rgba(0,1,2,.17);
      background-color: #fff;

      @include border-radius(5px / 5px 5px 5px 5px);
      @include background-clip(padding-box);
      @include box-shadow(inset 0 0 4px rgba(0,1,2,.2));
    }

    input[type='submit'] {
      width: rem-calc(153);
      height: rem-calc(23);
      background-color: #7d1705;
      border: none;

      border-radius: $border-radius;
      @include background-clip(padding-box);
      @include box-shadow(0 2px 0 rgba(126,24,5,.54));

      font-size: rem-calc(12);
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
    }

    .submit-container {
      margin-top: 15px;
    }

    .extra {
      &.message {
        text-align: center;
        font-size: rem-calc(14);
        font-weight: bold;
        color: #7d1705;

      }
    }

    .extra-form {
      .extra-form-close {
        display: none;
      }

      input[type='submit'] {
        padding: 0;
        display: block;
        margin: rem-calc(15) auto;
      }
    }

    //.extra-form {
    //  display: none;
    //}



    .submit-container {
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
}
