.link-add-cart {
  display: inline-block;
  width: 100%;
  line-height: rem-calc(35);
  text-align: center;
  font-size: rem-calc(18);
  font-weight: bold;
  color: #6f582e;
  box-sizing: border-box;

  border: 1px solid #ddc644;
  border-radius: 6px;
  @include background-clip(padding-box);

  background-color: #fcdc26;
  @include linear-gradient(bottom, #f3cc24 0%, #f3de3a 100%);

  i {
    display: inline-block;
    width: rem-calc(28);
    height: rem-calc(25);
    background-size: cover;
    vertical-align: middle;
    margin-right: rem-calc(10);
    background-image: url('../images/_mobile/_icons/cart.png');
  }

  &.small {
    i {
      margin-right: rem-calc(5);
    }
    .text {
      display: none;
    }
  }

  &.to-cart {

    background-image: none;
    background: #fff;
    //background: #969696;
    border: 1px solid #70592E;
  }
}
