.detect-size-link {
  margin: 10px 0 20px 0;

  a {
    border-bottom: 1px dashed $primary-color;
  }
}

.detect-size-container {
  h2 {
    color: #70281b;
    font-size: 28px;
    margin-bottom: 10px;
  }

  .detect-size-list {
    @include reset-list;
    margin: 15px 0;

    li {
      margin-bottom: 10px;
      padding-left: 46px;
      position: relative;

      &::before {
        @include border-radius(20px);
        border: 2px solid $primary-color;
        content: " ";
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        left: 0;
        color: #000;
        text-align: center;
        line-height: 30px;
        font-size: 1.2rem;
      }

      &.one {
        &::before {
          content: "1";
        }
      }

      &.two {
        &::before {
          content: "2";
        }
      }

      &.three {
        &::before {
          content: "3";
        }
      }
    }
  }

  .detect-size-table {
    border: 1px solid #dadcdd;
    width: 100%;

    tr {
      &:nth-of-type(even) {
        background-color: #fff;
      }

      td, th {
        @include antialias;
        border: 1px solid #dadcdd;
        padding: 3px;
        font-size: .85rem;
      }

      th {
        background-color: #f1f1f1;
        width: 108px;
        font-weight: 400;
      }

      td {
        text-align: center;
      }
    }
  }

  .detect-size-image-container {
    height: 320px;
    position: relative;

    img {
      display: block;
      margin: 0 auto;
      height: 320px;
      width: auto;
    }

    .detect-size-shadow {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;
      background: transparent url(../images/main/detect-size-shadow.png) 50% 100% no-repeat;
    }
  }

  .detect-size-description {
    @include border-radius(0 0 0 5px);
    text-align: center;
    background: transparent url(../images/inner/catalog_link.png) 50% 50% repeat;

    h4 {
      color: $primary-color;
      font-weight: 700;
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: 18px 0 6px 0;
      margin: 0;
    }

    p {
      margin-bottom: 8px;
      padding: 0 4px;
    }

    form {
      background-color: $primary-color;
      padding: 12px 10px;
      height: 142px;
      @include border-radius(0 0 0 4px);

      [type="text"] {
        border: 1px solid rgba(1, 2, 5, 0.17);
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
        margin-bottom: 12px;
        height: 32px;
      }

      [type="submit"] {
        height: 30px;
        display: block;
        width: 100%;
        border: 1px solid #d6c450;
        @include border-radius(6px);
        @include background-clip(padding-box);
        background-color: #f3db3f;
        color: #695934;
        @include linear-gradient(bottom, #eecd28 0%, #f7e858 100%);
      }
    }
  }
}

#detect-size-form {
  h1 {
    color: #fff;
  }
}