#footer {
  .footer-content-block {
    background: #fff url('../images/_mobile/footer/bg.png') center 0 no-repeat;
    background-size: cover;

    border-top: 1px solid rgba(0, 0, 0, .24);
    border-bottom: 1px solid rgba(0, 0, 0, .24);
    @include box-shadow(0 2px 5px rgba(0, 1, 2, .06));

    min-height: rem-calc(160);
    box-sizing: border-box;

    padding: rem-calc(22) 0 rem-calc(12) 0;

    .phone {
      a {
        color: #812313;
        font-size: rem-calc(12);
        font-weight: bold;
      }
    }

    .phone-text {
      font-size: rem-calc(10);
      font-style: italic;

      color: #595959;
    }

    .email {
      text-align: center;
    }

    .send-to-ceo {
      color: #92483b;
      font-weight: bold;
      font-style: italic;
      text-decoration: underline;
      text-align: center;
    }

    .request-call {
      margin-top: rem-calc(11);
      margin-bottom: rem-calc(16);

      display: inline-block;
      width: 100%;
      height: rem-calc(23);
      line-height: rem-calc(23);

      text-align: center;
      font-size: rem-calc(12);
      font-weight: bold;
      color: #6f582e;

      border: 1px solid #ddc644;
      @include border-radius(6px / 6px 6px 6px 6px);
      @include background-clip(padding-box);

      background-color: #fcdc26;
      @include linear-gradient(bottom, #f3cc24 0%, #f3de3a 100%);
    }

    .social-list {
      @include antialias;
      @include reset-list;
      @include clearfix;

      .last {
        width: 100%;
        height: 0;
        visibility: hidden;
      }

      li {
        float: left;
        width: 16%;
        text-align: center;
      }

      a {
        @include inline-block;
        //padding: 0 5px;
        color: #5a5a5a;
        background-color: transparent;
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        line-height: 30px;
        //padding-left: 28px;

        text-indent: -9999px;
        background: {
          size: 30px 30px;
        }

        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }

        &.vk {
          background-image: url(../images/mobile/footer/vk.png);
        }

        &.ok {
          background-image: url(../images/mobile/footer/ok.png);
        }

        &.twitter {
          background-image: url(../images/mobile/footer/tw.png);
        }

        &.fb {
          background-image: url(../images/mobile/footer/fb.png);
        }

        &.instagram {
          background-image: url(../images/mobile/footer/instagram.png);
        }

        &.lj {
          background-image: url(../images/main/footer-social-lj.png);
        }

        &.mir {
          background-image: url(../images/main/footer-social-mir.png);
        }

        &.google {
          background-image: url(../images/mobile/footer/gplus.png);
        }
      }
    }
  }

  .links-block {
    border-bottom: 1px solid #d5d5d5;
    padding: rem-calc(18) 0 rem-calc(20) 0;

    .links {
      text-align: center;
      a {
        text-decoration: dashed;
      }
    }
  }

  .copyright-block {
    padding: rem-calc(20) 0 100px;

    .copyright {
      text-align: center;
    }
  }
}

#request-call-form {
  padding: 0;
  margin: 0;

  .form-row {
    margin-bottom: 15px;
  }

  .request-call-form-row {
    margin-top: 15px;
    position: relative;
  }

  [type="submit"] {
    display: block;
    width: 100%;
    text-align: center;
  }
}
