.geo-container {
  @include antialias;

  h1 {
    color: $primary-color;
    text-align: center;
  }

  h3 {
    font-size: 1.3rem;
    color: $primary-color;
  }

  a {
    color: #606060;
    text-decoration: underline;

    &.active {
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
      cursor: default;
    }
  }

  .geo-popular {
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px 0;
    padding: 20px 0;
  }

  .city-list, .geo-region-list {
    margin: 0;

    li {
      padding: 0 0 5px 0;
    }
  }

  .geo-all {
    padding: 20px 0;

    .geo-region-list {
      @include reset-list;

      li {
        @include background-clip(padding-box);
        padding-bottom: 5px;
        position: relative;

        &.active {
          background: #fff url(../images/main/geo-right.png) 0 0 no-repeat;

          a {
            color: $primary-color;
            font-weight: bold;
            text-decoration: none;
          }
        }

        a {
          display: block;
        }
      }
    }
  }
}