.gift-container {
  margin: 20px 0;
  padding-bottom: 15px;
  background-color: #f1f1f1;
  border-bottom: 1px solid rgba(113, 113, 113, 0.24);
  box-shadow: 0 3px 10px rgba(0, 1, 2, 0.07);

  .gift-counter-container {
    margin-bottom: 15px;
    text-align: center;
    background-color: #fbd51e;
    border: {
      style: solid;
      width: 1px 0;
      color: #efac2e;
    }
    padding: 10px 0;
    background-image: linear-gradient(to top, rgba(216, 216, 216, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);

    h3 {
      margin-top: 0;
      font-weight: bold;
      @include antialias;
      font-size: 12px;
      color: #70592e;
    }
  }

  #gift-form {
    padding-top: 20px;
    background-color: #f1f1f1;
    border: {
      width: 0 0 1px 0;
      style: solid;
      color: rgba(113, 113, 113, 0.24);
    }
    box-shadow: 0 3px 10px rgba(0, 1, 2, 0.07);
  }

  .gift-block {
    margin: 0 auto;
    width: 80%;
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background-color: #fff;
    @include box-shadow(0 2px 5px rgba(167, 150, 50, 0.35));
    padding: 5px 0;
    @include antialias;
  }
}