.header-search {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  z-index: 100;
}

.search-form-container {
  position: relative;
  padding: 0 10px;

  .search-popup-container {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    top: auto;
    padding: 0;
  }

  .search-popup {
    margin: 0;
    padding: 0;
    list-style: none;

    z-index: 100;
    top: auto;
    right: 0;
    background-color: #fff;
    border-radius: $border-radius;
    width: 100%;
    box-shadow: 0 2px 6px rgba(#000, 0.09);

    li {
      &:not(:last-child) {
        border-bottom: 1px solid rgba(#dedede, 0.6);
      }

      a {
        padding: 8px 10px;
        color: #353535;
        display: block;

        &:hover {
          background-color: rgba(#ccc, 0.2);
        }
      }
    }
  }

  &:hover {
    .search-popup-container {
      display: block;
    }
  }

  input, input:focus, input:active {
    margin: 0;
    font-size: 1rem;
    @include antialias;
  }
}