header {
  .header-links {
    a {
      &:last-child {
        margin: 0 0 0 22px;
      }
    }
  }

  .header_container {
    padding: 10px 0;
    border-bottom: 1px solid #f7f7f7;
    box-sizing: border-box;

    a {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 20px;
      height: 20px;
      line-height: 20px;

      .icon {
        vertical-align: middle;
        display: inline-block;
        text-indent: -9999px;

        background: url('../images/_mobile/header/icon-menu.png') 0 0 no-repeat;
        background-size: cover;

        width: 19px;
        height: 20px;

        &.menu {
          background-image: url('../images/_mobile/header/icon-menu.png');

          width: 16px;
          height: 15px;
        }

        &.search {
          background-image: url('../images/_mobile/header/icon-search.png');

          width: 15px;
          height: 18px;
        }

        &.cart {
          background-image: url('../images/_mobile/header/icon-cart.png');

          width: 19px;
          height: 17px;
        }

        &.phone {
          background-image: url('../images/_mobile/header/icon-phone.png');

          width: 16px;
          height: 19px;
        }
      }
    }

    #logo {
      width: 100%;

      svg {
        width: 100%;
        height: auto;
        max-height: 20px;
      }

      //@media #{$big_dpi} {
      //  width: 303px;
      //  height: 69px;
      //}
    }
  }

  .advantages_container {
    @include antialias;
    //height: 41px;
    padding: 10px 0;
    border-bottom: 1px solid #f7f7f7;

    .small-5 {
      padding-left: 0;
    }

    .block {
      position: relative;
      background: {
        color: transparent;
        position: 0 50%;
        repeat: no-repeat;
      }
      line-height: 1;
      font-size: .85rem;

      &.delivery {
        $width: 45px;
        $height: 22px;

        padding: 0 0 0 30px;
        background: {
          image: url('../images/_mobile/header/icon-delivery.png');
          size: $width / 2 $height / 2;
        }
      }

      &.fitting {
        $width: 38px;
        $height: 25px;

        padding: 0 0 0 24px;
        background: {
          image: url('../images/_mobile/header/icon-fitting.png');
          size: $width / 2 $height / 2;
        }
      }
    }
  }
}