.how-order-modal {
  h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: $primary-color;
  }

  .how-order-list {
    text-align: center;
    padding: 10px;
    @include antialias;

    li {
      &:last-child {
        width: 100% !important;
        padding-left: 20%;
        padding-right: 20%;
      }
    }

    .how-order-item {
      text-align: center;

      img {
        width: 40px;
        height: auto;
      }

      &.big {
        width: 50%;
      }

      p {
        font-size: .85rem;
        padding: 16px 0 0 0;
      }
    }
  }

  .extra-form-popup {
    border-radius: $border-radius;
    position: absolute;
    bottom: 0;
    background-color: #f2d93c;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    z-index: 200;
    padding: 0 15px;
    @include box-shadow(0 2px 10px rgba(0, 2, 3, 0.32));

    &.complete {
      height: 48px;
      top: 40px;

      h1 {
        margin: 0;
        padding: 0;
        line-height: 48px;
      }
    }

    h1 {
      font-size: 1.1rem;
      line-height: 40px;
      color: #000;
      text-align: center;
    }

    .extra-form-close {
      position: absolute;
      right: 10px;
      top: 0;
      text-decoration: none;
      font-family: Arial;
      font-size: 1.6rem;
      border: 0;
      margin-top: 5px;
      color: #695934;
      z-index: 100;
    }

    .extra-form-title {
      text-align: center;
      color: #695934;
      font-size: 1rem;
      margin-bottom: 10px;
    }

    form {
      padding: 10px;

      h3 {
        color: $primary-color;
        font-size: 1.2rem;
        text-align: center;
      }

      p {
        margin: 0;
        text-align: center;
      }

      [type="text"] {
        height: 28px;
      }

      [type="text"], textarea {
        margin-top: 10px;
        border: 1px solid rgba(1, 2, 5, 0.17);
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
      }

      [type="submit"] {
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 32px;
      }

      textarea {
        height: 70px;
      }
    }
  }
}

#question-form-modal {
  margin-top: 20px;

  [type="text"] {
    height: 32px;
    line-height: 32px;
  }

  [type="submit"] {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
  }
}

.question-container-modal {
  margin-bottom: 20px;
  @include antialias;
  background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
}

.content_container {
  .how-order-item {
    img {
      width: 50%;
      height: auto;
    }
  }
}
