#menu {
  z-index: 1000;
  position: fixed;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  left: -100%;

  @include transition($defaultTransition);

  &.showed {
    left: 0;
  }
  &.dark {
    background: rgba(0, 0, 0, .6);
  }

  .menu_container {
    background: #fff;
    height: 100%;
    height: calc(100% - 50px);
    width: 87%;
    margin-right: 13%;
    padding: 4px 0 100px 0;
    box-sizing: border-box;
    overflow-y: scroll;

    a {
      width: 100%;
      vertical-align: middle;
      color: #3b3b3b;
      display: inline-block;
      border-bottom: 1px solid #d1d1d1;
      font-weight: bold;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        line-height: 29px;
        min-height: 29px;

        ul {
          li {
            padding-left: 5px;

            &.has-children {
              position: relative;

              &:after {
                content: '';
                width: 5px;
                height: 5px;
                border-bottom: 1px solid #d1d1d1;
                border-right: 1px solid #d1d1d1;
                position: absolute;

                top: 50%;
                right: 10px;
                margin-top: -3px;
                transform: rotate(-45deg);
              }

            }

            a {
              font-weight: normal;
            }
          }
        }
      }
    }

  }

  .buttons_container {
    background: #fff;
    height: 50px;

    .mans,
    .close {
      float: left;
      height: 50px;
    }

    .close {
      width: 13%;
      background: #7e1805;
      position: relative;

      &::after, &::before {
        position: absolute;
        content: " ";
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        width: 30px;
        margin-left: 6px;
        margin-top: 22px;
        background: {
          color: #fff;
        }
        border-radius: 2px;
      }

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }

    .mans {
      width: 87%;

      .columns {
        padding: 0;
      }

      .mobile-menu-item {
        text-align: center;
        cursor: pointer;
        height: 50px;
        border-bottom: 1px solid #dedede;
        line-height: 50px;

        color: #7d1805;
        text-transform: uppercase;
        font-size: rem-calc(12);
        font-weight: bold;

        &.active {
          border: {
            width: 0 1px 1px;
            style: solid;
            color: #dedede;
          }
          @include linear-gradient(bottom, rgba(217, 217, 217, .32) 0%, rgba(255, 255, 255, .32) 100%);
        }
      }
    }

  }

}
