.modal-container {
  width: 100% !important;
  //background: #fff;
  background: rgba(255,255,255, .8);

  .modal-content {
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    //margin: rem-calc(10) auto;
    padding: 20px;
    margin: 0;

    @include border-radius(0);
    @include border-radius(none);
    @include box-shadow(none);

    #{$headings} {
      margin-top: 0;
    }

    .modal-close {
      position: fixed;
      right: rem-calc(15);
      top: rem-calc(5);
      z-index: 9999;
      background: none;
      height: auto;
      width: auto;

      &:before {
        content: '×';
        display: inline-block;
        font-size: rem-calc(32);
        font-weight: bold;
        line-height: 1;
      }
    }
  }

}


.modal-container {
  &.detect-size {
    .detect-size-image-container {
      text-align: center;
    }
    .detect-size-description {
      display: none;
    }
    .detect-size-list {
      li {
        margin-left: 1em;
        margin-top: 0.5em;
      }
    }
  }
}

#detect-form-size {
  h1 {
    font-size: 1.3rem;
  }
}