.extra-form-popup {
  margin: 0 10px;
  @include antialias;

  .form-row {
    margin-top: 10px;
  }

  .extra-form-title {
    margin-right: 20px;
  }

  .extra-form-close {
    background: {
      color: #fff;
    }
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    font-family: Arial;
    font-size: 2rem;
    line-height: .6;
    height: 12px;
    width: 12px;
    border: 0;
    margin: 0;
    padding: 0;
    color: $main-color;
    z-index: 150;
  }
}

.question-container {
  @include background-clip(padding-box);
  background: #f1f1f1 url(../images/inner/question_bg.jpg) 0 0 no-repeat;
  @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));
  padding-bottom: 10px;

  .left-side {
    .left-side-container {
      height: 84px;
      text-align: center;

      h3 {
        margin: 0;
        padding: 0;
        color: $primary-color;
        font-size: 1.3rem;
        margin-top: 8px;
        font-weight: bold;
      }

      p {
        color: #585858;
      }
    }
  }

  form {
    h1 {
      margin: 0;
      padding: 0 20px;
      font-size: 1.6rem;
    }

    input {
      width: 100%;
      height: 32px;
      margin: 0;
    }

    [type="text"] {
      border: 1px solid rgba(1, 2, 5, 0.17);
      border-radius: $border-radius;
      @include background-clip(padding-box);
      background-color: #fff;
      @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
    }
  }
}

.product-question-modal {
  padding: 10px;

  .left-side-container {
    margin: 0 0 10px;
    text-align: center;

    h3 {
      color: #70281b;
      font-size: 2rem;
    }
  }

  [type="text"] {
    border: 1px solid rgba(1,2,5,.17);
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background-color: #fff;
    @include box-shadow(inset 0 0 4px rgba(1,2,5,.2));
    margin-top: 10px;
  }

  [type="submit"] {
    margin: 10px 0;
    display: block;
    text-align: center;
    height: 32px;
    line-height: 32px;
    width: 100%;
  }

  .extra-form-popup {
    border-radius: $border-radius;
    position: absolute;
    bottom: 0;
    background-color: #f2d93c;
    height: 245px;
    left: 0;
    z-index: 200;
    padding: 0 15px;
    @include box-shadow(0 2px 10px rgba(0, 2, 3, 0.32));

    &.complete {
      height: 48px;
      top: 130px;

      h1 {
        padding: 10px 0;
        line-height: 26px;
      }
    }

    h1 {
      font-size: 1.1rem;
      line-height: 40px;
      color: #000;
      text-align: center;
    }

    .extra-form-title {
      text-align: center;
      color: #695934;
      font-size: 0.85rem;
    }

    form {
      padding: 10px;

      h3 {
        color: $primary-color;
        font-size: 1.2rem;
        text-align: center;
      }

      p {
        margin: 0;
        text-align: center;
      }

      [type="text"] {
        height: 32px;
      }

      [type="text"], textarea {
        margin-top: 10px;
        border: 1px solid rgba(1, 2, 5, 0.17);
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
      }

      [type="submit"] {
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 32px;
      }

      textarea {
        height: 70px;
      }
    }
  }
}