.reviews-block-container {
  margin: 40px 0;

  h3 {
    font-size: 1.1rem;
    color: $primary-color;
    margin-bottom: 15px;
    padding: 0;

    &.reviews-block-video-title {
      font-size: 1.8rem;
      margin-bottom: 24px;
    }
  }

  .reviews-block-add {
    width: 146px;
    height: 34px;
    line-height: 34px;
    @include float-right;
    border: 1px solid #ddd;
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background-color: #fff;
    @include linear-gradient(bottom, rgba(215, 215, 215, 0.32) 0%, rgba(255, 255, 255, 0.32) 100%);

    .reviews-block-add-icon {
      @include float-left;
      background: transparent url(../images/main/reviews-block-add.png) 6px 8px no-repeat;
      width: 33px;
      height: 34px;
      line-height: 34px;
    }
  }

  .reviews-block-video-list {
    li {
      padding-bottom: 0;

      a {
        border-radius: $border-radius;
        position: relative;
        display: block;

        img {
          border-radius: $border-radius;
        }

        &:after {
          @include border-radius(2px);
          @include box-shadow(0 1px 3px rgba(1, 2, 5, 0.3));
          display: block;
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: {
            color: rgba(0, 0, 0, 0.4);
            size: 25% 25%;
            image: url(../images/main/reviews-block-play.png);
            position: 50% 50%;
            repeat: no-repeat;
          }
        }
      }
    }
  }
}

.reviews-switch {
  @include reset-list;
  @include clearfix;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  li {
    flex: 0 0 50%;
    margin-right: 10px;
    @include antialias;
    @include background-clip(padding-box);
    height: 48px;
    text-align: center;
    padding: 10px 10px 0;
    position: relative;

    &.active {
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      background-color: #fff;
      background-image: linear-gradient(to top, rgba(217, 217, 217, 0.32) 0%, rgba(255, 255, 255, 0.32) 100%);

      &:after, &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(217, 217, 217, 0);
        border-top-color: rgba(#d9d9d9, 0.32);
        border-width: 5px;
        margin-left: -5px;
      }
      &:before {
        border-color: rgba(223, 223, 223, 0);
        border-top-color: #dfdfdf;
        border-width: 6px;
        margin-left: -6px;
      }

      a {
        border-bottom: 1px dashed transparent;
      }
    }

    a {
      border-bottom: 1px dashed $primary-color;
    }
  }
}

.reviews-full-item {
  .reviews-full-item-image {
    border-radius: $border-radius;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 4px;
    @include box-shadow(0 1px 3px rgba(1, 2, 5, 0.3));

    img {
      width: 100%;
      height: auto;
    }
  }

  .reviews-full-item-content {
    margin: 10px;
    padding-bottom: 20px;

    &.with-panel {
      padding-bottom: 0;
      margin: 10px 10px 0 190px;
    }

    .reviews-full-item-title {
      font-weight: bold;
      color: #585858;
    }

    .reviews-full-item-author {
      font-style: italic;
      margin-bottom: 15px;
    }
  }

  .reviews-full-item-panel {
    @include clearfix;
    @include border-radius(0 0 5px 5px);
    clear: both;
    border-top: 1px solid #d4d4d4;
    padding: 10px;
    background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;

    .reviews-full-item-panel-list {
      @include reset-list;

      li {
        overflow: hidden;
        @include float-left;
        margin-right: 15px;
        border: 3px solid #fff;
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(0 1px 3px rgba(1, 2, 5, 0.3));
        width: 112px;
        height: 85px;
        position: relative;
        @include transition($defaultTransition);

        &:hover {
          border: 3px solid $primary-color;
        }

        a {
          img {
            width: 100%;
            height: auto;
          }

          &.video {
            &:after {
              @include border-radius(2px);
              @include box-shadow(0 1px 3px rgba(1, 2, 5, 0.3));
              display: block;
              content: " ";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.4) url(../images/main/reviews-video-play.png) 50% 50% no-repeat;
            }
          }
        }
      }
    }
  }
}

.review-tabbed-container {
  margin: 11px 0 0 0;

  .reviews-all-link {
    text-align: center;

    a {
      @include inline-block;
      padding: 0 15px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      font-size: 0.8rem;
      font-weight: bold;
      border: 1px solid #ddd;
      border-radius: $border-radius;
      @include background-clip(padding-box);
      background-color: #fff;
      @include linear-gradient(bottom, rgba(215, 215, 215, 0.32) 0%, rgba(255, 255, 255, 0.32) 100%);
    }
  }

  .pager {
    @include reset-list;
    position: relative;
    margin: 20px auto;
    text-align: center;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 5px 10px;
        border-radius: $border-radius;
        border: 2px solid transparent;
      }

      &.active, &:hover {
        a {
          background-color: transparent;
          color: $primary-color;
          border: 2px solid $primary-color;
        }
      }
    }
  }

  .pager-nav {
    display: none;
  }
}