.sales-form-container {
  margin: 20px 0;
  text-align: center;
  font-size: .9rem;
  @include antialias;
  background-color: #f1f1f1;
  border-bottom: 1px solid rgba(113, 113, 113, 0.24);
  box-shadow: 0 3px 10px rgba(0, 1, 2, 0.07);
  padding-bottom: 10px;

  .sales-form-header {
    padding: 10px 0;
    background-color: #fbd51e;
    background-image: linear-gradient(to top, rgba(216, 216, 216, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    border: {
      style: solid;
      width: 1px 0;
      color: #efac2e;
    }
  }

  h4 {
    font-size: 1.4rem;
    margin: 0;
    color: $main-color;
  }

  form {
    margin-top: 15px !important;
    margin-bottom: 15px !important;

    [type="submit"] {
        width: 100%;
    }
  }
}
