.category-list-container-title {
  color: $main-color;
  font-size: rem-calc(20px);
}

.category-list-container {
  hr {
    background: {
      color: #ccc;
    }
  }

  .button {
    display: block;
    width: 120px;
    position: relative;
    margin: 0 auto;
    top: -33px;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;

    &::after, &::before {
      position: absolute;
      top: 0;
      content: " ";
      width: 14px;
      height: 30px;
      background-color: #fff;
    }

    &::after {
      right: -15px;
    }

    &::before {
      left: -15px;
    }
  }

  .product-item {
    @include antialias;

    .product-image {
      margin-bottom: 5px;

      .preload {
        display: none;
      }
    }

    .product-item-title, .product-item-price-container {
      font-size: rem-calc(14px);
      color: $main-color;
    }

    .product-item-price-container {
      color: $main-color;
      font-weight: bold;
    }
  }
}