.money-container {
  h2, h4 {
    @include antialias;
    text-align: center;
  }

  h2 {
    font-weight: 700;
    color: #70281b;
  }

  h4 {
    font-style: italic;
    color: #3d3d3d;
  }
}

.money-list {
  margin-top: 30px;

  li {
    position: relative;
    padding-left: 80px;

    p {
      font-size: 1rem;
      color: #575757;
    }

    .title {
      @include antialias;
      font-weight: 700;
      color: #232323;
      font-size: 1rem;
    }

    .count {
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      display: block;
      left: 20px;
      @include border-radius(100%);
      border: 2px solid #702618;
      color: #702618;
      font-size: 1.3rem;
      @include antialias;
      text-indent: 1px;
    }
  }
}

.work-container {
  margin-top: 40px;

  h2 {
    @include antialias;
    text-align: center;
    font-weight: 700;
    color: #70281b;
  }

  .work-list {
    margin-top: 20px;

    li {
      @include antialias;
      background: {
        color: transparent;
        position: 50% 0;
        repeat: no-repeat;
        size: 35px auto;
      }
      padding-top: 40px;

      &:last-child {
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
      }

      &.work-list-icon-people {
        background: {
          image: url(../images/main/work-list-icon-people.png);
        }
      }

      &.work-list-icon-sack {
        background: {
          image: url(../images/main/work-list-icon-sack.png);
        }
      }

      &.work-list-icon-shop {
        background: {
          image: url(../images/main/work-list-icon-shop.png);
        }
      }

      .title {
        color: #232323;
        margin-bottom: 10px;
        font-weight: 700;
      }

      p {
        font-size: 1rem;
        text-align: center;
        color: #575757;
      }
    }
  }
}

.how-work-container {
  min-height: 350px;
  background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
  padding-top: 32px;
  color: #5a5a5a;
  border-color: rgba(112, 112, 112, 0.24);
  border-style: solid;
  border-width: 1px 0;
  @include background-clip(padding-box);
  @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));

  h2 {
    @include antialias;
    margin-bottom: 20px;
    font-size: 1.6rem;
    color: #70281b;
    text-align: center;
  }

  .how-work-list {
    li {
      @include antialias;
      position: relative;
      padding-top: 40px;
      background: {
        position: 50% 0;
        repeat: no-repeat;
        color: transparent;
        size: auto 30px;
      }

      p {
        font-size: .9rem;
      }

      .text {
        text-align: center;
      }

      &.img1 {
        background-image: url(../images/main/how-work-1.png);
      }

      &.img2 {
        background-image: url(../images/main/how-work-2.png);
      }

      &.img3 {
        background-image: url(../images/main/how-work-3.png);
      }

      &.img4 {
        background-image: url(../images/main/how-work-4.png);
      }

      &.img5 {
        background-image: url(../images/main/how-work-5.png);
      }

      &.img6 {
        background-image: url(../images/main/how-work-6.png);
      }

      &.img7 {
        background-image: url(../images/main/how-work-7.png);
      }

      &.img8 {
        background-image: url(../images/main/how-work-8.png);
      }
    }
  }
}

.conditions-container {
  margin: 40px 0;

  h2 {
    @include antialias;
    margin-bottom: 20px;
    font-size: 1.6rem;
    color: #70281b;
    text-align: center;

    &.second {
      margin-top: 40px;
    }
  }

  .deco-text {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
  }
}

.modal-container {
  .modal-content {
    &.salesback-modal {
      width: 272px;
    }
  }
}

#SalesBack-form {
  h1, h3 {
    color: #812414;
    font-size: 1.6rem;
    padding: 10px;
    text-align: center;
  }

  h3 {
    font-size: 1.15rem;
    padding: 20px 20px 15px 20px;
    margin:0;
  }

  [type="text"], textarea {
    order: 1px solid rgba(1, 2, 5, .17);
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background-color: #fff;
    @include box-shadow(inset 0 0 4px rgba(1, 2, 5, .2));
    margin: 0;
    padding: 3px 10px;
  }

  [type="submit"] {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
  }

  .inputs {
    background: #FBD51F;
    padding: 15px 20px 20px 20px;
    color: #70592e;
    @include border-radius(0 0 5px 5px);

    .form-row {
      label { font-size: 0.815rem; }
      label, .hint {
        color: #70582E;
        font-style: italic;
      }
      .hint {
        margin-top: 5px;
        font-size: 0.7rem;
        text-align: center;
        margin-bottom: 10px;
      }
      input {
        height: 28px;
        line-height: 28px;
        font-size: 0.875rem;

        &[type="text"] {
          border: 1px solid rgba(0,1,2,.17);
          border-radius: $border-radius;
          @include background-clip(padding-box);
          @include box-shadow(inset 0 0 4px rgba(0,1,2,.2));
        }

        &[type="submit"] {
          height: 30px;
          line-height: 30px;

          border: 1px solid #a72f19;
          background-color: #802413;
          @include border-radius(4px);
          @include background-clip(padding-box);
          @include linear-gradient(bottom, rgba(78,16,6,.36) 0%, rgba(168,37,14,.36) 100%);
        }
      }
    }

    .comment {
      margin-top: 10px;
      text-align: center;
      font-size: 0.875rem;
      font-style: italic;
    }
  }
}