.product-slider {
  position: relative;
  padding: 0 15px;
  min-height: rem-calc(270);

  .slider {
    position: relative;

    .slick-list {
      .slick-slide {
        padding: 10px;

        .product-item {
          .image-holder {
            min-height: rem-calc(150);
            text-align: center;
          }
        }
      }
    }

    .slick-prev,
    .slick-next {
      padding: 0;
      margin: 0;
      top: 50%;
      margin-top: -70px;
      display: block;
      position: absolute;

      width: 10px;
      height: 51px;

      background: transparent url("../images/_mobile/_icons/product_slider_arrows.png") 0 0 no-repeat;
      text-indent: -9999px;

    }

    .slick-prev {
      left: -20px;
    }
    .slick-next {
      right: -20px;
      background-position: right 0;
    }

    .slick-disabled {
      display: none !important;
    }
  }
}
//.product-slider {
//   position: relative;
//   padding: 0 15px;
//
//   .pager-container {
//     .pager {
//       display: none;
//     }
//
//     .pager-nav {
//       .page--first,
//       .page--last {
//         display: none;
//       }
//
//       .page--next,
//       .page--prev {
//         top: 50%;
//         margin-top: -70px;
//         display: block;
//         position: absolute;
//
//         a {
//           display: block;
//           width: 10px;
//           height: 51px;
//           background-image: url("../images/_mobile/_icons/product_slider_arrows.png");
//           text-indent: -9999px;
//         }
//       }
//
//       .page--prev {
//         left: 0;
//       }
//
//       .page--next {
//         right: 0;
//         a {
//
//           background-position: right 0;
//         }
//       }
//     }
//   }
// }