.slider-index {
  position: relative;

  .slider-index-item {
    img {
      width: 100%;
      height: auto;
    }
  }

  .pager-nav {
    display: none;
  }

  .pager {
    position: absolute;
    right: 20px;
    bottom: 14px;

    li {
      @include float-right;
      display: block;
      margin: 0 3px;
      height: 5px;

      a {
        position: relative;
        padding: 0;
        width: 5px;
        height: 5px;
        display: inline-block;
        border: 1px solid #6c1e0e;
        background-color: #fff;

        @include hide-text;
        @include opacity(0.8);
        @include border-radius(20px);
        @include background-clip(padding-box);

        &:after {
          content: ' ';
          width: 3px;
          height: 3px;
          top: 2px;
          left: 2px;
          position: absolute;
          background: transparent;

          @include border-radius(20px);
          @include background-clip(padding-box);
        }
      }

      &.active {
        margin: 0 3px;

        a {
          border: 1px solid #6c1e0e;
          //background-color: #6c1e0e;

          @include opacity(0.8);
          @include border-radius(20px);
          @include background-clip(padding-box);

          &:after {
            background-color: #6c1e0e;
          }
        }
      }
    }
  }
}