.loading, .loading-logo {
    position: absolute;
}

.loading > i {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loader 1.1s infinite linear;
    animation: loader 1.1s infinite linear;
    border-left-color: #fff;
    border-style: solid;
}

.loading > i,
.loading > i:after {
    border-radius: 50%;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.page-load {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10000;
}

.l-page {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    top: 50%;
    text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .l-page {
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;
    }
}

.loading-logo {
    width: 403px;
    height: 89px;
    position: absolute;
    left: 50%;
    margin-left: -201.5px;
    top: 50%;
    margin-top: -160px;
    text-align: center;
}

.loading-logo svg {
    width: 403px;
    height: 89px;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .loading-logo {
        width: 201.5px;
        height: 44.5px;
        margin-left: -100.75px;
        margin-top: -80px;
    }
    .loading-logo svg {
        width: 201.5px;
        height: 44.5px;
    }
}

.l-page > i {
    border-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.4);
    border-right-color: rgba(0, 0, 0, 0.4);
    border-bottom-color: rgba(0, 0, 0, 0.4);
}

.page-load,
.l-page {
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.pl-0 {
    opacity: 0;
}

.pl-1 {
    display: none;
}

.animated {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}

.zoomIn {
    animation-name: zoomIn;
}
