{% extends "catalog/base.html" %}

{% block content %}
    <div class="row">
        <div class="columns large-5">
            <a href="{{ model.image.image.url }}">
                <img src="{{ model.image.image.url }}" alt="{{ model }}" class="th"/>
            </a>
            {% comment %}
            <p>&nbsp;</p>
            <ul class="medium-block-grid-3">
                {% for image in model.images.exclude(['pk' => model.image.pk]) %}
                    <li>
                        <a href="{{ image.image.url }}">
                            <img src="{{ image.image.url }}" class="th" alt="{{ model }}"/>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% endcomment %}
        </div>
        <div class="columns large-7">
            <h1>{{ model }}</h1>
            <p>{{ model.price }}</p>
            <hr/>
            {{ model.content|safe }}
        </div>
        {% if model.categories.count() > 0 %}
        <div class="columns large-12">
            <hr/>
            <h1>Так же находится в категориях:</h1>
            <ul class="no-bullet">
                {% for category in model.categories.all %}
                    <li><a href="{{ category.getAbsoluteUrl }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if last_view %}
        <div class="columns large-12">
            <hr/>
            <h1>Недавно вы смотрели:</h1>
            <ul class="no-bullet">
                {% for last in last_view %}
                    <li><a href="{{ last.getAbsoluteUrl }}">{{ last }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}
