.breadcrumbs-container {
  margin: 0 0 20px 0;

  .breadcrumbs {
    @include reset-list;
    @include clearfix;
    font-size: .9rem;
    color: $text-color;
    margin: 0;

    li {
      @include float-left;
      margin-right: 5px;
      text-transform: uppercase;

      &:not(:first-child) {
        &::before {
          content: "/";
          color: #AAA;
          margin: 0 .75rem;
          position: relative;
          top: 1px;
        }
      }

      a {
        color: $text-color;
        text-decoration: underline;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}