.button {
  height: 32px;
  line-height: 32px;
  color: #fff;
  outline: none;
  @include antialias;
  font-weight: 700;
  font-size: 0.9rem;
  border: 1px solid #8f3220;
  border-radius: $border-radius;
  @include background-clip(padding-box);
  padding: 0 5px;
  background: {
    color: #6f281b;
    image: linear-gradient(top, rgba(144, 41, 23, 0.36) 0%, rgba(69, 23, 15, 0.36) 100%);
  }

  &:hover, &:active {
    background-image: linear-gradient(top, rgba(69, 23, 15, 0.36) 0%, rgba(144, 41, 23, 0.36) 100%);
  }
}