.error-page {
  padding-top: 50px;

  .error-data {
    $errorSize: 150px;
    $errorWidth: 750px;
    $errorCodeWidth: 280px;

    width: $errorWidth;
    margin: 0 auto;

    .error-code {
      width: $errorCodeWidth;
      float: left;

      font-size: $errorSize;
      line-height: $errorSize;
      color: $primary-color;
      font-weight: 300;
    }

    .error-info {
      float: left;
      display: inline-block;
      height: $errorSize;
      line-height: $errorSize;
      width: $errorWidth - $errorCodeWidth;
      padding-left: 20px;

      .multiline {
        display: inline-block;
        line-height: 1.3;
        width: 100%;
        vertical-align: middle;

        .error-title {
          font-size: 40px;
          line-height: 1;
          margin-bottom: 10px;
          font-weight: 300;
        }

        .error-description {
          font-size: 20px;
        }
      }

    }
  }
}