.button {
  padding: 0 5px;
  margin: 0;
  text-align: center;
  @include transition($defaultTransition);
}

form {
  .error + .errors {
    display: block;
  }

  .error {
    &:active, &:hover {
      + .errors {
        display: block !important;
      }
    }
  }

  .form-row {
    position: relative;
    .input-line {
      position:relative;
    }
  }

  .errors {
    @include reset-list;
    position: absolute;
    bottom: 100%;
    bottom: calc(100% + 5px);
    background-color: rgba(155, 0, 0, 0.8);
    border-radius: $border-radius;
    padding: 4px;

    &:after {
      top: 100%;
      left: 10%;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: 5px solid rgba(0, 0, 0, 0);
      border-top-color: rgba(155, 0, 0, 0.8);
      margin-left: -5px;
    }

    li {
      color: #fff;
      padding-left: 0 !important;

      &:before {
        display: none;
      }
    }
  }
}

body {
  input[type=checkbox], input[type=file], input[type=radio] {
    margin: 0;
  }
}

input[type="text"],
input[type="tel"],
input[type="password"],
textarea {
  @include antialias;
  border: 1px solid #dedede;
  border-radius: $border-radius;
  margin: 0;
  width: 100%;
  padding: 5px;
  min-height: 30px;
  outline: none;
  @include background-clip(padding-box);
  background: {
    color: #fff
  }
  box-shadow: inset 0 0 4px rgba(1, 2, 5, .2);

  &:focus, &:active {
    border: 1px solid $main-color;
  }
}

textarea {
  max-width: 100%;
}

select {
  border: none;
  @include box-shadow(none);
  background-color: #fff;
  height: 37px;
  margin: 0;

  &:hover {
    background-color: #fff;
  }
}

.select-holder {
  position: relative;
  display: inline-block;
  border: 1px solid #dedede;
  @include border-radius(6px);
  overflow: hidden;
  width: 100%;

  &::after {
    // Webkit bug still exists http://tech.bluesmoon.info/2011/04/overflowhidden-border-radius-and.html
    -webkit-border-radius: 0 6px 6px 0;
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    background-image: url("../images/select-bg.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  select {
    padding-right: 30px;
  }

  &:hover {
    border: 1px solid #dedede;
    background-color: #fff;
  }
}

label {
  font-size: 12px;
  color: #9f9f9f;
  margin-bottom: 2px;
}

form {
  input, textarea, select {
    &.error {
      border-color: rgba(155, 0, 0, 1) !important;
    }
  }

  ul.error {
    margin-top: 2px;
    list-style: none;
    color: $alert-color;

    li {
      margin-bottom: 2px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}