/* black */
.mnotify-black {
  background: transparent url(../images/mnotify/bg.png) 0 0 repeat;
  color: #fff;

  &, .mnotify-container {
    @include border-radius;
  }
}

/* end black */

/* Hides position: fixed from IE6 */
html > body .mnotify {
  position: fixed;
}

.mnotify {
  border-radius: $border-radius;
  top: 25px;
  right: 25px;
  position: absolute;
  height: auto;
  z-index: 19999;

  .mnotify-shadow {
    @include box-shadow(0px 2px 10px rgba(50, 50, 50, 0.5));
  }

  .mnotify-container {
    border-radius: $border-radius;
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0;

    .mnotify-title {
      font-weight: 400;
    }

    .mnotify-text {
      display: block;

      a {
        color: #fff;
      }
    }
  }
}

.mnotify-sharp {
  @include border-radius(0);
}

.mnotify-closer, .mnotify-sticker {
  float: right;
  margin-left: .2em;
}

.mnotify-icon {
  &, span {
    display: block;
    float: left;
    margin-right: .2em;
  }
}

/* -- History Pulldown */
.mnotify-history-container {
  position: absolute;
  top: 0;
  right: 18px;
  width: 70px;
  border-top: none;
  padding: 0;
  @include border-radius(0 0);

  /* Ensures history container is above notices. */
  z-index: 10000;

  .mnotify-history-header {
    padding: 2px;
  }

  button {
    cursor: pointer;
    display: block;
    width: 100%;
  }

  .mnotify-history-pulldown {
    display: block;
    margin: 0 auto;
  }
}

/* Alternate stack initial positioning. */
.mnotify.stack-topleft, .mnotify.stack-bottomleft {
  left: 25px;
  right: auto;
}

.mnotify.stack-bottomright, .mnotify.stack-bottomleft {
  bottom: 25px;
  top: auto;
}