.modal-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(64, 64, 64, 0.9);
  width: 100%;
  overflow: auto;
  z-index: 1000;

  .modal-content {
    &.padding {
      padding: 25px;
      min-height: 772px;
    }
  }


  .modal-content {
    border-radius: $border-radius;
    @include background-clip(padding-box);
    @include box-shadow(3px 4px 35px rgba(92, 99, 100, 0.97));
    // padding: 25px;
    background-color: #fff;
    margin: 60px auto;
    width: 1024px;
    position: relative;

    .modal-close {
      position: absolute;
      top: 0;
      right: -48px;
      width: 34px;
      height: 34px;
      background: transparent url(../images/main/modal-close.png) 0 0 no-repeat;
    }
  }
}

.modal-next-link, .modal-prev-link {
  position: absolute;
  top: 50%;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 43px;
  height: 128px;
  margin-top: -64px;
  opacity: 1;
  padding: 5px;
  border-radius: $border-radius;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &.disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.modal-next-link {
  right: -60px;
  background-image: url(../images/main/modal-next.png);
}

.modal-prev-link {
  left: -60px;
  background-image: url(../images/main/modal-prev.png);
}