article {
  ul {
    list-style: none;
    margin: 5px 0px;

    li {
      padding-left: 10px;
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        @include border-radius(2px);
        width: 4px;
        margin-top: 9px;
        height: 4px;
        content: '';
        float: left;
        margin-right: 5px;
        background-color: $primary-color;
      }
    }
  }

  a {
    border-bottom: 1px solid;
  }

  em span a {
    display: inline-block;
  }

  iframe {
    @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.23));
    // drop
    padding: 5px;
  }

  table {
    width: 100%;

    tr:nth-child(1) {
      background-color: #f8f8f8 !important;
      color: #787878;
    }

    tr {
      background-color: #ffffff !important;

      td {
        padding: 15px 10px;
        border: 1px solid #dedede;
      }
    }
  }
}

.align {
  &.center { text-align: center; }
  &.left   { text-align: left;   }
  &.right  { text-align: right;  }
}