.pager {
  @include reset-list;
  @include clearfix;

  text-align: center;

  li {
    @include inline-block;
    margin: 0 4px;

    &.selected a {
      text-decoration: underline;
    }

    span {
      color: $concrete;
    }

    span, a {
      padding: 2px 8px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
