.b-personal-data {
  font-size: 12px;
  text-align: center;
  padding: .5em .5em;

  &__link {

  }
  &__input {
    width: auto !important;
    height: auto !important;
    padding: 0;
    margin: 0;
  }
  &__check {
    margin: 0 .2em !important;
  }
}
