.timer-list {
  @include noselect;
  @include reset-list;
  cursor: default;
  @include clearfix;

  li {
    width: 25%;
    float: left;
    text-align: center;

    p {
      margin: 0;
    }

    .timer-count-item {
      line-height: 1.2;
      font-size: 1.05rem;
    }

    .timer-count-text {
      font-size: .8rem;
      line-height: 1;
    }
  }
}