{% extends "base.html" %}

{% block css_head %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/dist/{{ version }}/css/all.css">
{% endblock %}

{% block js %}
{% endblock %}

{% block body %}
<div id="app">
    <div class="coupon-wrapper payment-wrapper">
        <div class="section section-logo">
            <div class="row">
                <div class="columns small-10">
                    <a class="" href="/">
                        <img src="/logo.png" alt="Мехарди"></a>
                </div>
            </div>
        </div>
        <div>
            <div class="section section-title">
                <div class="row">
                    <div class="columns small-10">
                        <div class="container">
                            <div class="h1">
                                Оплата заказа на сумму {{ model.price|number_format(0,'.',' ') }} руб.
                            </div>
                            <div class="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section payment-info">
                <div class="row">
                    <div class="column small-12">
                        <form method="POST" action="https://money.yandex.ru/eshop.xml">

                            <input type="hidden" name="shopId" value="{{ param('orders.yandexMoney.shop_id') }}">
                            <input type="hidden" name="scid" value="{{ param('orders.yandexMoney.sc_id') }}">

                            <input type=hidden name="customerNumber" value="{{ model.code }}">
                            <input type=hidden name="sum" value="{{ model.price }}">


                            <input type=hidden name="cps_phone" size="64" value="{{ model.phone }}">
                            <input type=hidden name="custName" size="43" value="{{ model.name }}">
                            <input type=hidden name="custAddr" size="43" value="{{ model.phone }}">
                            <input type=hidden name="custEmail" size="43" value="{{ model.email }}">
                            <textarea rows="10" name="orderDetails" cols="34" readonly style="font-family: 'Roboto Mono', Arial; display: none;">{{ model.getField('products').toPlainText()|raw  }}</textarea>

                            <div class="info">
                                <span class="bold">Способ оплаты:</span>
                                <span class="inputs">
                                    <input id="paymentType_AC" name="paymentType" value="AC" type="radio" checked="checked" />
                                    <label for="paymentType_AC">С банковской карты</label>

                                    <br/>

                                    <input id="paymentType_PC" name="paymentType" value="PC" type="radio" />
                                    <label for="paymentType_PC">Со счета в Яндекс.Деньгах (яндекс кошелек)</label>
                                </span>
                            </div>
                            <div class="info">
                                <span class="bold">Ф.И.О:</span>
                                <span>{{ model.name }}</span>
                            </div>

                            <div class="info">
                                <span class="bold">Номер телефона:</span>
                                <span>{{ model.phone }}</span>
                            </div>

                            {% if model.address %}
                            <div class="info">
                                <span class="bold">Электронный адрес:</span>
                                <span>{{ model.email }}</span>
                            </div>
                            {% endif %}

                            {% if model.address %}
                            <div class="info">
                                <span class="bold">Адрес доставки:</span>

                                <pre class="inputs">{{ model.address }}</pre>
                            </div>
                            {% endif %}

                            <div class="info">
                                <span class="bold">Заказ:</span>
                                <pre class="inputs">{{ model.getField('products').toPlainText()|raw  }}</pre>
                            </div>

                            <div class="buttons">

                                <button type=submit class="btn button">Оплатить</button>
                            </div>
                        </form>

                    </div>
                    {#<div class="column small-3">#}
                        {#<div class="block-code">#}
                            {#<p class="text" >Ваш промокод:</p>#}
                            {#<p class="code">e5a9b71f</p>#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
            {#<div class="section section-provision">#}
                {#<div class="row">#}
                    {#<div class="columns small-10">#}
                        {#<div class="block-provision px13">#}
                            {#<p class="title">#}
                                {#Условия использования:#}
                            {#</p>#}
                            {#<p>1. Купон суммируется со всеми скидками!</p>#}
                            {#<p><span>2. Купон дает право его обладателю получить дополнительную скидку в салонах </span><br#}
                                {#><span>и интернет-магазине «Кожаная одежда»</span>#}
                            {#</p>#}
                            {#<p>3. Вы можете приобрести товар в рассрочку или кредит на#}
                                {#срок до 2-х лет без переплаты. Для оформления нужен только паспорт, оформление на месте.#}
                                {#Товар Вы забираете сразу.</p>#}
                            {#<p>4. Купон не действует в период проведения специальных#}
                                {#акций.</p></div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="section section-footer">#}
                {#<div class="row">#}
                    {#<div class="column small-10">#}
                        {#<p>#}
                            {#<span class="bold">#}
                                {#Адрес сайта: #}
                            {#</span>#}
                            {#<span>ko-kirov.ru</span>#}
                        {#</p>#}
                        {#<p class="px12">#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</div>
{% endblock %}
