@import "mindy/normalize";
@import "base";
@import "settings";
@import "mindy/mindy";
@import "mixins";

//@import "flexy/flexy";
//@import "flexy/theme/default";

@import "block/button";
@import "block/input-group";

@import "base/timer";
@import "base/button";
@import "base/input";
@import "base/error";
@import "base/pages";
@import "base/menu";
@import "base/sidebar";
@import "base/breadcrumbs";
@import "base/pager";
@import "base/mnotify";
@import "base/mixins";
@import "base/modal";
@import "base/personal-data";

@import "screen/base/header";

@import "vendor/ui";
@import "vendor/range_slider";
@import "vendor/fancybox";
@import "vendor/leaflet";
@import "vendor/tooltip";

@import "screen/parts/sitemap";
@import "screen/parts/forms";
@import "screen/parts/mmodal";

@import "screen/parts/header";
@import "screen/parts/fly";
@import "screen/parts/base";
@import "screen/parts/index";
@import "screen/parts/slick";
@import "screen/parts/sales";
@import "screen/parts/inner";
@import "screen/parts/footer";
@import "screen/parts/contacts";
@import "screen/parts/loader";
@import "screen/parts/cart";
@import "screen/parts/clock";
@import "screen/parts/gift";
@import "screen/parts/how_order";
@import "screen/parts/order_status";
@import "screen/parts/question";
@import "screen/parts/products";
@import "screen/parts/slider";
@import "screen/parts/features";
@import "screen/parts/best";
@import "screen/parts/modal";
@import "screen/parts/detect_size";
@import "screen/parts/show_reviews";
@import "screen/parts/reviews_block";
@import "screen/parts/reviews_full";
@import "screen/parts/seo_text";
@import "screen/parts/tabs";
@import "screen/parts/quick_order";
@import "screen/parts/extra_form";
@import "screen/parts/social";
@import "screen/parts/social_likes";
@import "screen/parts/product_gift";
@import "screen/parts/geo";
@import "screen/parts/page";
@import "screen/parts/tooltip";
@import "screen/parts/odometer";
@import "screen/parts/print";
@import "screen/parts/totop";
@import "screen/parts/feedback";
@import "screen/parts/subscribe";
@import "screen/parts/coupon";
@import "screen/parts/head_recent";
@import "screen/parts/cart_button";
@import "screen/parts/payment_page";
@import "screen/parts/question-extra-form";

.skylight-dialog {
  h2 {
    margin: 0 0 16px 0;
  }
}

.b-form__row {
  margin-bottom: 1em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.preload {
  display: none;
}

.clear {
  @include clearfix;
}

a {
  text-decoration: none;
  color: $main-color;
}

hr {
  border: solid #DDD;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

#request-call-form {
  padding: 0;
  margin: 0;

  h1 {
    margin-top: 0;
    color: #852525;
  }

  .form-row {
    margin-bottom: 15px;
  }

  .request-call-form-row {
    margin-top: 15px;
    position: relative;
  }

  [type="submit"] {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.skylight-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.error-container {
  background: {
    color: rgba($pomegranate, .2)
  }
  padding: 15px;
  border-radius: $border-radius;
  border: 1px solid rgba($pomegranate, .4);
  margin: 20px 0;
  color: #353535;
  font-size: 1rem;
}

@media #{$medium-only} {
  [class*=block-grid-] {
    margin: 0 !important;
  }
}

.product-filter-container {
  @include antialias;
}

.page-size-container {
  text-align: right;

  .page-size {
    a {
      color: $primary-color;
      border-bottom: 1px dashed $primary-color;
      margin: 0 0 0 10px;

      &.active {
        color: $gray-color;
        border-bottom: 1px dashed $gray-color;
      }
    }
  }
}

.product-list-container {
  .pager-container {
    .pager {
      text-align: left;

      li {
        margin: 0 16px 0 0;

        a {
          padding: 2px 0;
        }
      }
    }
  }
}
