.loading, .loading-logo {
  position: absolute;
}

.loading > i {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loader 1.1s infinite linear;
  animation: loader 1.1s infinite linear;
  border-left-color: #fff;
  border-style: solid;
}

.loading > i,
.loading > i:after {
  border-radius: 50%;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.page-load {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10000;
}

.l-page {
  $loader-width: 100px;
  $loader-height: 100px;

  width: $loader-width;
  height: $loader-height;
  position: absolute;
  left: 50%;
  margin-left: -($loader-width / 2);
  margin-top: -($loader-height / 2);
  top: 50%;
  text-align: center;

  @media (-webkit-min-device-pixel-ratio: 2) {
    width: $loader-width / 2;
    height: $loader-height / 2;
    margin-left: -($loader-width / 4);
    margin-top: -($loader-height / 4);
  }
}

.loading-logo {
  $logo-width: 403px;
  $logo-height: 89px;

  width: $logo-width;
  height: $logo-height;
  position: absolute;
  left: 50%;
  margin-left: -($logo-width / 2);
  top: 50%;
  margin-top: -160px;
  text-align: center;

  svg {
    width: $logo-width;
    height: $logo-height;
  }

  @media (-webkit-min-device-pixel-ratio: 2) {
    width: $logo-width / 2;
    height: $logo-height / 2;
    margin-left: -($logo-width / 4);
    margin-top: -80px;

    svg {
      width: $logo-width / 2;
      height: $logo-height / 2;
    }
  }
}

.l-page > i {
  border-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.4);
  border-right-color: rgba(0, 0, 0, 0.4);
  border-bottom-color: rgba(0, 0, 0, 0.4);
}

.page-load,
.l-page {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.pl-0 {
  opacity: 0;
}

.pl-1 {
  display: none;
}

.animated {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomIn {
  animation-name: zoomIn;
}