@import "mindy/normalize";
@import "base";
@import "settings_mobile";
@import "mindy/mindy";
@import "mixins";

@import "block/button";
@import "block/input-group";

@import "vendor/slick";

#app {
  max-width: $row-width;
  margin: 0 auto;
}

@import "mobile/base/global";
@import "mobile/base/error";

@import "base/button";
@import "base/input";
@import "base/timer";
@import "base/mixins";
@import "base/mnotify";
@import "base/modal";
@import "base/personal-data";

@import "vendor/ui";
@import "vendor/fancybox";
@import "vendor/leaflet";
@import "vendor/range_slider";

@import "mobile/parts/modal";
@import "mobile/parts/sales";
@import "mobile/parts/header";
@import "mobile/parts/menu";
@import "mobile/parts/sales_products";
@import "mobile/parts/question";
@import "mobile/parts/sales_content";
@import "mobile/parts/block_categories";
@import "mobile/parts/block_product_item";
@import "mobile/parts/block_quick_order";
@import "mobile/parts/block_cart_product_container";
@import "mobile/parts/block_page_extra_list";
@import "mobile/parts/buttons";
@import "mobile/parts/slider_index";
@import "mobile/parts/slider_products";
@import "mobile/parts/footer";
@import "mobile/parts/gift";
@import "mobile/parts/clock";
@import "mobile/parts/detect_size";
@import "mobile/parts/reviews_block";
@import "mobile/parts/header_autocomplete";
@import "mobile/parts/geo";
@import "mobile/parts/best";
@import "mobile/parts/order_status";
@import "mobile/parts/how_order";
@import "mobile/parts/reviews_full";

@import "mobile/pages/index";
@import "mobile/pages/catalog";
@import "mobile/pages/product";
@import "mobile/pages/cart";
@import "mobile/pages/cart_steps";
@import "mobile/pages/page";
@import "mobile/pages/delivery";
@import "mobile/pages/contacts";

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: $main-color;
}

.categories {
  width: 100%;
}

.slick-next, .slick-prev {
  border: none;
  outline: none;
}

#{$headings} {
  @include antialias;
}

hr {
  margin: 20px 0;
  box-sizing: content-box;
  height: 1px;
  width: 100%;
  border: none;
}

#price-delivery-form {
  .buttons {
    margin-top: 10px;
  }
}

.catalog-link {
  border: 1px solid rgba(112, 112, 112, 0.24);
  border-radius: $border-radius;
  @include background-clip(padding-box);
  background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
  @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));
  margin: 20px 0;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;

  &, a {
    color: #6f291b;
    text-decoration: none;
  }
}

.text {
  &-center { text-align: center; }
  &-left { text-align: left; }
  &-right { text-align: right; }
}


.pages-content-container {
  #{$headings} {
    color: $main-color;
  }

  strong {
    color: $main-color;
  }
}

.pager-container {
  .pager {
    @include reset-list;
  }
}

.page-catalog .page-pager .pager li {
  font-size: 1.26364rem;
}

.search-form {
  margin: 20px 0;

  h2 {
    color: $main-color;
    margin: 0 0 10px 0;
  }

  [type="text"], [type="submit"] {
    height: 32px;
    border: 0;
  }

  [type="text"] {
    width: 80%;
    border-radius: $border-radius 0 0 $border-radius;
  }

  [type="submit"] {
    width: 20%;
    border-radius: 0 $border-radius $border-radius 0;
  }
}

.extra-form-popup {
  border-radius: $border-radius;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
  border: $border-radius solid $main-color;
  background-color: #fff;
  padding: 5px;

  .extra-form-close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.filter-list {
  @include reset-list;
  @include clearfix;
  margin: 0;

  li {
    @include float-left;
    margin-right: 10px;

    &.last {
      margin-right: 0;
    }

    a {
      border-bottom: 1px dashed #646464;
      background-color: transparent;
      background-position: 100% 50%;
      background-repeat: no-repeat;
      color: #646464;

      &.asc, &.desc {
        padding-right: 10px;
        margin-right: 0;
        border-color: $primary-color;
        color: $primary-color;
      }

      &.asc {
        background-image: url(../images/main/filter-asc.png);
      }

      &.desc {
        background-image: url(../images/main/filter-desc.png);
      }
    }
  }
}

.product-filter-container {
  .columns {
    margin-bottom: 20px;
  }
}

.page-size-container {
  .page-size {
    a {
      color: $primary-color;
      border-bottom: 1px dashed $primary-color;
      margin: 0 10px 0 0;

      &.active {
        color: $gray-color;
        border-bottom: 1px dashed $gray-color;
      }
    }
  }
}

.product-list-container {
  .pager-container {
    .pager {
      text-align: left;

      li {
        margin: 0 16px 0 0;

        a {
          padding: 2px 0;
        }
      }
    }
  }
}

.extra-form {
  .inputs {
    margin: 5px 0;
  }

  .buttons {
    [type="submit"] {
      width: 100%;
    }
  }
}

.category-list-container {
  .slick-slider {
    margin: 0 20px;
  }

  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    background: {
      color: transparent;
      position: 0 0;
      repeat: no-repeat;
      size: 10px 51.5px;
    }
    margin-top: -25px;
    @include hide-text;
    width: 10px;
    height: 51.5px;

    &.slick-disabled {
      opacity: 0;
    }
  }

  .slick-prev {
    left: -20px;
    background: {
      image: url(../images/sales/left.png);
    }
  }

  .slick-next {
    right: -20px;
    background: {
      image: url(../images/sales/right.png);
    }
  }
}
