{%- extends "pages/base.html" -%}

{% block heading %}
    <h1 class="title">
        {{ model.name }}
    </h1>
{% endblock %}

{% block content %}
    <article class="page">
        {{ model.content|raw }}
    </article>
{% endblock %}