h1, h2, h3, h4, h5, h6 {
  @include antialias;
  font-weight: normal;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.24rem;
}

h4 {
  font-size: 1.14rem;
}

table {
  width: 100%;
}

table tr td, table tr th {
  color: #777;
}

.zoomContainer {
  z-index: 199;
}

.skylight-wrapper {
  .zoomContainer {
    z-index: 299;
  }
}

#wrapper {
  min-width: 1008px;
}

.gift-counter-container, .question-container {
  .row {
    position: relative;

    .extra-form-popup {
      border-radius: $border-radius;
      position: absolute;
      bottom: -10px;
      background-color: #f2d93c;
      width: 600px;
      height: 152px;
      right: 0;
      z-index: 200;
      padding: 0 15px;
      @include box-shadow(0 2px 10px rgba(0, 2, 3, 0.32));

      &.complete {
        height: 48px;
        top: -40px;
      }

      h1 {
        font-size: 1.1rem;
        line-height: 40px;
        color: #000;
        text-align: center;
      }

      .extra-form-close {
        position: absolute;
        right: 10px;
        top: 0;
        text-decoration: none;
        font-family: Arial;
        font-size: 1.6rem;
        border: 0;
        margin-top: 5px;
        color: #695934;
      }

      .extra-form-title {
        text-align: center;
        color: #695934;
        font-size: .9rem;
      }

      form {
        padding: 10px;

        h3 {
          color: $primary-color;
          font-size: 1.2rem;
          text-align: center;
        }

        p {
          margin: 0;
          text-align: center;
        }

        [type="text"] {
          height: 28px;
        }

        [type="text"], textarea {
          margin-top: 10px;
          border: 1px solid rgba(1, 2, 5, 0.17);
          border-radius: $border-radius;
          @include background-clip(padding-box);
          background-color: #fff;
          @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
        }

        [type="submit"] {
          margin-top: 10px;
        }

        textarea {
          height: 70px;
        }
      }
    }
  }
}

.loading-container {
  position: relative;
  min-height: 160px;
  line-height: 160px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  cursor: wait;

  .loading {
    @include antialias;
    font-size: 1.4rem;
    text-align: center;
  }
}

.not-found-page {
  text-align: center;
  margin: 40px 0;

  a {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.breadcrumbs {
  @include reset-list;
  background-color: transparent;

  li {
    font-size: 0.8rem;

    a {
      color: #646464;
      text-decoration: underline;
    }

    span {
      color: #646464;
      text-decoration: none;
    }
  }
}

.social-widgets {
  margin: 20px 0;

  #vk_like {
    @include float-right;
    width: 160px !important;
    margin-left: 15px;
    clear: none !important;
  }

  #ok_shareWidget {
    @include float-right;
    width: 110px;
  }
}

.banner-container {
  margin: 10px 0;
}

.red {
  color: #993921;
}