.link-add-cart-container {
  position: relative;

  .relative { position: relative; }

  .quick-order-block {
    position: absolute;
    background: #fff url('../images/inner/catalog_link.png');
    z-index: 150;
    top: 50px;
    left: -20px;

    width: 220px;
    padding: 13px;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;

    @include border-radius(6px);
    @include background-clip(padding-box);
    @include box-shadow(2px 3px 10px rgba(0,1,2,.06));

    //&:before {
    //  background: #fff url('../images/inner/catalog_link.png');
    //  height: 11px;
    //  width: 19px;
    //
    //  border: 1px solid #d5d5d5;
    //}

    //&:before, &:after {
    //  content: '';
    //  position: absolute;
    //  display: block;
    //  left: 100px; // 220/2 - 20/2
    //  top: -40px;
    //
    //  border: 20px solid transparent;
    //  border-bottom: 20px solid green;
    //}

    //&:after {
    //  top: -39px;
    //  border-bottom: 20px solid #fff ;
    //  border-image: url('../images/inner/catalog_link.png') / 0 0 1 0;
    //
    //}

    &:before {
      content: '';
      position: absolute;
      display: block;
      left: 101px; // 220/2 - 20/2
      top: -11px;
      height: 12px;
      width: 19px;
      background: url('../images/inner/bg-qotop-arrow.png') center center no-repeat;
    }

    .text {
      margin-bottom: 10px;
      font-size: rem-calc(15);
    }

    .close {
      position: absolute;
      top: 6px;
      right: 7px;
      color: #822313;
      //font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      display: block;
    }

    input {
    }

    .order-button {
      width: 100%;
      display: inline-block;
      border: 1px solid #a72f19;
      background-color: #812313;
      color: #fff;
      height: 32px;
      margin-top: 10px;

      @include border-radius(6px);
      @include background-clip(padding-box);
      @include linear-gradient(bottom, rgba(78,16,6,.36) 0%, rgba(168,37,14,.36) 100%);
    }
  }
}

