.link-add-cart {
  @include linear-gradient(top, #f7e958 0%, #efcd28 100%);
  width: 180px;
  height: 38px;
  line-height: 38px;
  display: block;
  text-align: center;
  color: #695934;
  font-weight: 700;
  font-size: .9rem;
  @include antialias;
  border-radius: $border-radius;
  @include box-shadow(0 -1px 2px rgba(0, 0, 0, 0.4) inset);
  position: relative;
  padding-left: 28px;

  &:hover, &:active {
    color: #695934;
  }

  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: 10px;
    left: 12px;
    width: 21px;
    height: 18px;
    background: {
      image: url(../images/inner/icon-cart.png);
      position: 0 0;
      repeat: no-repeat;
    }
    z-index: 1;
  }

  &.gray {
    color: #929292;
    box-shadow: 0 0 0 2px #b1b1b1 inset;
    background: none;
    border-radius: 6px;
    height: 34px;
    line-height: 34px;
    width: 180px;

    &::after {
      background: {
        image: url(../images/inner/icon-cart-gray.png);
      }
    }
  }
}

.cart-popup-container {
  @include float-right;
  width: 180px;
  height: 74px;

  .cart-link {
    @include float-right;
    @include border-radius(25px);
    padding: 0 10px 0 40px;
    border: 1px solid #decbc7;
    width: 160px;
    height: 38px;
    color: #7f4135;
    line-height: 38px;
    display: block;
    margin-top: 13px;
    font-size: .8rem;
    font-weight: 700;
    text-decoration: none !important;
    @include box-shadow(0 1px 2px #decbc7);
    background: {
      color: #fff;
      image: url(../images/inner/icon-cart-red.png);
      position: 10px 10px;
      repeat: no-repeat;
    }

    .cart-count {
      @include float-right;
      @include inline-block;
      background-color: #7f4135;
      color: #fff;
      text-align: center;
      @include border-radius(100%);
      line-height: 18px;
      min-width: 24px;
      padding: 4px 6px;
      font-size: .8rem;
      margin-top: 5px;
      margin-left: 6px;
    }
  }
}

.cart-popup {
  $borderRadius: 3px;
  position: absolute;
  width: 380px;
  background-color: #fff;
  right: 0;
  z-index: 100;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.4);
  @include border-radius($borderRadius);
  text-align: left;

  .cart-popup-header {
    @include border-radius($borderRadius $borderRadius 0 0);
    height: 45px;
    line-height: 45px;
    padding-left: 42px;
    font-size: 1rem;
    font-weight: bold;
    color: #7f4135;
    background: {
      color: #fff;
      image: url(../images/inner/icon-cart-red.png);
      position: 10px 13px;
      repeat: no-repeat;
    }

    .cart-popup-count {
      @include float-right;
      @include inline-block;
      background-color: #7f4135;
      color: #fff;
      text-align: center;
      @include border-radius(100%);
      line-height: 24px;
      height: 24px;
      min-width: 24px;
      padding: 0 6px;
      font-size: .8rem;
      margin-top: 11px;
      margin-right: 6px;
    }
  }

  .cart-popup-banner {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.076) inset;
    background: {
      color: #f9ebeb;
      image: url(../images/inner/icon-cart-banner.png);
      position: 20px 26px;
      repeat: no-repeat;
    }
    height: 85px;
    padding: 20px;
    font-size: 1.4rem;
    padding-left: 80px;
    color: #812414;
  }

  .cart-popup-list {
    @include reset-list;

    li {
      padding: 5px;
      @include clearfix;

      &:not(:last-child) {
        border-bottom: 1px solid #d6d6d6;
      }

      .cart-item-image {
        @include float-left;
        width: 60px;
        padding: 0 5px;
      }

      .cart-item-name {
        color: #812414;
        margin: 10px 0;

        .cart-item-article {
          color: #aaa;
          margin-left: 5px;
        }
      }

      .cart-item-price {
        .cart-item-price-new {
          font-weight: bold;
          color: #812414;
        }

        .cart-item-price-old {
          color: #aaa;
          text-decoration: line-through;
          font-weight: 400;
        }
      }
    }
  }

  .cart-item-remove {
    @include float-right;
    text-decoration: none !important;
    display: block;
    width: 16px;
    height: 16px;
    background: {
      color: transparent;
      position: 0 0;
      repeat: no-repeat;
      image: url(../images/inner/icon-cart-remove.png);
    }
    margin: 10px 10px 0 0;
  }

  .cart-popup-order-container {
    padding: 5px;
    background-color: #f2f2f2;
    @include border-radius(0 0 $borderRadius $borderRadius);

    .cart-popup-order {
      display: block;
      width: 100%;
      @include border-radius($borderRadius);
      font-weight: bold;
      height: 32px;
      line-height: 32px;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none !important;
      @include box-shadow(0 -1px 1px rgba(0, 0, 0, 0.4) inset);

      background-color: #f3db3f;
      color: #695934;
      @include linear-gradient(bottom, #eecd28 0%, #f7e858 100%);
    }
  }

  .cart-empty {
    padding: 10px 0;
    text-align: center;
    font-size: 1.2rem;
  }
}

.title-inline {
  cursor: pointer;
  @include inline-block;
}

.cart-container {
  margin-top: 20px;

  .cart-steps {
    @include reset-list;
    @include float-right;
    @include clearfix;
    position: relative;
    margin-top: 10px;

    &::after {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      display: block;
      background-color: #dcdcdc;
    }

    li {
      @include float-left;
      @include antialias;
      color: #575757;
      font-size: 1.1rem;

      &:not(:last-child) {
        margin-right: 20px;
      }

      .text {
        padding: 0 15px;
        background-color: #fff;
      }

      .number {
        border-radius: 50%;
        background-color: #dcdcdc;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        display: inline-block;

        &.active {
          background-color: #eed75d;
        }
      }
    }
  }

  h1, .title-inline {
    color: $primary-color;
    margin: 0 20px 0 0;

    &.dashed {
      cursor: pointer;
      border-bottom: 2px dashed $primary-color;
    }
  }

  .cart-table {
    margin: 20px 0;

    .cart-table-td {
      padding: 10px 0;

      .cart-table-banner {
        border-radius: $border-radius;
        text-align: center;
        line-height: 85px;
        height: 85px;
        font-size: 1.4rem;
        padding-left: 80px;
        color: #812414;
        background: {
          color: #f9ebeb;
        }

        a {
          display: inline-block;
          padding-left: 60px;
          background: {
            color: transparent;
            image: url(../images/inner/icon-cart-banner.png);
            repeat: no-repeat;
            position: 0 50%;
          }
        }
      }
    }

    thead {
      tr {
        background-color: #f0f0f0;

        th {
          font-size: 1rem;
          color: #575757;

          &.cart-th-photo {
            width: 128px;
          }

          &.cart-th-size {
            width: 180px;
          }

          &.cart-th-price {
            width: 200px;
          }

          &.cart-th-actions {
            width: 200px;
          }
        }
      }
    }

    tbody {
      tr {
        background-color: #fff !important;

        td {
          font-size: 1rem;

          p {
            font-size: 1rem;
          }

          &.cart-td-empty {
            padding: 20px 0;

            &, p {
              @include antialias;
              font-size: 1.4rem;
            }
          }

          &.cart-td-actions {
            text-align: center;

            p {
              margin-bottom: 6px;

              a {
                color: #575757;
                border-bottom: 1px dashed #575757;
              }
            }
          }
        }
      }
    }

    .cart-item-name {
      color: $primary-color;

      .cart-item-article {
        color: #888;
        margin-left: 5px;
      }
    }
  }

  .cart-list-footer {
    @include reset-list;
    @include float-right;
    @include clearfix;

    li {
      @include float-right;
      margin-left: 20px;

      &.cart-list-footer-total {
        color: $primary-color;
        font-size: 1.2rem;

        .cart-list-footer-price {
          font-weight: bold;
        }
      }
    }
  }

  .order-form {
    margin: 20px 0;
    background-color: #f1f1f1;
    border-radius: $border-radius;
    padding: 10px;

    .form-row {
      margin-bottom: 10px;

      textarea {
        height: 130px;
      }

      .prev {
        background-color:  #8f8f8f;
        box-shadow: 0px 2px 0px 0px rgba(46, 16, 1, 0.54);
        @include inline-block;
        height: 31px;
        line-height: 31px;
        text-align: center;
        border-radius: $border-radius;
        padding: 0 10px;
        min-width: 100px;
        color: #fff;
        font-size: 1rem;
      }

      .next {
        @include float-right;
        @include clearfix;

        font-size: 1rem;
        border-radius: 5px;
        border-style: solid;
        text-align: center;
        border-width: 1px;
        border-color:  #903321;
        @include linear-gradient(top, #6f291b 0%, darken(#6f291b, 10) 100%);
        color: #fff;
        box-shadow: 0px 2px 0px 0px #2e1001;
        /* Layer contains multiple layer styles that cannot be represented in CSS. Use the color picker or extract the layer as an image. */
        width: 149px;
        height: 31px;
        line-height: 31px;
      }
    }
  }

  .prev-button, .next-button {
    @include inline-block;
    padding: 0 10px;
    text-transform: uppercase;
  }

  .prev-button {
    background-color:  #8f8f8f;
    box-shadow: 0px 2px 0px 0px rgba(46, 16, 1, 0.54);
    @include inline-block;
    height: 31px;
    line-height: 31px;
    text-align: center;
    border-radius: $border-radius;
    padding: 0 10px;
    min-width: 150px;
    color: #fff;
    font-size: 1rem;
  }

  .next-button {
    font-size: 1rem;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    border-width: 1px;
    border-color:  #903321;
    @include linear-gradient(top, #6f291b 0%, darken(#6f291b, 10) 100%);
    color: #fff;
    box-shadow: 0px 2px 0px 0px #2e1001;
    /* Layer contains multiple layer styles that cannot be represented in CSS. Use the color picker or extract the layer as an image. */
    min-width: 150px;
    height: 31px;
    line-height: 31px;
  }

  .cart-list-footer {
    line-height: 31px;
    font-size: 1rem;
    p {
      font-size: 1rem;
    }
  }

  .catalog-button {
    font-size: 1rem;
    line-height: 31px;
    border-bottom: 1px dashed $primary-color;
  }
}

.delivery-container {
  margin: 20px 0;
  @include clearfix;

  .delivery-column, .delivery-content {
    height: 270px;
  }

  .delivery-column {
    width: 160px;
    @include reset-list;
    @include float-left;

    li {
      @include border-radius(5px 0 0 5px);
      height: 135px;
      border: {
        width: 2px;
        style: solid;
        color: transparent;
      };
      background-color: #fff;
      padding-top: 80px;
      text-align: center;
      cursor: pointer;

      &.active {
        margin-right: -2px;
        z-index: 100;
        position: relative;
      }

      &:first-child {
        background: {
          image: url(../images/inner/icon-delivery-car.png);
          position: 50% 30%;
          repeat: no-repeat;
        }

        &.active {
          border: {
            color: $primary-color;
            width: 2px 0 2px 2px;
          }
        }
      }

      &:last-child {
        background: {
          image: url(../images/inner/icon-delivery-fly.png);
          position: 50% 30%;
          repeat: no-repeat;
        }

        &.active {
          border: {
            color: $primary-color;
            width: 2px 0 2px 2px;
          }
        }
      }

      &.active {
        background-color: #f7f7f7;
      }
    }
  }

  .delivery-content {
    @include float-left;
    border: 2px solid $primary-color;
    @include border-radius(0 5px 5px 0);
    @include clearfix;
    background-color: #f7f7f7;
    width: 1080px;
    padding: 20px;

    &, p {
      @include antialias;
      font-size: 1rem;
    }

    p {
      color: #333;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .delivery-form {
    @include clearfix;
    margin: 20px 0;

    label {
      font-size: 1rem;
      color: #000;
      font-weight: bold;
      width: 200px;
      line-height: 37px;
    }

    input {
      width: 800px;
    }

    label, input {
      @include float-left;
    }
  }
}

.delivery-buttons {
  .prev-button {
    margin-left: 160px;
  }
}

.delivery-form {
  .form-row {
    @include clearfix;
  }
}

.modal-content.quick-cart-modal {
  width: 280px !important;
  padding: 10px;
  text-align: center;

  p {
    margin-bottom: 10px;
  }
}

.quick-cart-order {
  .form-row:not(:last-child) {
    margin-bottom: 10px;
  }

  [type="submit"] {
    width: 100%;
    height: 31px;
    line-height: 31px;
    text-align: center;
  }
}

.cart-item-li-last {
  text-align: center;
  font-size: .9rem;
  padding: 20px 0 !important;

  a {
    margin-left: 10px;
  }
}

.cart-tab-list {
  @include reset-list;
  @include clearfix;

  li {
    float: left;
    margin-right: 15px;

    a {
      font-size: 1.6rem;
      @include antialias;
      font-weight: bold;

      &.active {
        border-bottom: 2px dashed $main-color;
      }
    }
  }
}
