.address-list {
  @include reset-list;

  li {
    &.empty {
      text-align: center;
      padding: 10px;
    }
  }
}

.contacts-container {
  margin-top: 20px;

  h1, h2, h3, h4, h5, h6 {
    color: $primary-color;

    a {
      border-bottom: 1px dashed $primary-color;
    }
  }

  .contacts-links {
    @include float-right;
    margin-top: 5px;

    a {
      @include inline-block;
      margin-left: 25px;
      padding: 0 15px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      font-size: 0.8rem;
      font-weight: bold;
      border: 1px solid #ddd;
      border-radius: $border-radius;
      @include background-clip(padding-box);
      background-color: #fff;
      @include linear-gradient(bottom, rgba(215, 215, 215, 0.32) 0%, rgba(255, 255, 255, 0.32) 100%);
    }
  }

  .contacts-intro-container {
    // because image is not responsive
    // background: transparent url(../images/main/contacts-shadow.png) 50% 0 no-repeat;
    padding: 9px 0;

    .contacts-intro {
      @include antialias;
      background: transparent url(../images/main/page-extra-mouse.png) 15px 50% no-repeat;
      padding: 17px 15px 15px 75px;
      color: #4b4b4b;
      line-height: 20px;
      font-size: 1rem;
      border-width: 1px 0;
      border-style: solid;
      border-color: #e9e9e9;
    }
  }
}

.map-container {
  @include clearfix;
  margin-top: 20px;

  #map, #map_extra {
    width: 100%;
    height: 520px;
    border: 1px solid rgba(1, 2, 5, 0.17);

    &, & > ymaps {
      border-radius: $border-radius;
    }
  }

  .map-sidebar {
    border: 1px solid rgba(1, 2, 5, 0.17);
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background-color: #fff;
    @include box-shadow(0 0 16px rgba(0, 0, 0, 0.06));

    .map-office-list {
      @include reset-list;
      padding: 15px 0;

      &:last-child {
        li {
          &:last-child, &.map-icon-worktime {
            margin-bottom: 0;
          }

          &.map-divider {
            display: none;
          }
        }
      }

      li {
        margin-bottom: 15px;
        background-color: transparent;
        background-position: 15px 0;
        background-repeat: no-repeat;
        min-height: 24px;
        padding: 0 15px 0 46px;

        &.map-divider {
          height: 1px;
          min-height: 1px;
          background-color: rgba(1, 2, 5, 0.17);
          padding: 0;
          margin: 0;
        }

        &.map-icon-map {
          background-image: url(../images/main/contacts-icon-map.png);

          a {
            margin-right: 10px;
            border-bottom: 1px dashed $primary-color;
          }
        }

        &.map-icon-phone {
          background-image: url(../images/main/contacts-icon-phone.png);
        }

        &.map-icon-worktime {
          background-image: url(../images/main/contacts-icon-time.png);
        }

        &.map-images {
          padding: 0;

          .map-images-list {
            @include reset-list;
            @include clearfix;
            padding: 0 15px;

            li {
              @include float-left;
              padding: 0;
              margin: 0 5px 5px;

              a {
                border-radius: $border-radius;
                display: block;
                border: 2px solid transparent;

                &:hover {
                  border: 2px solid $primary-color;
                }

                img {
                  border-radius: $border-radius;
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

.contacts__extra {
  @include clearfix;
  margin: 20px 0;

  h2 {
    color: $primary-color;
    text-align: center;
  }
}

.extra__container {
  border: 1px solid rgba(1, 2, 5, 0.17);
  border-radius: $border-radius;
  @include background-clip(padding-box);
  background-color: #fff;
  @include box-shadow(0 0 16px rgba(0, 0, 0, 0.06));
  margin: 20px 0;
}

.container__yellow-border {
  border: {
    color: #e5d422;
    width: 3px;
    style: solid;
  }
  border-radius: 3px;
  padding: 10px;

  p {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}

.contacts__feedback-link {
  text-align: center;
  margin-top: 10px;

  &.small {
    a {
      font-size: .8rem;
    }
  }

  a {
    border-bottom: 1px dashed $primary-color;
    font-size: 1rem;
  }
}

.sale__list {
  @include reset-list;

  padding: 10px;

  &.small {
    li {
      line-height: 1.3;
      font-size: .9rem;
      margin-bottom: 5px;
      height: auto;
      min-height: 24px;
      padding-left: 32px;

      &.time {
        background: {
          image: url(../images/main/contacts_time_small.png);
        }
      }

      &.mail {
        background: {
          image: url(../images/main/contacts_mail_small.png);
        }
      }

      &.phone {
        background: {
          image: url(../images/main/contacts_phone_small.png);
        }
      }
    }
  }

  li {
    @include antialias;
    margin-bottom: 10px;
    padding-left: 56px;
    line-height: 45px;
    background: {
      color: transparent;
      position: 0 0;
      repeat: no-repeat;
    }

    font-size: 1.2rem;

    .title {
      font-size: 1.4rem;
      color: $primary-color;
    }

    .title-help {
      @include antialias(false);
      font-size: .8rem;
    }

    &.time {
      background: {
        image: url(../images/main/contacts_time.png);
      }
    }

    &.mail {
      background: {
        image: url(../images/main/contacts_mail.png);
      }
    }

    &.phone {
      line-height: 22.5px;
      background: {
        image: url(../images/main/contacts_phone.png);
      }
    }
  }
}

.sales__table {
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 20px;

  tbody {
    tr {
      td {
        width: 33%;
        vertical-align: top;

        h2 {
          text-align: left;
          padding: 0 10px;
        }

        &:not(:last-child) {
          border-right: 1px solid #ccc;
        }
      }
    }
  }
}

.padding-container {
  padding: 20px;
}