.coupon-wrapper {
  color: #000;
  font-size: rem-calc(14);

  .section {
    padding: 20px 0;

    .title {
      color: #70281B;
      font-weight: bold;
    }
  }
  .bold {
    font-weight: bold;
  }

  .section-logo {
    padding: 20px 0;
    text-align: center;
  }
  .section-title {
    .container {
      border-radius: $border-radius;
      @include background-clip(padding-box);
      background-color: #efefef;
      text-align: center;
      padding: 20px 10px 15px;
    }

    .h1 {
      font-size: rem-calc(22);
      font-weight: bold;
      line-height: rem-calc(34);
      color: #70281B;
    }
    .text {
      font-size: rem-calc(16);
      line-height: rem-calc(28);
    }
  }
  .section-provision {
    padding: 0;

    .block-provision {
      border-top: 1px solid #d4d4d4;
      border-bottom: 1px solid #d4d4d4;
      padding: 20px 0;
    }

  }
  .section-coupon {
    .block-code {
      border: 2px solid #000;
      border-radius: $border-radius;
      @include background-clip(padding-box);
      padding: 8px 18px;
      text-align: center;

      .code {
        text-transform: uppercase;
        font-size: rem-calc(30);
      }
    }
  }
  .section-map {
    .addresses {
      text-align: justify;

      padding: 5px 0 15px;

      .address { display: inline-block; }
    }
    .map {
      @include border-radius(5px 5px 0 0);
      @include background-clip(padding-box);
      overflow: hidden;

      .questions {
        background-color: #efefef;
        @include border-radius(0 0 5px 5px);
        padding: 17px 55px 10px;

        .phone {
          color: #70281B;
          font-size: rem-calc(32);
        }
      }
    }

    #map, .block-map {
      @include border-radius(5px 5px 0 0);
      overflow: hidden;
      height: 200px;
      width: 100%;
    }
  }
  .section-footer {
    text-align: center;
  }

  .px12 {
    font-size: rem-calc(12);
  }
  .px13 {
    font-size: rem-calc(13);
  }
  .px15 {
    font-size: rem-calc(15);
  }

  .ymaps-2-1-29-copyrights-pane {
    display: none !important;
  }

  @media print {
    .map {
      overflow: hidden !important;
    }
    #map, .block-map {
      box-sizing: border-box !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}