.extra__form__container {
  border-radius: 5px;
  padding: 10px;
  background-color: #f1d43b;
  max-width: 420px;
  position: absolute;
  bottom: 40px;
  left: auto;
  z-index: 2;

  form {
    padding: 10px !important;
    position: relative;
    margin: 0;
  }

  .extra-form-title {
    text-align: center;
    font-size: 1rem;
    color: #353535;
  }

  .extra-form-close {
    position: absolute;
    right: 10px;
    top: 0;
    text-decoration: none;
    font-family: Arial;
    font-size: 1.6rem;
    border: 0;
    margin-top: 5px;
    color: #695934;
    z-index: 100;
  }

  [type="text"] {
    border: 1px solid rgba(1, 2, 5, 0.17);
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background-color: #fff;
    @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
  }

  [type="submit"], [type="text"], textarea {
    margin-top: 10px;
  }

  [type="submit"] {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
  }

  h1, h3 {
    text-align: center;
    color: #6a5934;
    font-size: 1.6rem;
  }

  .form-row {
    position: relative;
  }
}