.features-container {
  border-radius: $border-radius;
  background: {
    color: #fff;
  }
  @include antialias;

  .features-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.small {
    background: transparent url(../images/main/features-shadow.png) 50% 100% no-repeat;
    @include background-clip(padding-box);
    padding-bottom: 11px;

    .features-list {
      li {
        flex: 0 0 50%;
      }
    }
  }

  &.half {
    border-radius: $border-radius;
    @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));
    @include background-clip(padding-box);

    .features-list {
      height: 50px;

      li {
        flex: 0 0 33%;
        text-align: left;
        height: 48px;

        p {
          padding-left: 76px;
          height: 38px;

          &.delivery {
            background-image: url(../images/main/slider_delivery.png);
            background-position: 15px 4px;
            padding-left: 88px;
          }

          &.prepare {
            background-image: url(../images/main/slider_prepare.png);
            background-position: 20px 2px;
          }

          &.cert {
            background-image: url(../images/main/slider_cert.png);
            background-position: 25px 0;
            padding-left: 82px;
          }
        }
      }
    }
  }

  .features-list {
    @include reset-list;
    border-radius: $border-radius;
    height: 46px;
    border: 1px solid #e3e3e4;

    li {
      flex: 0 0 25%;
      border-right: 1px solid #e3e3e4;
      height: 44px;
      padding: 0 10px;

      &:last-child {
        border-right: 0;
      }

      p {
        font-size: 0.85rem;
        margin-top: 5px;
        line-height: 18px;
        background: {
          position: 0 50%;
          color: transparent;
          repeat: no-repeat;
        }
        padding-left: 72px;

        &.delivery {
          background-image: url(../images/main/slider_delivery.png);
        }

        &.points {
          background: {
            image: url(../images/main/slider_points.png);
          }
        }

        &.orders {
          background: {
            image: url(../images/main/slider_orders.png);
            position: 10px 40%;
          }
        }

        &.prepare {
          background: {
            image: url(../images/main/slider_prepare.png);
            position: 10px 50%;
          }
          min-height: 32px;
        }

        a {
          color: #777;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}