#feedback-form {
  h1, h3 {
    text-align: center;
    color: #852525;
    font-size: 1.6rem;
  }

  [type="text"], textarea {
    order: 1px solid rgba(1, 2, 5, .17);
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background-color: #fff;
    @include box-shadow(inset 0 0 4px rgba(1, 2, 5, .2));
  }

  [type="submit"], [type="text"], textarea {
    margin-top: 10px;
  }

  [type="submit"] {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
  }
}