.fly-container {
  border-radius: $border-radius;
  @include antialias;
  border: 1px solid #e3e3e4;
  text-align: center;
  line-height: 56px;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $text-color;
  margin: 16px 0 20px 0;
  position: relative;

  .fly {
    transition: all 6s;
    position: absolute;
    left: 0;
    top: 5px;
    margin-left: 0;
    background: transparent url(../images/main/fly.png) 20px 0 no-repeat;
    width: 71px;
    height: 44px;
    z-index: -3;

    @media #{$medium-only} {
      background: none;
    }
  }

  a {
    color: $text-color;
  }
}