@mixin sticky-footer-new($height, $container, $content, $footer) {
  html, body {
    height: 100%;
  }

  #{$container} {
    height: 100%;
    min-height: 100%;
  }

  #{$content} {
    min-height: 100%;

    .container__inner {
//      overflow: auto;
//      padding-bottom: $height;
    }
  }

  #{$footer} {
    position: relative;
    clear: both;
//    height: $height;
//    margin-top: -$height;
  }
}

$footer-height: 472px;
@include sticky-footer-new($footer-height, "#app, #wrapper", "#container", "#footer");

#footer {
  .footer-form {
    @include antialias;
    height: 74px;
    margin-top: -106px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background: transparent url(../images/main/footer_form.png) 50% 50% no-repeat;

    @media #{$medium-only} {
      background-position: 35% 50%;
    }
    @include box-shadow(0 2px 8px rgba(0, 0, 0, 0.08));

    p {
      margin: 0;
    }

    .left-side {
      text-align: center;

      h4 {
        text-transform: uppercase;
        font-weight: 700;
        color: #70281b;
        margin: 15px 0 0 0;
        padding: 0;
      }
    }

    form {
      padding: 20px 10px 0 0;

      h1 {
        margin: 0;
        padding: 0 20px;
        font-size: 1.6rem;
      }

      input {
        width: 100%;
        height: 32px;
      }

      [type="text"] {
        border: 1px solid rgba(1, 2, 5, 0.17);
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
      }
    }
  }

  .footer-menu-container {
    background: {
      color: #fff;
      image: url(../images/main/footer_bg.jpg);
      repeat: no-repeat;
      position: 50% 100%;
      size: auto 100%;
    }

    margin-top: 68px;
    padding-top: 68px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
//    height: 402px;
    @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));

    .city-info {
      margin: 10px 0 20px;

      .city-phones {
        margin: 10px 0;
      }

      .owner-link {
        text-decoration: underline;
        font-style: italic;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }

    .request-call {
      width: 176px;
      height: 28px;
      line-height: 28px;
      padding: 4px 14px;
      color: #695934;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid #d6c450;
      border-radius: $border-radius;
      @include background-clip(padding-box);
      background-color: #f3db40;
      @include linear-gradient(bottom, #eecd28 0%, #f7e858 100%);
    }

    .title {
      color: $primary-color;
      margin-bottom: 6px;
      text-transform: uppercase;
      font-weight: bold;

      .title-extra {
        text-transform: none;
        font-weight: normal;
        font-style: italic;
        color: #5a5a5a;
        font-size: 0.7rem;
      }
    }

    .footer-menu-item {
      .footer-menu {
        @include reset-list;

        li {
          margin-bottom: 4px;

          &, a {
            color: #5a5a5a;
          }

          &.title {
            color: $primary-color;
            margin-bottom: 6px;
            text-transform: uppercase;
            font-weight: bold;

            .title-extra {
              text-transform: none;
              font-weight: normal;
              font-style: italic;
              color: #5a5a5a;
              font-size: 0.7rem;
            }
          }

          a {
            background-color: transparent;
            background-position: 0 50%;
            background-repeat: no-repeat;

            &:hover {
              padding-left: 15px;
              background-image: url(../images/main/sidebar-arrow.png);
            }
          }
        }
      }
    }
  }

  .social-list {
    @include reset-list;
    @include clearfix;
    @include antialias;
    padding: 15px 0;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #dfdfdf;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      color: #5a5a5a;

      &.first {
        @include inline-block;
        width: 140px;
      }

      &.last {
        margin-right: 0;
      }

      a {
        @include inline-block;
        padding: 0 10px;
        color: #5a5a5a;
        background-color: transparent;
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 22px;
        line-height: 22px;
        padding-left: 28px;

        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }

        &.vk {
          background-image: url(../images/main/footer-social-vk.png);
        }

        &.ok {
          background-image: url(../images/main/footer-social-ok.png);
        }

        &.twitter {
          background-image: url(../images/main/footer-social-twitter.png);
        }

        &.fb {
          background-image: url(../images/main/footer-social-fb.png);
        }

        &.instagram {
          background-image: url(../images/main/footer-social-instagram.png);
        }

        &.lj {
          background-image: url(../images/main/footer-social-lj.png);
        }

        &.mir {
          background-image: url(../images/main/footer-social-mir.png);
        }

        &.google {
          background-image: url(../images/main/footer-social-google.png);
        }
      }
    }
  }

  .owner-container .columns {
    margin: 26px 0;
    color: #5a5a5a;
    font-size: 0.9rem;

    .author {
      text-align: right;

      a {
        color: #ff7e00;
      }
    }
  }
}

.footer-last {
  &::after {
    content: ' ';
    display: inline-block;
    background: url(../images/main/icon-show-more.png) center center no-repeat;
    width: 12px;
    height: 7px;
    vertical-align: middle;
    margin-left: 8px;
  }
}