#GetCoupon-form {
  h1, h3 {
    color: $main-color;
    font-size: 1.6rem;
    text-align: center;
  }

  h3 {
    font-size: 1.15rem;
    margin: 0 0 10px 0;
  }

  [type="submit"] {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
  }

  .inputs {
    //    background: #FBD51F;
    color: #70592e;
    @include border-radius(0 0 5px 5px);

    .form-row {
      label {
        font-size: 0.815rem;
      }
      label, .hint {
        color: #70582E;
        font-style: italic;
      }
      .hint {
        margin-top: 5px;
        font-size: 0.7rem;
        text-align: center;
        margin-bottom: 10px;
      }
      input {
        height: 28px;
        line-height: 28px;
        font-size: 0.875rem;

        &[type="text"] {
          border: 1px solid rgba(0, 1, 2, .17);
          border-radius: $border-radius;
          @include background-clip(padding-box);
          @include box-shadow(inset 0 0 4px rgba(0, 1, 2, .2));
        }

        &[type="submit"] {
          height: 30px;
          line-height: 30px;

          border: 1px solid #a72f19;
          background-color: #802413;
          @include border-radius(4px);
          @include background-clip(padding-box);
          @include linear-gradient(bottom, rgba(78, 16, 6, .36) 0%, rgba(168, 37, 14, .36) 100%);
        }
      }
    }

    .comment {
      margin-top: 10px;
      text-align: center;
      font-size: 0.875rem;
      font-style: italic;
    }
  }
}