.geo-container {
  h1 {
    margin-top: 0;
    color: $primary-color;
    text-align: center;
  }

  h3 {
    margin-top: 0;
    font-size: 1.3rem;
    color: $primary-color;
  }

  a {
    color: #606060;
    text-decoration: underline;

    &.active {
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
      cursor: default;
    }
  }

  .geo-popular {
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px 0;
    padding: 20px 0;
  }

  .city-list {
    li {
      padding-bottom: 10px;
    }
  }

  .geo-all {
    padding: 20px 0;

    .geo-region-list {
      @include reset-list;

      li {
        height: 35px;
        width: 252px;
        line-height: 35px;
        @include background-clip(padding-box);
        margin-left: -29px;
        padding-left: 29px;
        position: relative;

        &.active {
          background: #fff url(../images/main/geo-right.png) 0 0 no-repeat;

          a {
            color: $primary-color;
            font-weight: bold;
            text-decoration: none;
          }
        }

        a {
          display: block;
        }
      }
    }
  }
}