.gift-counter-container {
  @include background-clip(padding-box);
  background: #f1f1f1 url(../images/inner/gift_bg_main.png) 0 0 repeat-x;
  @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));

  .gift-counter-img {
    height: 84px;
    background: #f1f1f1 url(../images/inner/gift_bg.jpg) 48% 50% no-repeat;
  }

  .left-side {
    width: 50%;

    h4 {
      margin: 0;
    }

    h3 {
      @include float-left;
      color: #6a5934;
      font-size: 1.3rem;
      margin-top: 14px;
      font-weight: bold;
    }

    h4 {
      color: #6a5934;
      font-size: 1.3rem;
      margin-top: 8px;
      font-weight: bold;
    }

    p {
      color: #6a5934;
    }

    .gift-counter {
      width: 180px;
      margin-top: 8px;
      margin-right: 14px;
      @include float-right;

      .gift-title {
        color: #6a5934;
        margin-bottom: 4px;
      }

      .gift-block {
        @include background-clip(padding-box);
        height: 42px;
        background-color: #fff;
        border-radius: $border-radius;
        padding: 5px 7px;
        @include box-shadow(0 2px 5px rgba(167, 150, 50, 0.35));
      }
    }
  }

  form {
    padding: 26px 0 0 25px;

    h1 {
      margin: 0;
      padding: 0 20px;
      font-size: 1.6rem;
    }

    input {
      width: 100%;
      height: 32px;
    }

    [type="text"] {
      border: 1px solid rgba(1, 2, 5, 0.17);
      border-radius: $border-radius;
      @include background-clip(padding-box);
      background-color: #fff;
      @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
    }
  }
}

.gift-counter-modal {
  border-radius: $border-radius;
  width: 760px;
  padding-left: 500px;
  background: #f1d43b url(../images/main/gift-modal-image.png) 0 0 no-repeat;

  form {
    padding: 20px 10px;

    [type="text"] {
      height: 32px;
      line-height: 32px;
      margin-bottom: 15px;
    }

    [type="submit"] {
      display: block;
      width: 100%;
      height: 32px;
      line-height: 32px;
    }
  }

  .gift-counter-info {
    margin-bottom: 20px;

    h3 {
      margin-top: 0;
      padding: 10px;
      text-align: center;
      color: #6a5934;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 1px solid #deaa3d;
    }

    .gift-counter {
      padding: 10px;
      height: 74px;

      .gift-title {
        text-align: center;
        margin-bottom: 10px;
        color: #6a5934;
      }

      .gift-block {
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(0 2px 5px rgba(167, 150, 50, 0.35));
        padding: 5px 0;
        width: 80%;
        margin: 0 auto;

        .flip-clock-wrapper ul li a div div.inn {
          font-size: 1.8rem;
          padding-top: 3px;
        }

        .flip-clock-wrapper ul {
          width: 24px;
          height: 30px;
        }

        .flip-clock-divider .flip-clock-label {
          bottom: -25px;
          right: -40px;
        }
      }
    }
  }

  .extra-form-popup {
//    border-radius: $border-radius;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 260px;
    height: 269px;
    right: 0;
    z-index: 200;
    padding: 0 15px;
    @include box-shadow(0 2px 10px rgba(0, 2, 3, 0.32));

    &.complete {
      height: 48px;
      top: 130px;

      h1 {
        padding: 10px 0;
        line-height: 26px;
      }
    }

    h1 {
      font-size: 1.1rem;
      line-height: 40px;
      color: #000;
      text-align: center;
    }

    .extra-form-close {
      position: absolute;
      right: 10px;
      top: 0;
      text-decoration: none;
      font-family: Arial;
      font-size: 1.6rem;
      border: 0;
      margin-top: 5px;
      color: #695934;
      z-index: 100;
    }

    .extra-form-title {
      text-align: center;
      color: #695934;
      font-size: 0.813rem;
    }

    form {
      padding: 10px;

      h3 {
        color: $primary-color;
        font-size: 1.2rem;
        text-align: center;
      }

      p {
        margin: 0;
        text-align: center;
      }

      [type="text"] {
        height: 32px;
      }

      [type="text"], textarea {
        margin-top: 10px;
        border: 1px solid rgba(1, 2, 5, 0.17);
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
      }

      [type="submit"] {
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 32px;
      }

      textarea {
        height: 70px;
      }
    }
  }
}