.header-recent-me {
  width: 100%;
  height: 15px;
  z-index: 1000;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.header-recent {
  top: -630px;
  height: 630px;

  width: 100%;
  z-index: 10000;
  position: absolute;
  box-sizing: border-box;
  background: #fff;
  padding-top: 15px;

  @include box-shadow(2px 3px 35px rgba(0,1,2,.55));
  @include transition($defaultTransition);

  &.show {
    top:0;
  }

  .product-list-title {
    font-size: rem-calc(28);
    text-align: center;
  }

  .product-list-container {
    .product-slider {

      -container {
        display: none;
      }
    }
  }

  .form-line {
    bottom: 0;
    width: 100%;
    height: rem-calc(83);
    line-height: rem-calc(83);
    position: absolute;
    box-sizing: border-box;

    background: url("../images/inner/catalog_link.png");
    border: 1px solid rgba(113,113,113,.24);
    border-left: none;
    border-right: none;

    text-align: center;

    .text {
      color: #812313;
      font-size: 20px;
      vertical-align: middle;
    }

    input, button {
      display: inline-block;
      box-sizing: border-box;
      height: rem-calc(30);
      margin: 0 rem-calc(17);
      vertical-align: middle;

    }

    .button {
      width: rem-calc(110);
      padding: 0;
    }

    .email {
      width: rem-calc(223);

      border-radius: $border-radius;
      @include background-clip(padding-box);
      @include box-shadow(inset 0 0 4px rgba(0,1,2,.2));
    }

    .input_span {
      display: inline-block;
      position: relative;
    }


    .close {
      display: inline-block;
      background: url("../images/main/icon-header-close.png") center center no-repeat;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

.product-list-title {
  margin-top: 0;
}