$headerHeight: 101px;
$headerMenuHeight: 45px;

#header {
  // height: $headerHeight + $headerMenuHeight;
  background: transparent url(../images/main/header.png) 50% 0 repeat-y;

  .header-container {
    color: #3d3d3d;
    padding: 5px 0;

    a {
      text-decoration: underline;
    }

    .left-side {
      padding-top: 14px;

      p {
        padding: 0 0 5px 0;

        .whatsapp {
          font-size: 0.8rem;
          @include inline-block;
          margin-right: 4px;
          padding-left: 20px;
          background: transparent url(../images/main/header-whatsapp-icon.png) 0 0 no-repeat;
        }

        .viber {
          font-size: 0.8rem;
          @include inline-block;
          padding-left: 20px;
          background: transparent url(../images/main/header-viber-icon.png) 0 0 no-repeat;
        }
      }
    }

    .logo-container {
      #logo {
        &, a {
          margin: 10px 0 0 0;
          display: block;

          svg {
            width: 100%;
            height: auto;
            max-height: 62px;
          }
        }
      }
    }

    .right-side {
      padding-top: 10px;

      .header-phone {
        font-weight: bold;

        @media #{$xlarge-up} {
          font-size: 1.2rem;
        }
      }
    }
  }

  .menu-container {
    height: $headerMenuHeight;
    @include background-clip(padding-box);
    @include box-shadow(0 0 5px rgba(1, 2, 5, 0.35));
    background-color: #6e1f0f;
    @include linear-gradient(top, #8E1A04 0%, #6F1604 100%);

    .request-call {
      @include float-right;
      width: 176px;
      height: 28px;
      line-height: 28px;
      margin-top: 8px;
      color: #695934;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid #d6c450;
      border-radius: $border-radius;
      @include background-clip(padding-box);
      background-color: #f3db40;
      @include linear-gradient(bottom, #eecd28 0%, #f7e858 100%);
    }

    .menu-image {
      background: transparent url(../images/main/menu.png) 50% 0 no-repeat;

      #menu {
        @include reset-list;
        line-height: 45px;

        li {
          @include float-left;
          font-weight: bold;
          @include antialias;
          position: relative;

          @media #{$medium-up} {
            font-size: .85rem;
          }

          @media #{$large-up} {
            font-size: .9rem;
          }

          @media #{$xlarge-up} {
            font-size: 1rem;

            &:not(:last-child) {
              margin-right: 20px;
            }
          }

          &, a {
            color: #fff;
          }

          a {
            margin: 0 10px;
            border-bottom: 1px solid transparent;

            &:hover {
              border-bottom: 1px solid #fff;
            }
          }

          .menu-nested {
            @include reset-list;
            display: none;
            position: absolute;
            top: auto;
            left: 0;
            width: 250px;
            background-color: #fff;
            z-index: 5000;
          }

          &:hover {
            &.has-nested {
              background-color: #fff;

              a {
                color: #77362a;
              }
            }

            .menu-nested {
              display: block;
              @include box-shadow(0 6px 14px rgba(0, 0, 0, 0.18));

              li {
                display: block;
                width: 100%;
                line-height: 32px;

                &:not(:last-child) {
                  border-bottom: 1px solid #f1f1f1;
                }

                a {
                  display: block;
                  color: #353535;

                  &:hover {
                    text-decoration: underline;
                    color: #77362a;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.contact-container {
  margin-top: 15px;
  @include antialias;

  p {
    font-size: .9rem;
  }

  @media #{$large-up} {
    margin-top: 0;
    width: 160px;
    margin-left: 50px;

    p {
      font-size: 1rem;
    }
  }
}