.how-order-container {
  background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
  padding-top: 32px;
  color: #5a5a5a;

  .how-order-info-container {
    margin-bottom: 38px;
    text-align: center;

    h1 {
      margin: 0;
      color: $primary-color;
      @include antialias;
    }

    p {
      font-size: 1.1rem;
      font-style: italic;
      color: #3d3d3d;
    }
  }

  .how-order-item {
    text-align: center;

    p {
      font-size: .88rem;
      padding: 16px 0 0 0;
    }
  }
}

.how-order-modal {
  h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: $primary-color;
  }

  .how-order-list {
    @include reset-list;
    @include clearfix;
    text-align: center;
    padding: 10px;

    .how-order-item {
      float: left;
      width: 33%;
      margin-bottom: 40px;
      text-align: center;

      &.big {
        width: 50%;
      }

      p {
        padding: 16px 0 0 0;
      }
    }
  }

  .extra-form-popup {
    border-radius: $border-radius;
    position: absolute;
    bottom: 0;
    background-color: #f2d93c;
    width: 100%;
    height: 165px;
    left: 50%;
    margin-left: -50%;
    z-index: 200;
    padding: 0 15px;
    @include box-shadow(0 2px 10px rgba(0, 2, 3, 0.32));

    &.complete {
      height: 48px;
      top: 40px;

      h1 {
        margin: 0;
        padding: 0;
        line-height: 48px;
      }
    }

    h1 {
      font-size: 1.1rem;
      line-height: 40px;
      color: #000;
      text-align: center;
    }

    .extra-form-close {
      position: absolute;
      right: 10px;
      top: 0;
      text-decoration: none;
      font-family: Arial;
      font-size: 1.6rem;
      border: 0;
      margin-top: 5px;
      color: #695934;
      z-index: 100;
    }

    .extra-form-title {
      text-align: center;
      color: #695934;
      font-size: 1rem;
      margin-bottom: 10px;
    }

    form {
      padding: 10px;

      h3 {
        color: $primary-color;
        font-size: 1.2rem;
        text-align: center;
      }

      p {
        margin: 0;
        text-align: center;
      }

      [type="text"] {
        height: 28px;
      }

      [type="text"], textarea {
        margin-top: 10px;
        border: 1px solid rgba(1, 2, 5, 0.17);
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
      }

      [type="submit"] {
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 32px;
      }

      textarea {
        height: 70px;
      }
    }
  }
}

.question-container-modal {
  text-align: center;
  border-radius: $border-radius;
  background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
  padding: 20px;

  #question-modal-form {
    margin-top: 20px;
  }

  .form-row {
    margin-bottom: 15px;

    .button {
      display: block;
      width: 100%;
      text-align: center;
      line-height: 32px;
    }
  }

  h3 {
    color: $primary-color;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  #question-form-modal {
    margin-top: 20px;

    [type="text"] {
      height: 32px;
      line-height: 32px;
    }

    [type="submit"] {
      display: block;
      width: 100%;
      height: 32px;
      line-height: 32px;
    }
  }
}