/*
.slider-new, .slider-popular {
  .product-list-title {
    padding: 0 0 15px 0;
    margin: 0;
  }

  .product-item {
    height: 484px;
  }
}

.slider-popular {
  position: relative;
  top: -76px;
}
*/

.product-detail-link {
  border: 1px solid rgba(112, 112, 112, 0.24);
  @include border-radius(6px);
  @include background-clip(padding-box);
  background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
  @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;

  &, a {
    color: #6f291b;
    text-decoration: none;
  }
}

.catalog-link {
  border: 1px solid rgba(112, 112, 112, 0.24);
  border-radius: $border-radius;
  @include background-clip(padding-box);
  background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
  @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));
  margin: 20px 0;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;

  &, a {
    color: #6f291b;
    text-decoration: none;
  }
}

.product-list-container {
  margin-bottom: 15px;


  .pager-container {
    .pager {
      .active {
        color: #646464;
        a {
          color: #646464;
        }
      }
    }
  }

  .pager-nav {
    display: none;
  }

  h3 {
    color: #70281b;
    font-size: 2rem;

    a {
      text-decoration: underline;
    }
  }
}

.errors {
  @include reset-list;
  cursor: pointer;
  display: none;

  li {
    margin: 2px 10px;
    font-size: 0.8rem;
    color: $primary-color;
  }
}