.modal-container {

  &.product-quick-look {
    z-index: 998;
  }

  &.detect-size {
    z-index: 2001;
  }

  .modal-content {
    &.subscribe-modal {
      border-radius: $border-radius;
      width: 760px;
      padding-left: 500px;
      padding-top: 40px;
      height: 373px;
      background: #f2f3f6 url(../images/main/subscribe-modal.jpg) 0 0 no-repeat;

      .extra-form-popup {
        //    border-radius: $border-radius;
        position: absolute;
        background-color: #f2d93c;
        width: 260px;
        height: 180px;
        right: 0;
        z-index: 200;
        padding: 0 15px;
        @include box-shadow(0 2px 10px rgba(0, 2, 3, 0.32));

        &.complete {
          height: 48px;
          top: 130px;

          h1 {
            padding: 10px 0;
            line-height: 26px;
          }
        }

        h1 {
          font-size: 1.1rem;
          line-height: 40px;
          color: #000;
          text-align: center;
        }

        .extra-form-close {
          position: absolute;
          right: 10px;
          top: 0;
          text-decoration: none;
          font-family: Arial;
          font-size: 1.6rem;
          border: 0;
          margin-top: 5px;
          color: #695934;
          z-index: 100;
        }

        .extra-form-title {
          text-align: center;
          color: #695934;
          font-size: 0.9rem;
        }

        form {
          padding: 10px;

          h3 {
            color: $primary-color;
            font-size: 1.2rem;
            text-align: center;
          }

          p {
            margin: 0;
            text-align: center;
          }

          [type="text"] {
            height: 32px;
          }

          [type="text"], textarea {
            margin-top: 10px;
            border: 1px solid rgba(1, 2, 5, 0.17);
            border-radius: $border-radius;
            @include background-clip(padding-box);
            background-color: #fff;
            @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
          }

          [type="submit"] {
            margin-top: 10px;
            display: block;
            width: 100%;
            height: 32px;
          }

          textarea {
            height: 70px;
          }
        }
      }
    }

    &.feedback-modal {
      width: 280px;
      padding: 10px;
    }

    &.product-question-modal {
      width: 280px;
    }

    &.how-order-modal {
      width: 780px;
    }

    &.request-call-modal {
      width: 500px;
      padding: 25px;

      h1 {
        color: $primary-color;
      }

      p {
        margin: 15px 0 0;
      }
    }
  }
}