.modal-container {
  .modal-content {
    &.order-status {
      width: 520px;
    }
  }
}

.order-status-container {
  h1 {
    padding-top: 15px;
    color: $primary-color;
    text-align: center;
  }

  .order-status-list {
    @include reset-list;

    li {
      border-bottom: 1px solid #ccc;
      padding: 5px 20px 5px 140px;
      min-height: 60px;
      line-height: 60px;
      background-color: transparent;
      background-position: 15px 50%;
      background-repeat: no-repeat;

      &.sdek {
        background-image: url(../images/main/status-sdek.png);
      }

      &.spsr {
        background-position: 25px 50%;
        background-image: url(../images/main/status-spsr.png);
      }

      &.dpd {
        background-image: url(../images/main/status-dpd.png);
      }

      &.auto {
        background-image: url(../images/main/status-auto.png);
      }

      &.line {
        background-image: url(../images/main/status-line.png);
      }

      &.ems {
        background-image: url(../images/main/status-ems.png);
      }

      &.pek {
        background-position: 25px 50%;
        background-image: url(../images/main/status-pek.png);
      }

      a {
        margin-top: 20px;
        @include float-right;
        width: 146px;
        height: 28px;
        line-height: 22px;
        padding: 4px 14px;
        color: #695934;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #d6c450;
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #f3db40;
        @include linear-gradient(bottom, #eecd28 0%, #f7e858 100%);
      }
    }
  }

  #order-status {
    @include border-radius(0 0 5px 5px);
    background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
    padding: 20px;

    h4 {
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $primary-color;
      text-align: center;
    }

    p {
      color: #6a6a6a;
      text-align: center;
      margin-bottom: 10px;
    }

    [type="text"] {
      height: 28px;
      border: 1px solid rgba(1, 2, 5, 0.17);
      border-radius: $border-radius;
      @include background-clip(padding-box);
      background-color: #fff;
      @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
    }

    [type="submit"] {
      display: block;
      height: 28px;
      padding: 0 6px;
      width: 100%;
    }
  }
}