.page-container {
  h1, h2, h3, h4, h5, h6 {
    @include antialias;
    color: $primary-color;
  }

  table {
    td {
      padding: 5px;
    }
  }

  .page-childrens {
    h2 {
      &, a {
        color: #232323;
        font-size: 1rem;
        margin: 0 0 10px 0;
        padding: 0;
      }
    }

    .page-date {
      margin: 10px 0;
      color: #808080;
      font-size: 0.7rem;
    }

    .page-read-more {
      margin-top: 10px;
    }

    .page-content {
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;

      .page-file {
        width: 140px;
      }
    }
  }

  ul {
    margin-left: 18px;
  }

  .page-content {
    @include clearfix;
    padding-bottom: 20px;

    h1 {
      margin-top: 0;
    }

    .page-file {
      width: 320px;
      @include float-left;
      margin: 0 20px 0 0;

      a {
        display: block;
        border: 3px solid #fff;
        @include border-radius(1px);
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(0 1px 3px rgba(1, 2, 5, 0.3));
      }
    }
  }

  table {
    tr {
      background-color: transparent;
    }
  }

  .page-extra {
    margin-bottom: 20px;

    .counter-container {
      height: 74px;
      margin-top: 20px;
      border: 1px solid #dddddd;
      border-radius: $border-radius;
      background: transparent url(../images/main/page-extra-counter-bg.png) -20px 0 no-repeat;
      position: relative;

      @media #{$medium-only} {
        background-position: -280px 0;
      }

      ul {
        margin-left: 0;
      }

      .counter-label {
        position: absolute;
        left: 0;
        top: 0;
        width: 28px;
        height: 72px;
        background: transparent url(../images/main/page-extra-counter-label.png) 0 -1px no-repeat;
      }

      .counter-text {
        line-height: 72px;
        padding-left: 54px;
        font-size: 1.6rem;
        color: $primary-color;
        @include antialias;

        @media #{$medium-only} {
          font-size: 1.1rem;
        }
      }

      .counter {
        position: absolute;
        width: 300px;
        right: 0;
        top: 0;

        .back-counter-container {
          position: absolute;
          right: 20px;
          top: 20px;
          width: 200px;
        }

        .back-counter-text {
          position: absolute;
          left: -40px;
          top: 20px;
        }

        .flip-clock-wrapper ul li a div div.inn {
          color: $primary-color;
          font-size: 1.4rem;
        }

        .flip-clock-divider .flip-clock-label {
          color: #111;
          font-size: 0.9rem;
        }
      }
    }

    .page-extra-sidebar-container {
      border-radius: $border-radius;

      .page-extra-sidebar {
        position: relative;
        height: 385px;
        background: #601806 url(../images/main/page-extra-sidebar.jpg) 0 0 no-repeat;
        border: 1px solid rgba(1, 2, 5, 0.17);
        border-radius: $border-radius;
        @include background-clip(padding-box);
        @include box-shadow(0 0 16px rgba(0, 0, 0, 0.15));

        &.sales {
          height: 475px;

          #credit-form {
            height: 172px;
          }

          .arrow.sales {
            top: 269px;
          }
        }

        .page-extra-title {
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          font-size: 1.1rem;
          line-height: 48px;
        }

        .arrow {
          width: 8px;
          height: 8px;
          position: absolute;
          left: 50%;
          top: 210px;
          z-index: 100;
          margin-left: -4px;

          &.credit {
            top: 210px;
          }

          &:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(75, 16, 4, 0);
            border-top-color: #4b1004;
            border-width: 8px;
            margin-left: -8px;
          }
        }

        #price-delivery-form {
          height: 165px;

          h1 {
            margin: 0;
            padding: 20px;
          }
        }

        #credit-form {
          height: 165px;

          h1 {
            margin: 0;
            text-align: center;
            padding-top: 20px;
          }
        }

        .page-extra-list {
          @include reset-list;
          padding: 0 14px;
          @include antialias;

          li {
            font-weight: bold;
            font-size: .86rem;
            color: #fff;
            margin-bottom: 5px;
            background-color: transparent;
            background-position: 0 0;
            background-repeat: no-repeat;
            height: 38px;
            padding-left: 48px;

            &.page-extra-list-world {
              background-position: 0 10px;
              background-image: url(../images/main/page-extra-world.png);
            }

            &.page-extra-list-time {
              background-image: url(../images/main/page-extra-time.png);
            }

            &.page-extra-list-prepare {
              line-height: 28px;
              background-image: url(../images/main/page-extra-prepare.png);
            }

            &.page-extra-list-pay {
              background-image: url(../images/main/page-extra-pay.png);
            }

            &.page-extra-list-clothes {
              line-height: 38px;
              background-position: 0 4px;
              background-image: url(../images/main/page-extra-clothes.png);
            }

            &.page-extra-list-5000 {
              background-position: 0 4px;
              background-image: url(../images/main/page-extra-5000.png);
            }

            &.page-extra-list-300 {
              background-position: 0 4px;
              background-image: url(../images/main/page-extra-300.png);
            }

            &.page-extra-list-auto {
              background-position: 0 10px;
              background-image: url(../images/main/page-extra-auto.png);
            }
          }

          &.credit {
            //margin: 8px 0 ;

            li {
              margin-bottom: 0px;
              vertical-align: middle;
              background-position: left center;

              &.page-extra-list-time {
                background-image: url(../images/main/page-extra-time.png);
              }

              &.page-extra-list-zero {
                background-image: url(../images/main/page-extra-zero.png);
              }

              &.page-extra-list-calendar {
                //background-image: url(../images/main/page-extra-calendar.png);
                background-image: url(../images/main/page-extra-pay.png);
              }

              &.page-extra-list-mouse {
                background-image: url(../images/main/page-extra-mouse.png);
              }
            }
          }
        }
      }
    }

    .page-extra-container-girl {
      .page-extra-girl {
        border-radius: $border-radius;
        background: transparent url(../images/main/page-extra-girl.jpg) 100% 50% no-repeat;
        height: 385px;
        position: relative;

        .page-extra-text {
          background-color: #fff;
          @include box-shadow(0 0 40px rgba(0, 2, 3, 0.44));
          width: 360px;
          position: absolute;
          top: 100px;
          left: 0;

          &.credit {
            .page-extra-top-text {
              @include antialias;
              background-color: #f1d43b;
              font-size: 1rem;
              font-weight: bold;
              padding: 10px 16px;
              color: #6a5934;
            }

            .page-extra-bottom-text {
              font-size: 0.8rem;
              padding: 10px 16px;
              color: #666666;
            }
          }

          &.delivery {
            text-transform: uppercase;

            .page-extra-top-text {
              font-size: 1.1rem;
              font-weight: bold;
              @include antialias;
              padding: 10px 20px;
              color: $primary-color;
            }

            .page-extra-bottom-text {
              @include antialias;
              background-color: #f1d43b;
              font-size: 1.6rem;
              font-weight: bold;
              padding: 10px 20px;
              color: #6a5934;
            }
          }
        }
      }
    }

    .page-extra-container-sales {
      .page-extra-sales {
        border-radius: $border-radius;
        background: transparent url(../images/main/page-extra-sales.png) 50% 50% no-repeat;
        height: 476px;
        position: relative;
      }
    }
  }
}

.page-credit {
  .page-extra-sidebar {
    //background-position: top -45px center !important;

    .page-extra-list {
      li {
        min-height: 42px;
        line-height: 42px;
        display: inline-block;

        .multiline {
          line-height: 16px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

  }
}

#sale-form {

  h1 {
    margin: 0;
    text-align: center;
    padding-top: 20px;
  }
}

#price-delivery-form,
#credit-form,
#sale-form {
  @include border-radius(0 0 4px 4px);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 4px;
  background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;

  .columns {
    margin-top: 10px;
  }

  .sale-form-name,
  .delivery-form-city,
  .credit-form-name {
    padding: 0 0 0 10px;
  }

  .sale-form-phone,
  .delivery-form-phone,
  .credit-form-phone {
    padding: 0 10px 0 0;
  }

  .sale-form-submit,
  .delivery-form-submit,
  .credit-form-submit {
    padding: 0 10px;
  }

  .form-title {
    text-align: center;
    color: #111111;
    font-size: 0.9rem;
    font-weight: bold;
  }

  [type="text"] {
    width: 100%;
    height: 32px;
  }

  [type="submit"] {
    height: 30px;
    display: block;
    width: 100%;
    border: 1px solid #d6c450;
    @include border-radius(6px);
    @include background-clip(padding-box);
    background-color: #f3db3f;
    color: #695934;
    @include linear-gradient(bottom, #eecd28 0%, #f7e858 100%);
  }
}
