.payment-wrapper {
  .payment-info {
    .buttons {
      margin: 15px 0;
      text-align: center;
    }
    button {
      padding: 5px 10px;
      text-align: center;
    }

    .info {
      margin: 10px 0;
      font-size: 1rem;

      label {
        font-size: 1rem;
        margin-left: 10px;
      }

      .inputs {
        margin-left: 10px;
        display: block;

        label {
          color: black;
          font-size: 1rem;
        }

      }

      pre {
        margin: 5px;
        font-family: 'Roboto Mono', monospace;
      }
    }
  }
}