@media print {
  #header, #footer, .features-container {
    display: none;
  }

  // Contacts
  .map-images,
  .contacts-links,
  .contacts-intro-container {
    display: none !important;
  }

  #map {
    border: 0 !important;
    padding: 10mm;
  }

  h1 {
    text-align: center;
  }

  .map-sidebar {
    width: 100% !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}