.slider-recent {
  margin-top: 40px;
}

.category-list-container-title {
  margin-top: 40px;
}

.category-list-container {
  .button {
    display: block;
    width: 120px;
    position: relative;
    margin: 0 auto;
    top: -33px;
    padding: 0 10px;

    &::after, &::before {
      position: absolute;
      top: 0;
      content: " ";
      width: 30px;
      height: 30px;
      background-color: #fff;
    }

    &::after {
      right: -32px;
    }

    &::before {
      left: -32px;
    }
  }
}

.product-detail-hr {
  border-width: 2px 0 0;
  border-color: #e5e5e5;
}

.product-detail-image-container {
  position: relative;

  .product-item-discount {
    @include antialias;
    position: absolute;
    right: 0;
    bottom: 10px;
    min-width: 120px;
    padding: 0 6px;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: #695934;
    font-weight: bold;
    line-height: 24px;
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background-color: #f3db3f;
    @include inline-block;
    z-index: 100;
    height: 24px;
  }

  .product-detail-useless {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url(../images/main/useless.png) 0 0 no-repeat;
    display: block;
    width: 36px;
    height: 36px;
  }

  .product-detail-discount-percentage {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    display: block;
    @include border-radius(36px);
    width: 36px;
    height: 36px;
    background-color: #70281b;
    line-height: 36px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    @include antialias;
  }
}

.product-detail-full {
  @include clearfix;

  h1 {
    margin-top: 0;
    color: $primary-color;
  }

  .produt-detail-full-code {
    margin: 15px 0;
  }

  .product-detail-full-price {
    color: $primary-color;
    font-size: 1.875rem;
    margin: 0 0 20px;
  }

  .product-detail-full-old-price {
    color: #636363;
    font-size: .9rem;
    text-decoration: line-through;
  }

  .product-detail-image {
    display: block;
    margin: 0 auto;
  }

  .product-detail-share-container {
    margin: 20px 0;

    p {
      @include inline-block;
      margin-right: 20px;
    }
  }

  .product-full-images-slider-container {
    border-radius: $border-radius;
    background-color: #FAF9F9;
    padding: 8px 15px;

    li {
      padding: 0;
    }

    .product-images-item {
      padding: 0 3px;

      img {
        cursor: pointer;
        border-radius: $border-radius;
        border: 2px solid transparent;

        &:hover {
          border: 2px solid $primary-color;
        }
      }
    }

    .product-full-images-slider {
      position: relative;

      .medium-block-grid-4 {
        padding: 0 15px;
      }

      .pager, .page--first, .page--last {
        display: none;
      }

      .pager-nav {
        list-style: none;

        .page--prev, .page--next {
          cursor: pointer;
          display: block;
          position: absolute;
          background-color: transparent;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          width: 7px;
          height: 19px;
          margin: 0;
          top: 50%;
          margin-top: -9px;


          &.disabled {
            cursor: not-allowed;
            opacity: 0.2;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            @include hide-text;
          }
        }

        .page--prev {
          left: -10px;
          background-image: url(../images/main/product-quick-prev.png);
        }

        .page--next {
          right: -10px;
          background-image: url(../images/main/product-quick-next.png);
        }
      }
    }
  }
}

.example-enter {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;

  &.example-enter-active {
    opacity: 1;
  }
}

.product-list-container {
  h1 {
    margin-top: 0;
  }

  .pager-nav {
    display: none;
  }

  // hack for every 6 element
  /*
  .small-block-grid-5 {
    li {
      &:nth-child(5n + 1), &:first-child {
        .product-item {
          .product-item-overlay {
            margin-right: -89px;
            padding-right: 88px;
            margin-left: 0;
            padding-left: 0;

            &.no-images {
              margin-right: -1px;
              padding-right: 0;
            }

            .product-images-slider {
              display: block;
              position: absolute;
              right: 10px;
              left: auto;
              top: 25px;
              width: 80px;
              height: 280px;
            }
          }
        }
      }
    }
  }
  */
  .small-block-grid-5, .small-block-grid-4 {
    li {
      padding: 0;
    }
  }

  .product-slider {
    position: relative;

    .pager {
      position: absolute;
      right: 20px;
      top: 16px;
      width: 160px;

      li {
        @include transition(none);
        cursor: pointer;
        @include float-right;
        display: block;
        margin: 0 3px;
        @include opacity(0.8);
        border: 1px solid #6f291b;
        @include border-radius(20px);
        @include background-clip(padding-box);
        background-color: #6f291b;
        opacity: 1;
        width: 12px;
        height: 12px;
        position: relative;

        a {
          padding: 0;
          width: 10px;
          height: 10px;
          display: block;
          @include hide-text;
        }

        &.active {
          a {
            cursor: default;
          }
        }

        &.active, &:hover {
          background-color: #fff;

          a {
            top: 0;
            left: 0;
            position: absolute;
            @include opacity(0.8);
            border: 1px solid #fff;
            @include border-radius(20px);
            @include background-clip(padding-box);
            background-color: #6f291b;
            opacity: 1;
          }
        }
      }
    }

    .pager-nav {
      list-style: none;
      .next-page, .prev-page {
        position: absolute;
        top: 0;
        cursor: pointer;
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 20px;
        height: 103px;
        top: 40%;
        margin-top: -51.5px;

        &.disabled {
          cursor: default;
          opacity: 0.2;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
          @include hide-text;
        }
      }

      .next-page {
        right: -45px;
        background-image: url(../images/main/slider-next.png);
      }

      .prev-page {
        left: -45px;
        background-image: url(../images/main/slider-prev.png);
      }
    }
  }

  .product-item {
    width: 255px;
    height: 424px;
    text-align: center;
    padding-top: 10px;
    position: relative;
    margin: 0 auto;

    .product-item-discount-percentage {
      position: absolute;
      top: 0;
      right: 10px;
      color: #fff;
      display: block;
      @include border-radius(36px);
      width: 36px;
      height: 36px;
      background-color: #70281b;
      line-height: 36px;
      text-align: center;
      font-size: 0.8rem;
      font-weight: bold;
      @include antialias;
    }

    .product-item-discount {
      position: absolute;
      right: 0;
      bottom: 10px;
      min-width: 120px;
      padding: 0 6px;
      text-align: center;
      font-size: 0.8rem;
      text-transform: uppercase;
      color: #695934;
      font-weight: bold;
      line-height: 18px;
      border-radius: $border-radius;
      @include background-clip(padding-box);
      background-color: #f3db3f;
      @include inline-block;
      z-index: 100;
      height: 18px;
    }

    .product-item-overlay {
      .product-image-prev, .product-image-next {
        display: none;
      }

      .product-images-slider {
        display: none;
      }

      .product-item-additional-container {
        display: none;
      }
    }

    &.category {
      &:hover {
        .product-item-overlay {
          height: 410px;
        }
      }

      .product-item-title {
        height: auto;
      }
    }

    &:hover {
      padding-top: 0;

      .product-item-discount {
        display: none;
      }

      .product-item-overlay {
        padding-top: 10px;
        border-radius: $border-radius;
        border: 2px solid #c4c4c4;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 580px;
        margin-top: -2px;
        margin-left: -89px;
        width: 255px + 90px;
        padding-left: 88px;
        @include box-shadow(0 0 12px rgba(92, 99, 100, 0.27));

        .product-item-overlay-buttons {
          margin-top: 4px;

          & > p {
            font-weight: bold;
            color: #717171;
            margin: -8px 0 0 0;
          }

          .button {
            text-transform: uppercase;
            display: block;
            margin: 4px 8px 0;
            height: 28px;
            line-height: 28px;
          }
        }

        &.no-images {
          margin-left: -1px;
          width: 257px;
          padding-left: 0;
        }

        .product-image {
          img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            width: auto;
            height: 317px;
            max-height: 317px;
          }

          .product-item-detail-container {
            display: block;
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin-left: -50px;
            @include border-radius(14px);
            background-color: #fff;
            @include box-shadow(inset 0 2px 5px rgba(0, 1, 2, 0.11));
            border: 2px solid #efd95d;

            .product-item-detail {
              background: transparent url(../images/main/product-zoom.png) 8px 3px no-repeat;
              display: block;
              margin-top: 2px;
              line-height: 20px;
              @include border-radius(14px);
              padding: 0 12px 0 24px;
              text-transform: uppercase;
              font-size: 0.7rem;
              font-weight: 700;
            }
          }
        }

        .product-item-additional-container {
          display: block;
          position: absolute;
          bottom: 10px;
          right: 0;
          width: 253px;

          .link {
            margin: 4px 8px 0;
            color: #695934;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            height: 28px;
            line-height: 26px;
            display: block;
            border: 1px solid #d6c450;
            @include border-radius(4px);
            @include background-clip(padding-box);
            background-color: #f3db3f;
            @include linear-gradient(bottom, #eecd28 0%, #f8e958 100%);

            &.gray {
              background: none;
              border: 2px solid #b1b1b1; // stroke
              border-radius: $border-radius;
              color: #929292;
            }
          }

          hr {
            margin: 6px 8px;
          }

          .product-item-sizes-title {
            margin-bottom: 4px;
            color: $primary-color;
          }

          .product-item-sizes-list {
            @include reset-list;

            li {
              @include inline-block;
              margin: 0 2px;
              cursor: not-allowed;
              border-radius: $border-radius;
              border: 2px solid transparent;
              padding: 1px 3px;

              a {
                cursor: not-allowed;
                color: #555;
              }

              &.available {
                a {
                  color: $primary-color;
                  cursor: pointer;
                }
              }

              &:hover {
                border: 2px solid #ccc;

                &.active {
                  cursor: pointer;
                  border: 2px solid $primary-color;
                  text-decoration: none;
                }
              }

              &.active {
                border: 2px solid $primary-color;
              }
            }
          }
        }

        .product-images-slider {
          display: block;
          position: absolute;
          left: 10px;
          top: 25px;
          width: 80px;
          height: 280px;

          .product-images-item {
            border-radius: $border-radius;
            cursor: pointer;
            border: 2px solid transparent;
            padding: 1px;
            height: 90px;

            &:hover {
              border: 2px solid $primary-color;
            }

            img {
              width: auto;
              height: 100%;
              display: block;
              margin: 0 auto;
            }
          }

          .pager {
            display: none;
          }

          .pager-nav {
            list-style: none;
            .prev-page, .next-page {
              @include hide-text;
              display: block;
              position: absolute;
              left: 30px;
              background-color: transparent;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              width: 19px;
              height: 7px;
              margin: 0;

              &.disabled {
                cursor: not-allowed;
                opacity: 0.2;
              }

              a {
                display: block;
                width: 100%;
                height: 100%;
                @include hide-text;
              }
            }

            .prev-page {
              top: -14px;
              background-image: url(../images/main/product-images-prev.png);
            }

            .next-page {
              top: 369px;
              background-image: url(../images/main/product-images-next.png);
            }
          }
        }
      }
    }

    .product-image {
      margin-bottom: 12px;
      position: relative;

      .product-item-detail-container {
        display: none;
      }

      img {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: auto;
        height: 317px;
        max-height: 317px;
        /*
        &:after {
          content: " ";
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -20px;
          margin-left: -20px;
          width: 40px;
          height: 40px;
          background-color: #ccc;
          border-radius: 100%;
          -webkit-animation: scaleout 1.0s infinite ease-in-out;
          animation: scaleout 1.0s infinite ease-in-out;
        }
        */
      }
    }

    .product-item-title {
      color: #812414;
      padding: 0 8px;
      margin-bottom: 5px;
      min-height: 32px;
      font-size: .85rem;

      .product-item-code {
        color: #717171;
        margin-left: 10px;
      }
    }

    .product-item-price-container {
      font-size: .85rem;
    }

    .product-item-price {
      font-weight: 700;
      color: #812414;
    }

    .product-item-old-price {
      color: #5f5f5f;
      text-decoration: line-through;
    }
  }

  .pager-full {
    width: 630px;
    @include reset-list;
    text-align: center;
    margin: 0 auto 0;

    li {
      display: inline-block;
      margin: 0 5px;

      a {
        display: inline-block;
        padding: 2px 6px;
        border-radius: 5px;
        border: 2px solid transparent;
      }

      &.active, &:hover {
        a {
          background-color: transparent;
          color: $primary-color;
          border: 2px solid $primary-color;
        }
      }
    }
  }
}

.product-page-container {
  $lineHeight: 25px;
  margin-top: 20px;

  .sidebar {
    p {
      font-size: 1rem;
      line-height: $lineHeight;

      strong {
        @include antialias;
        color: $primary-color;
      }
    }

    .sidebar-menu {
      @include reset-list;
      margin-bottom: 10px;

      li {
        margin-bottom: 2px;

        &.active {
          & > a {
            font-weight: bold;
          }
        }

        a {
          @include transition($defaultTransition);
          background-position: 0 50%;
          background-color: transparent;
          background-repeat: no-repeat;
          display: block;

          &.active {
            font-weight: bold;
          }

          &:hover {
            padding-left: 15px;
            text-decoration: underline;
            background-image: url(../images/main/sidebar-arrow.png);
            font-weight: 700;
          }
        }

        &, a {
          font-size: 1rem;
          color: #5a5a5a;
          line-height: $lineHeight;
        }

        a.active + .sidebar-nested-menu {
          display: block;
        }

        .sidebar-nested-menu {
          @include reset-list;
          display: none;
          margin: 4px 0;

          &.active {
            display: block;
          }

          li {
            line-height: 20px;

            a {
              line-height: 18px;
              font-size: 0.8rem;
              display: block;
              @include transition($defaultTransition);
              padding-left: 15px;
              background-position: 0 50%;
              background-color: transparent;
              background-repeat: no-repeat;

              &.active {
                font-weight: bold;
                color: $primary-color;
                background-image: url(../images/main/sidebar-arrow.png);
              }

              &:hover {
                color: $primary-color;
                background-image: url(../images/main/sidebar-arrow.png);
              }
            }
          }
        }
      }
    }

    .icon-gift, .icon-size, .icon-order {
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 50%;
      padding-left: 38px;
      padding-bottom: 4px;
      line-height: 36px;

      a {
        color: #5a5a5a;
        text-decoration: underline;
      }
    }

    .icon-order {
      background-image: url(../images/main/sidebar-icon-order.png);
    }

    .icon-gift {
      background-image: url(../images/main/sidebar-icon-gift.png);
      background-position: 4px 30%;
    }

    .icon-size {
      background-image: url(../images/main/sidebar-icon-size.png);
      background-position: 6px 50%;
    }

    hr {
      width: 196px;
      height: 5px;
      background: transparent url(../images/main/hr-shadow.png) 0 50% no-repeat;
      margin: 5px 0;
    }
  }
}

.product-detail {
  margin-bottom: 20px;

  .product-detail-read-more {
    margin-top: 10px;
    @include inline-block;
    color: $primary-color;
    border-bottom: 1px dashed $primary-color;
  }

  h4 {
    margin: 10px 0;
  }

  h1 {
    font-size: 1.4rem;
    color: #606060;
  }

  .product-detail-price {
    color: $primary-color;
    line-height: 24px;
    font-size: 1.8rem;
  }
  .product-detail-prices {

    margin: 0 0 20px;
  }

  .product-detail-old-price {
    color: #636363;
    font-size: .9rem;
    text-decoration: line-through;
  }
  .tabs {
    #quick-order-form {
      .order-button {
        font-size: 13px;
      }
    }
  }
}

.product-detail-sizes {
  margin: 20px 0;

  p {
    @include inline-block;
    color: #606060;
    font-weight: bold;
    margin-right: 10px;
  }

  .product-detail-sizes-list {
    @include reset-list;
    @include inline-block;

    li {
      @include inline-block;
      margin: 0 2px;
      cursor: not-allowed;
      border-radius: $border-radius;
      border: 2px solid transparent;
      padding: 1px 3px;

      &, a {
        color: #353535;
      }

      &.available {
        cursor: pointer;
      }

      &.not-available {
        a, span {
          cursor: not-allowed;
          color: #ccc;
        }
      }

      &.active {
        cursor: pointer;
        border: 2px solid $primary-color;
      }

      &:hover {
        border: 2px solid #ccc;

        &.available {
          cursor: pointer;
          border: 2px solid $primary-color;
        }
      }
    }
  }
}

.product-quick-images-slider-container {
  position: relative;
  padding: 0 15px;

  .pager, .page--first, .page--last {
    display: none;
  }
  .product-images-loader {
    padding: 5px 1px;
  }

  .product-images-item {
    @include inline-block;
    border-radius: $border-radius;
    padding: 5px 1px;

    &:hover {
      img {
        border: 2px solid $primary-color;
      }
    }

    img {
      border-radius: $border-radius;
      cursor: pointer;
      border: 2px solid transparent;
      display: block;
      margin: 0 auto;
    }
  }

  .pager-container {
    position: relative;
  }

  .pager-nav {
    position: absolute;
    top: -90px;
    width: 100%;
    list-style: none;
  }

  .page--prev, .page--next {
    position: absolute;

    &.disabled {
      opacity: 0.4;

      a {
        cursor: not-allowed;
      }
    }

    a {
      width: 7px;
      height: 19px;
      display: block;
      @include hide-text;
    }
  }

  .medium-block-grid-3 {
    padding: 0 15px;
  }

  .page--prev {
    left: -10px;
    background-image: url(../images/main/product-quick-prev.png);
  }

  .page--next {
    right: -10px;
    background-image: url(../images/main/product-quick-next.png);
  }

  ul {
    li {
      padding: 0;
    }
  }
}

.loader {
  text-align: center;
  text-transform: uppercase;

  img {
    display: block;
    margin: 0 auto 15px;
    width: 64px;
    height: 64px;
  }

  p {
    @include antialias;
    font-size: 1.2rem;
  }

  svg {
    fill: #a00;
    stroke: #a00;
  }
}

.margin-top {
  margin-top: 40px;
}

.page-size {
  a {
    margin: 0 6px;
    color: $primary-color;
    border-bottom: 1px dashed $primary-color;
    &.active {
      color: $gray-color;
      border-bottom: 1px dashed $gray-color;
    }
  }
}

.slider-also {
  .pager-container {
    .pager-nav {
      display: none;
    }
  }
}

.product-list {
  margin: 0 0 0 -10px;

  @media #{$large-up} {
    margin: 0;
  }

  li {
    padding-left: 0;
    padding-right: 0;
  }
}