.product-gift-container {
  background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
  padding-top: 32px;
  color: #5a5a5a;
  border-style: solid;
  border-width: 1px 0;
  border-color: rgba(112, 112, 112, 0.24);
  @include background-clip(padding-box);
  @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));

  [class*=block-grid-] {
    margin: 0 !important;
  }

  .product-gift-consult {
    position: relative;
    bottom: -20px;
    margin: 0 auto;
    display: block;
    width: 238px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #d6c450;
    text-transform: uppercase;
    @include border-radius(22px);
    @include background-clip(padding-box);
    background-color: #f3db3f;
    color: #695934;
    @include linear-gradient(bottom, #eecd28 0%, #f7e858 100%);
    @include antialias;
  }

  .product-gift-info-container {
    margin-bottom: 38px;
    text-align: center;

    h2 {
      color: $primary-color;
      @include antialias;
    }
  }

  .product-gift-item {
    text-align: center;

    p {
      background-color: transparent;
      background-position: 50% 0;
      background-repeat: no-repeat;
      padding: 86px 0 0 0;

      &.payment {
        background-image: url(../images/main/product-gift-payment.png);
      }

      &.remember {
        background-image: url(../images/main/product-gift-remember.png);
      }

      &.cert {
        background-image: url(../images/main/product-gift-cert.png);
      }

      &.garant {
        background-image: url(../images/main/product-gift-garant.png);
      }

      &.bag {
        background-image: url(../images/main/product-gift-bag.png);
      }

      &.discount {
        background-image: url(../images/main/product-gift-discount.png);
      }
    }
  }
}