.quick-order {
  margin-bottom: 20px;

  &.small {
    .tabs {
      #credit-order-form {
        height: 102px;
        margin-top: 0;

        [type="submit"] {
          margin-top: 10px;
        }
      }
    }
  }

  .tabs {
    p {
      padding: 15px 15px 0;
    }

    form {
      position: relative;

      h1 {
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
      }

      [type="submit"] {
        @include transition(none);
      }

      [type="text"] {
        border: 1px solid rgba(1, 2, 5, 0.17);
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
      }

      .extra-form {
        border-radius: $border-radius;
        position: absolute;
        top: auto;
        bottom: 0;
        background-color: #f2d93c;
        width: 100%;
        height: 182px;
        left: 0;
        padding: 0 15px;
        z-index: 1;
        @include box-shadow(0 2px 10px rgba(0, 2, 3, 0.32));

        .extra-form-close {
          @include float-right;
          text-decoration: none;
          font-family: Arial;
          font-size: 1.6rem;
          border: 0;
          margin-top: 5px;
          color: #695934;
        }

        &.small {

          textarea {
            height: 68px;
          }

          &:after {
            display: none;
          }
        }

        &:after {
          top: 100%;
          left: 50%;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border: 15px solid rgba(242, 217, 60, 0);
          border-top-color: #f2d93c;
          margin-left: -15px;
        }

        .extra-form-title {
          text-align: center;
          color: #695934;
          font-size: 1rem;
          margin-bottom: 10px;
        }

        [type="text"] {
          margin-bottom: 5px;
        }

        textarea {
          height: 104px;
        }

        [type="text"], textarea {
          border: 1px solid rgba(1, 2, 5, 0.17);
          border-radius: $border-radius;
          @include background-clip(padding-box);
          background-color: #fff;
          @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
        }

        [type="submit"] {
          display: block;
          width: 100%;
        }
      }
    }

    #credit-order-form {
      @include background-clip(padding-box);
      @include border-radius(0 0 5px 5px);
      margin-top: 15px;
      padding: 15px 5px;
      height: 62px;

      [type="text"], [type="submit"] {
        height: 32px;
      }

      [type="submit"] {
        display: block;
        width: 100%;
      }
    }

    #quick-order-form {
      @include border-radius(0 0 5px 5px);
      @include background-clip(padding-box);
//      background-color: $primary-color;
      padding: 15px 5px;
      margin-top: 15px;
      height: 62px;

      h1 {
        color: $primary-color;
      }

      [type="text"], [type="submit"] {
        height: 32px;
      }

      .order-button {
        font-weight: 700;
        display: block;
        width: 100%;
        @include border-radius(6px);
        @include background-clip(padding-box);

        background-color:  #8f8f8f;
        box-shadow: 0 2px 0 0 rgba(46, 16, 1, 0.54);
        color: #fff;
        border: 0;

        &.yellow {
          border: 1px solid #d6c450;
          background-color: #f3db3f;
          color: #695934;
          @include linear-gradient(bottom, #eecd28 0%, #f7e858 100%);
        }

        &.maroon {
          border: 1px solid #a72f19;
          background-color: #83200f;
          box-shadow: none;
        }
      }
    }
  }
}