.reviews-expert-container {
  margin-top: 40px;

  h3 {
    font-size: 1.1rem;
    color: $primary-color;
    margin-bottom: 15px;
    padding: 0;

    &.reviews-block-video-title {
      font-size: 1.8rem;
      margin-bottom: 24px;
    }
  }

  .reviews-full-item {
    margin-bottom: 0;
    height: 262px;

    .reviews-full-item-content {
    }
  }
}

.reviews-switch {
  @include reset-list;
  @include clearfix;
  margin-top: 5px;

  li {
    @include float-left;
    margin-right: 30px;
    font-size: 1.0rem;
    @include antialias;
    @include background-clip(padding-box);
    display: block;
    width: 311px;
    height: 48px;
    padding: 5px 8px;
    text-align: center;
    line-height: 28px;

    &.active {
      background: transparent url(../images/main/review-switch-full.png) 0 0 no-repeat;

      a {
        border-bottom: 1px dashed transparent;
      }
    }

    a {
      border-bottom: 1px dashed $primary-color;
    }
  }
}

.review-tabbed-container {
  margin: 11px 0 0 0;

  .reviews-block-container {
    margin: 0;
  }

  .reviews-expert-container {
    margin: 0;
    position: relative;

    .reviews-full-item {

    }

    .reviews-all-link {
      position: absolute;
      bottom: 60px;
      right: 20px;

      a {
        @include inline-block;
        margin-left: 25px;
        padding: 0 15px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        font-size: 0.8rem;
        font-weight: bold;
        border: 1px solid #ddd;
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #fff;
        @include linear-gradient(bottom, rgba(215, 215, 215, 0.32) 0%, rgba(255, 255, 255, 0.32) 100%);
      }
    }

    .pager-nav {
      @include reset-list;

      li {
        position: absolute;
        top: 40%;
        margin-top: -22px;

        a {
          display: block;
          @include hide-text;
          background-color: transparent;
          background-position: 0 0;
          background-repeat: no-repeat;
          width: 15px;
          height: 44px;
        }

        &.next-page {
          right: 15px;

          a {
            background-image: url(../images/main/reviews-slide-next.png);
          }
        }

        &.prev-page {
          left: 15px;

          a {
            background-image: url(../images/main/reviews-slide-prev.png);
          }
        }
      }
    }

    .pager {
      position: relative;
      top: -60px;
      margin: 0 auto;
      width: 630px;

      li {
        a {
          border-radius: $border-radius;
          border: 2px solid transparent;
        }

        &.active, &:hover {
          a {
            background-color: transparent;
            color: $primary-color;
            border: 2px solid $primary-color;
          }
        }
      }
    }
  }
}

.reviews-page-container {
  .reviews-switch {
    @include float-right;

    li {
      margin-left: 30px;
      margin-right: 0;
      width: 163px;

      &.active {
        background: transparent url(../images/main/review-switch.png) 0 0 no-repeat;
      }
    }
  }

  h1 {
    margin: 10px 0 0 0;
    padding: 0;
    color: $primary-color;
  }

  .reviews-full-container {
    margin: 20px 0 40px 0;
  }

  #review-form {
    margin-top: 5px;
    border: 1px solid rgba(112, 112, 112, 0.24);
    @include border-radius(6px);
    @include background-clip(padding-box);
    background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
    @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));
    padding: 13px;

    h4 {
      font-size: 1.3rem;
      text-align: center;
      color: $primary-color;
      margin: 0 0 10px 0;
      padding: 0;

      .text {
        color: #000;
        text-align: left;
        font-size: 1rem;
        display: inline-block;
        line-height: 1.6;
        padding-top: 10px;
        padding-left: 10px;

        a {
          text-decoration: underline;
        }
      }
    }

    .review-form-row {
      margin-bottom: 10px;
      position: relative;

      [type="text"], textarea {
        width: 100%;
      }

      [type="submit"] {
        display: block;
        width: 100%;
        height: 32px;
      }
    }
  }

  .review-action {
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color:  #f3db40;
    box-shadow: 1px 3px 10px 0px rgba(1, 2, 5, 0.07);
    height: 98px;
    position: relative;
    padding: 12px 20px 10px 80px;

    .review-action-img {
      width: 68px;
      height: 114px;
      background: transparent url(../images/main/action-woman.png) center no-repeat;
      position: absolute;
      bottom: 0;
      left: 5px;
    }

    p {
      color:  #695934;
      font-size: 0.7rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.reviews-full-container {
  margin: 40px 0;

  &.video-container {
    .small-block-grid-2 {
      li {
        a {
          position: relative;
          display: block;

          &:after {
            @include border-radius(2px);
            @include box-shadow(0 1px 3px rgba(1, 2, 5, 0.3));
            display: block;
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4) url(../images/main/review-play-big.png) 50% 50% no-repeat;
          }
        }
      }
    }
  }

  .pager-full {
    @include reset-list;
    text-align: center;
    height: 40px;
    margin: 0 auto;

    li {
      display: inline;
      padding: 0 4px;
      height: 31px;
      @include background-clip(padding-box);

      &.disabled {
        &.prev-page, &.next-page {
          opacity: 0.2;
        }
      }

      &.prev-page, &.next-page {
        position: relative;
        top: 11px;

        a {
          content: " ";
          width: 6px;
          background-position: 50% 50%;
          @include inline-block;
          background-color: transparent;
          background-repeat: no-repeat;
          @include hide-text;

          &:hover {
            border: 2px solid transparent;
          }
        }
      }

      &.prev-page {
        a {
          background-image: url(../images/main/pager-prev.png);
        }
      }

      &.next-page {
        a {
          background-image: url(../images/main/pager-next.png);
        }
      }

      &.active {
        a {
          border: 2px solid $primary-color;
        }
      }

      a {
        @include background-clip(padding-box);
        color: #585858;
        border: 2px solid transparent;
        border-radius: $border-radius;
        padding: 2px 6px;
        height: 31px;
        line-height: 31px;

        &:hover {
          border: 2px solid $primary-color;
        }
      }

      &.disabled {
        cursor: not-allowed;

        a {
          color: #ccc;

          &:hover {
            border: 2px solid transparent;
          }
        }
      }
    }
  }

  h3 {
    text-align: center;
    color: $primary-color;
  }
}

.reviews-full-item {
  border-radius: $border-radius;
  border: 1px solid #d4d4d4;

  .reviews-full-item-image {
    @include float-left;
    border-radius: $border-radius;
    margin: 15px 0 0 15px;
    overflow: hidden;
    padding: 4px;
    @include box-shadow(0 1px 3px rgba(1, 2, 5, 0.3));

    img {
      width: 100%;
      height: auto;
      border-radius: $border-radius;
    }
  }

  .reviews-full-item-content {
    margin: 10px 10px 0 10px;
    padding-bottom: 20px;
    min-height: 200px;

    p, span, div {
      line-height: 1.4 !important;
    }

    &.with-panel {
      padding-bottom: 0;
    }

    .reviews-full-item-title {
      font-weight: bold;
      color: #585858;
    }

    .reviews-full-item-author {
      font-style: italic;
      margin-bottom: 15px;
    }
  }

  .reviews-full-item-panel {
    @include clearfix;
    @include border-radius(0 0 5px 5px);
    clear: both;
    border-top: 1px solid #d4d4d4;
    padding: 10px;
    background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;

    .reviews-full-item-panel-list {
      @include reset-list;

      li {
        overflow: hidden;
        @include float-left;
        margin-right: 15px;
        border: 3px solid #fff;
        border-radius: $border-radius;
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(0 1px 3px rgba(1, 2, 5, 0.3));
        width: 112px;
        height: 85px;
        position: relative;
        @include transition($defaultTransition);

        &:hover {
          border: 3px solid $primary-color;
        }

        a {
          img {
            width: 100%;
            height: auto;
          }

          &.video {
            &:after {
              @include border-radius(2px);
              @include box-shadow(0 1px 3px rgba(1, 2, 5, 0.3));
              display: block;
              content: " ";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.4) url(../images/main/reviews-video-play.png) 50% 50% no-repeat;
            }
          }
        }
      }
    }
  }
}

.reviews-mixed-container {
  margin: 20px 0;

  h3 {
    margin-top: 0;
    font-size: 1.1rem;
    color: $primary-color;
    margin-bottom: 14px;
  }
}