.reviews-block-container {
  margin: 40px 0;

  h3 {
    font-size: 1.1rem;
    color: $primary-color;
    margin-bottom: 15px;
    padding: 0;

    &.reviews-block-video-title {
      font-size: 1.8rem;
      margin-bottom: 24px;
    }
  }

  .reviews-block-add {
    width: 146px;
    height: 34px;
    line-height: 34px;
    @include float-right;
    border: 1px solid #ddd;
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background-color: #fff;
    @include linear-gradient(bottom, rgba(215, 215, 215, 0.32) 0%, rgba(255, 255, 255, 0.32) 100%);

    .reviews-block-add-icon {
      @include float-left;
      background: transparent url(../images/main/reviews-block-add.png) 6px 8px no-repeat;
      width: 33px;
      height: 34px;
      line-height: 34px;
    }
  }

  .reviews-block-video-list {
    li {
      padding-bottom: 0;

      a {
        border-radius: $border-radius;
        position: relative;
        display: block;

        img {
          border-radius: $border-radius;
          width: auto;
        }

        &:after {
          @include border-radius(2px);
          @include box-shadow(0 1px 3px rgba(1, 2, 5, 0.3));
          display: block;
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4) url(../images/main/reviews-block-play.png) 50% 50% no-repeat;
        }
      }
    }
  }
}
