.seo-container {
  margin: 20px 0;

  .seo-item {
    position: relative;
    margin-bottom: 20px;

    h1 {
      color: #818181;
    }

    p {
      color: #8d8d8d;
    }
    $seoSize: 54px;

    .seo-content {
      height: $seoSize;
      overflow: hidden;
    }

    .seo-gradient {
      background-color: rgba(255, 255, 255, 0.4);
      position: absolute;
      bottom: 14px;
      left: 0;
      height: $seoSize - 26px;
      width: 100%;
      @include linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .seo-readmore {
      margin-top: 5px;

      a {
        font-style: italic;
        border-bottom: 1px dashed $primary-color;
      }
    }
  }
}