.show-reviews-container {
  margin-bottom: 35px;
  height: 100px;
  background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
  padding-top: 8px;
  color: #5a5a5a;
  border-bottom: 1px solid rgba(112, 112, 112, 0.24);
  @include background-clip(padding-box);
  @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));
}

.show-reviews-link {
  padding-right: 20px;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  height: 42px;
  line-height: 38px;
  width: 320px;
  text-align: center;
  display: block;
  margin: 20px auto;
  border: 3px solid #efd95d;
  @include border-radius(21px);
  background: #fff url(../images/main/show-reviews-link.png) 280px 50% no-repeat;
  @include box-shadow(inset 0 1px 5px rgba(0, 1, 2, 0.11));
}