.slider-container {
  margin-top: 20px;
  $sliderContainerHeight: 514px;

  .sidebar {
    $padding: 18px;
    $lineHeight: 25px;
    min-height: $sliderContainerHeight;
    border: 1px solid rgba(1, 2, 5, 0.17);
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background-color: #fff;
    @include box-shadow(0 0 16px rgba(0, 0, 0, 0.15));

    p {
      line-height: $lineHeight;
      padding: $padding / 2 $padding 0 $padding;

      strong {
        @include antialias;
        color: $primary-color;
      }
    }

    .sidebar-menu {
      @include reset-list;
      padding: 0 $padding $padding / 2;

      li {
        &, a {
          color: #5a5a5a;
          line-height: $lineHeight;
        }

        a {
          background: transparent no-repeat 0 50%;

          &:hover {
            padding-left: 15px;
            background-image: url(../images/main/sidebar-arrow.png);
          }
        }
      }
    }

    hr {
      margin: 0;
    }

    &.index {
      overflow: hidden;
      height: auto;

      @include transition($defaultTransition);

      .root-menu {
        position: relative;
        width: 100%;

        .bottom {
          position: absolute;
          bottom: 0;
          width: 100%;

          .show_more {
            vertical-align: middle;
            background: #fff;
            width: 100%;
            text-align: center;

            display: none;

            .text {
              vertical-align: middle;
              cursor: pointer;
              color: #5a5a5a;

              &:after {
                content: ' ';
                display: inline-block;
                background: url('../images/main/icon-show-more.png') center center no-repeat;
                width: 12px;
                height: 7px;
                vertical-align: middle;
                margin-left: 8px;
              }
            }
          }
        }
      }

      &.short {
        height: 514px;

        .root-menu {
          overflow: hidden;

          .bottom {
            .show_more {
              display: block;
              height: 50px;
              line-height: 50px;
            }
          }
        }
      }
    }
  }

  .slider-index {
    @include transition($defaultTransition);
    margin-bottom: 0;
    position: relative;

    &:hover {
      .prev-page, .next-page {
        @include transition($defaultTransition);
        opacity: 1;
      }
    }

    .slider-index-item {
      min-height: 514px;
      border-radius: $border-radius;

      img {
        border-radius: $border-radius;
      }
    }

    .pager-container {
      .pager-nav {
        @include reset-list;
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -40px;
        height: 81px;

        .prev-page, .next-page {
          position: absolute;
          opacity: 0.4;
          background-color: transparent;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          width: 38px;
          height: 81px;

          a {
            @include hide-text;
            display: block;
            width: 38px;
            height: 81px;
          }

          &:hover {
            opacity: 1;
          }
        }

        .prev-page {
          background-image: url(../images/main/slider-main-prev.png);
          left: 0;
        }

        .next-page {
          background-image: url(../images/main/slider-main-next.png);
          right: 0;
        }
      }

      .pager {
        position: absolute;
        right: 20px;
        bottom: 14px;

        li {
          @include float-right;
          display: block;
          margin: 0 3px;
          height: 15px;

          a {
            position: relative;
            padding: 0;
            width: 15px;
            height: 15px;
            display: inline-block;
            border: 1px solid #6c1e0e;
            background-color: #fff;

            @include hide-text;
            @include opacity(0.8);
            @include border-radius(20px);
            @include background-clip(padding-box);

            &:after {
              content: ' ';
              width: 9px;
              height: 9px;
              top: 2px;
              left: 2px;
              position: absolute;
              background: transparent;

              @include border-radius(20px);
              @include background-clip(padding-box);
            }
          }

          &.active {
            margin: 0 3px;

            a {
              border: 1px solid #6c1e0e;
              //background-color: #6c1e0e;

              @include opacity(0.8);
              @include border-radius(20px);
              @include background-clip(padding-box);

              &:after {
                background-color: #6c1e0e;
              }
            }
          }
        }
      }
    }
  }
}