.modal-container.social__modal {
  .modal-content.social__modal {
    width: 560px;
    padding: 20px;

    p {
      font-size: 1.1rem;
      @include antialias;
    }

    .social__container {
      @include clearfix;
      background: {
        color: #E0DCDC;
      }
      margin-top: 10px;

      &-dark {
        background: {
          color: #802C19;
        }
        padding: 10px;
        margin-bottom: 15px;
        position: relative;

        p {
          color: #fff;
          @include antialias;
          font-size: 1.46rem;
          text-align: center;
        }

        &:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(128, 44, 25, 0);
          border-top-color: #802C19;
          border-width: 15px;
          margin-left: -15px;
        }
      }

      .right-side {
        padding: 10px;
        float: right;
        width: 50%;
      }

      .left-side {
        width: 50%;
        padding: 10px;
        float: left;

      }
    }
  }
}