.subscribe-form {
  position: relative;
}

#subscribe-modal-form {
  margin-top: 40px;
  padding: 10px;
  background-color: #f1d43b;

  [type="text"] {
    border: 1px solid rgba(1, 2, 5, 0.17);
    border-radius: $border-radius;
    @include background-clip(padding-box);
    background-color: #fff;
    @include box-shadow(inset 0 0 4px rgba(1, 2, 5, 0.2));
  }

  [type="submit"], [type="text"], textarea {
    margin-top: 10px;
  }

  [type="submit"] {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
  }

  h1, h3 {
    text-align: center;
    color: #6a5934;
    font-size: 1.6rem;
  }

  .form-row {
    position: relative;
  }
}