.quick-order {
  .tabs {
    @include antialias;
    box-shadow: 2px 3px 10px rgba(1, 2, 5, 0.06);

    .tabs-navigation {
      .tabs-menu {
        @include reset-list;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .tabs-menu-item {
        flex: 0 0 50%;
        border: 1px solid #dedede;
        @include background-clip(padding-box);
        background-color: #fff;
        height: 54px;
        line-height: 54px;
        margin-left: -1px;
        text-align: center;
        position: relative;
        @include linear-gradient(bottom, rgba(216, 216, 216, 0.32) 0%, rgba(255, 255, 255, 0.32) 100%);

        &:first-child {
          @include border-radius(5px 0 0 0);
          margin-left: 0;
        }

        &:last-child {
          @include border-radius(0 5px 0 0);
        }

        &.is-active {
          @include linear-gradient(top, rgba(216, 216, 216, 0.32) 0%, rgba(255, 255, 255, 0.32) 100%);

          &:after, &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:after {
            border-color: rgba(255, 255, 255, 0);
            border-top-color: #ffffff;
            border-width: 10px;
            margin-left: -10px;
          }

          &:before {
            border-color: rgba(222, 222, 222, 0);
            border-top-color: #dedede;
            border-width: 11px;
            margin-left: -11px;
          }
        }
      }

      .tabs-menu-item a {
        display: block;
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
      }

      .tabs-menu-item:not(.is-active) a:hover,
      .tabs-menu-item.is-active a {
        color: $primary-color;
      }
    }

    .tab-panel {
      height: 160px;
      display: none;
      @include border-radius(0 0 5px 5px);
      border-style: solid;
      border-width: 0 1px 1px 1px;
      border-color: #dedede;
      @include background-clip(padding-box);
      background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;

      &.is-active {
        display: block;
      }
    }
  }
}
