.tooltip {
  border-radius: $border-radius;
  @include box-shadow(0 3px 18px rgba(0, 0, 0, 0.3));
  background-color: #fff;
  display: block;
  z-index: 10002;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  color: #535353;
  font-size: 0.9rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  padding: 5px 10px;
  min-width: 300px;
  border: 1px solid #ccc;

  &.small {
    min-width: 120px;
  }

  &:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-top-color: #fff;
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
  }

  &.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #fff;
    border-bottom-color: #fff;
    top: -20px;
    bottom: auto;
  }

  &.left:after {
    left: 10px;
    margin: 0;
  }

  &.right:after {
    right: 10px;
    left: auto;
    margin: 0;
  }
}