.totop-arrow {
  @include hide-text;
  display: block;
  width: 43px;
  height: 43px;
  background: {
    color: transparent;
    image: url(../images/main/totop.png);
    position: center;
    repeat: no-repeat;
  }

  @media #{$medium-only} {
    display: none !important;
  }
}