<table cellspacing="0">
    <thead>
    <tr>
        <th>
            Идентификатор
        </th>
        <th>
            Наименование
        </th>
        <th>
            Размер
        </th>
        <th>
            Цена
        </th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr data-id="{{ item.object.id }}">
            <td>
                {{ item.object.id }}
            </td>
            <td>
                {#<a href="{{ item.object.getAbsoluteUrl() }}" >#}
                    {{ item.object.name }}
                {#</a>#}
            </td>
            <td>
                {{ item.data.size }}
            </td>
            <td>
                {{ item.price }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>