<table cellspacing="2" cellpadding="10" class="table_products">
    <thead>
        <tr>
            <th> Фото </th>
            <th> Наименование </th>
            <th> Размеры </th>
            <th> Цена </th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr data-id="{{ item.id }}">
            <td align="center"> {% if item.image %} <img src="{{ item.image.image.url_thumb }}" alt=""> {% endif %} </td>
            <td valign="center"> <a href="{{ request.http.getHostInfo() }}{{ item.getAbsoluteUrl() }}" > {{ item.name }} ( {{ item.code }} ) </a> </td>
            <td> {% for size in item.sizes %}{{ size.value }}{% if not loop.last %}, {% endif %}{% endfor %} </td>
            <td> {{ item.price or 'Нет в наличии' }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>