<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!">
    <title>Mindy</title>
    <link rel="stylesheet" href="/static_admin/dist/css/1.0.0.all.css"/>
    <script src="/static_admin/dist/js/1.0.0.all.js"></script>
</head>
<body>
<section id="login" class="row">
    <header class="header columns large-12">
        <h1 id="logo"><i class="icon-mindy"></i> {{ get_version }}</h1>
    </header>

    <section id="base">
        {% block flash %}
            {% include "admin/_flash.html" %}
        {% endblock %}

        <section class="container columns large-12">
            {% block content %}
            {% endblock %}
        </section>

        <footer id="footer" class="small-12 columns">
            &copy; Studio107
        </footer>
    </section>

</section>
</body>
</html>
