.justify {
  width: 100%;
  text-align: justify;

  &:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 0;
  }
}

.detect-size-table {
  th {
    padding: 0;
  }

  td, th {
    font-size: rem-calc(11);
  }
}

h1 {
  text-align: center;
  color: #7d1805;
  font-size: rem-calc(19);
}

.mnotify {
  display: none !important;
}

form {
  .error + .errors {
    display: block;
  }

  .error {
    &:active, &:hover {
      + .errors {
        display: block !important;
      }
    }
  }

  .form-row {
    position: relative;
    margin-bottom: 10px;

    .input-line {
      position: relative;
    }
  }

  .errors {
    @include reset-list;
    display: none;
    position: absolute;
    bottom: 100%;
    bottom: calc(100% + 5px);
    background-color: rgba(155, 0, 0, 0.8);
    border-radius: $border-radius;
    padding: 4px;

    &:after {
      top: 100%;
      left: 10%;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: 5px solid rgba(0, 0, 0, 0);
      border-top-color: rgba(155, 0, 0, 0.8);
      margin-left: -5px;
    }

    li {
      color: #fff;
      padding-left: 0 !important;

      &:before {
        display: none;
      }
    }
  }
}