{% extends "catalog/base.html" %}

{% block content %}
    <h1>{{ t('Shop', 'catalog') }}</h1>

    <ul class="catalog-category-list medium-block-grid-3">
    {{ content|raw }}
    </ul>

    {{ pager.render() }}
{% endblock %}