
<h1>{{ t('Shop', 'catalog') }}</h1>

<ul class="catalog-category-list medium-block-grid-3">
{% for model in models %}
    <li>
        <a href="{{ model.getAbsoluteUrl() }}">
            <img class="th" src="{% if model.image.value %}{{ model.image.url }}{% else %}http://placehold.it/228x147{% endif %}" alt="{{ model }}"/>
        </a>
        <a href="{{ model.getAbsoluteUrl() }}">{{ model }}</a>
    </li>
{% endfor %}
</ul>

{{ pager.render() }}
