{% set s = site ? site : get_site(1) %}
<div class="row">
    <div class="columns large-10">
        <h1>{{ category }}</h1>
        <article class="category-detail">
            {{ category.description|safe }}
        </article>
    </div>
</div>

{% comment %}
{% if categories|length %}
<div class="row">
    <hr/>
    <div class="columns large-10">
        <h3>Категории</h3>
        <ul class="catalog-category-list medium-block-grid-4">
            {% for model in categories %}
                <li>
                    <a href="{{ model.getAbsoluteUrl() }}">
                        <img class="th" src="{% if model.image.value %}{{ model.image.url }}{% else %}http://placehold.it/228x147{% endif %}" alt="{{ model }}"/>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endcomment %}

{% comment %}
{% if productions|length %}
    <div class="row">
        <hr/>
        <div class="columns large-10">
            <h3>Товары</h3>
            <ul class="catalog-production-list medium-block-grid-4">
                {% for production in productions %}
                    <li>
                        <a href="{{ production.getAbsoluteUrl() }}">
                            <img class="th" src="{% if production.image %}{{ production.image.image.url_thumb }}{% else %}http://placehold.it/228x147{% endif %}" alt="{{ production }}"/>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% endcomment %}