html,body,div,ul,li,p{margin:0;padding:0;vertical-align:top}
html{width:100%;height:100%;text-align:center;background:#fff;}
body{height:100%;width:800px;margin:0 auto;text-align:left;font-size:13px;font-family:Helvetica;color:#777;font-weight:400;background:#eee;-webkit-font-smoothing:antialiased;}

#wrap{height:100%;background:#fbfbfb;border:1px solid #fff;margin:0 1px;}

.text-left{text-align: left}
.text-right{text-align: right}
.text-center{text-align: center}
.text-justify{text-align: justify}
.text-nowrap{white-space: nowrap}
.text-low{text-transform: lowercase}
.text-upp{text-transform: uppercase}
.text-cap{text-transform: capitalize}

.marg{margin:10px 5px;}
.col-1, .col-2, .col-20, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {float:left}
.col-12 {width: 100%}
.col-11 {width: 91.66666667%}
.col-10 {width: 83.33333333%}
.col-9 {width: 75%}
.col-8 {width: 66.66666667%}
.col-7 {width: 58.33333333%}
.col-6 {width: 50%}
.col-5 {width: 41.66666667%}
.col-4 {width: 33.33333333%}
.col-3 {width: 25%}
.col-20 {width: 20%}
.col-2 {width: 16.66666667%}
.col-1 {width: 8.33333333%}

.fr {float:right!important}
.fl{float:left!important}
.hide {display:none!important}
.ib{display:inline-block}
.cl{clear:both}
