.cart-page {
  .cart-steps {
    @include reset-list;
    @include clearfix;
    position: relative;
    float: right;
    //margin-top: 5px;

    &::after {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      display: block;
      background-color: #dcdcdc;
    }

    li {
      @include float-left;
      @include antialias;
      color: #575757;
      font-size: rem-calc(12);

      &:not(:last-child) {
        margin-right: 10px;
      }

      .text {
        padding: 0 rem-calc(5);
        background-color: #fff;
      }

      .number {
        border-radius: 50%;
        background-color: #dcdcdc;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        display: inline-block;

        &.active {
          background-color: #eed75d;
        }
      }
    }
  }


  .price-summary-container {
    margin: rem-calc(15) 0 ;

    text-align: center;
    font-size: rem-calc(15);
    color: #717171;

    .price {
      padding-left: rem-calc(10);
      font-size: rem-calc(18);
      color: #7e1805;
    }
  }



  .buttons-container {
    margin: rem-calc(25) 0;

    .next-button,
    .prev-button {
      display: inline-block;

      width: 100%;
      height: rem-calc(24);
      line-height: rem-calc(24);

      color: #fff;
      text-align: center;
      font-size: rem-calc(12);
      font-weight: bold;
      text-transform: uppercase;

      border-radius: $border-radius;
      @include background-clip(padding-box);
    }

    .prev-button {

      background-color: #969696;
      @include box-shadow(0 2px 0 #787878);
    }
    .next-button {
      background-color: #7d1705;
      @include box-shadow(0 2px 0 #681202);
    }
  }
}
