.cart-page {

  .step1 {
    .to-catalog-link {
      margin: rem-calc(15) 0 ;
      text-align: center;

      a {
        font-size: rem-calc(12);
        border-bottom: 1px dashed;
      }

    }
  }
  .step2 {
    .form-container {
      margin: rem-calc(12) 0;
      padding: rem-calc(10);

      @include border-radius(5px / 5px 5px 5px 5px);
      @include background-clip(padding-box);
      background-color: #f1f1f1;

      .form-row {
        margin: rem-calc(13) 0;

        input, textarea {
          margin: 0;
          font-style: normal;
        }

        .errors {
          list-style: none;
          padding: rem-calc(5) 0;

          li {
            font-size: rem-calc(10);
            color: #c02828;
            padding: 0 rem-calc(5);
          }

        }
      }

      .buttons-container {
        margin: rem-calc(12) 0;
      }
    }
  }

  .step3 {
    .delivery-container {
      margin: 10px 0;

      .delivery-column {
        list-style: none;
        margin: 0;
        padding: 0;

        li {

          box-sizing: border-box;
          display: block;
          float: left;

          width: 50%;
          height: 43px;
          line-height: 43px;
          text-align: center;

          color: #333333;

          background: #fff;
          border: none;
          border-bottom: 1px solid #812313;


          &.active {

            @include border-radius(7px 7px 0 0);
            border: 1px solid #812313;
            background-color: #f1f1f1;
            border-bottom: 1px solid #f1f1f1;
          }

          .text {
            vertical-align: middle;
            line-height: 1.1;
            display: inline-block;
          }
        }

        //&:after {
        //  content: '';
        //  display: table;
        //  line-height: 0;
        //  clear: both;
        //}
      }

      .delivery-content {
        border: 1px solid #812313;
        border-top: none;

        @include border-radius(0 0 7px 7px);
        @include background-clip(padding-box);
        background-color: #f1f1f1;

        .delivery-content-pane {
          padding: 10px;
          padding-top: 50px;

          h1 {
            padding: 12px 0;
          }

          p {
            padding-bottom: 0.5em;
          }
        }
      }
    }


  }
}

.one-click-order {
  .quick-cart-order {

    p {
      padding-bottom: rem-calc(5);
    }

    .form-row {
      text-align: center;
    }
  }
}

