.page-catalog {
  .page-pager,
  .products{
    margin: rem-calc(22) 0;
  }

  .page-pager {
    .pager {
      text-align: justify;

      &:after {
        content: '';
        width: 100%;
        height: 0;
        line-height: 0;
        display: inline-block;
      }

      li {
        display: inline-block;
        font-size: rem-calc(15);
        font-weight: bold;

        a {
          padding: rem-calc(5);
        }

        &.active {
          a {
            color: #717171;
          }
        }
      }

      .page--first,
      .page--last {
        display: none;
      }

      .page--prev,
      .page--next {
        vertical-align: middle;
        padding: 0;
        margin: 0;

        a {
          width: rem-calc(39);
          height: rem-calc(39);
          border: 1px solid #dedede;
          background-color: #fff;
          text-indent: -9999px;
          overflow: hidden;
          position: relative;
          display: inline-block;

          @include border-radius(5px / 5px 5px 5px 5px);
          @include background-clip(padding-box);
          @include linear-gradient(bottom, rgba(217,217,217,.32) 0%, rgba(255,255,255,.32) 100%);


          &:after {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;

            top: 50%;
            left: 50%;
            transform: rotate(-45deg);
          }
        }
      }

      .page--prev {
        a {
          &:after {
            margin-top: -5px;
            margin-left: -3px;
            border-top: 2px solid #812313;
            border-left: 2px solid #812313;
          }
        }
      }
      .page--next {
        a {
          &:after {
            margin-top: -5px;
            margin-left: -6px;
            border-bottom: 2px solid #812313;
            border-right: 2px solid #812313;
          }
        }
      }
    }
  }

  .products {
    margin-bottom: 0;
  }

  .big-next-page {
    margin-bottom: rem-calc(22);

    a {

      color: #812313;
      font-size: rem-calc(12);
      font-weight: bold;

      text-align: center;

      width: 100%;
      height: rem-calc(34);
      line-height: rem-calc(34);

      display: inline-block;
      border: 1px solid #dedede;
      background-color: #fff;
      @include border-radius(5px / 5px 5px 5px 5px);
      @include background-clip(padding-box);
      @include linear-gradient(bottom, rgba(217,217,217,.32) 0%, rgba(255,255,255,.32) 100%);
    }

  }
}