.contacts-page {
  h1 {
    padding: 13px 0;

    a {
      border-bottom: dashed 1px;
    }
  }

  .contacts-intro {
    @include antialias;
    padding-left: 28px;
    padding-bottom: 25px;
    position: relative;

    &:before {content: '';
      position: absolute;
      width: rem-calc(17);
      height: rem-calc(25);
      background: url(../images/main/page-extra-mouse.png) no-repeat;
      //background-color: black;
      background-size: contain;
      top: 0;
      left: 0;
    }
  }

  .map-container {
    border: 1px solid rgba(0,1,2,.17);
    @include border-radius(6px);
    @include background-clip(padding-box);
    @include box-shadow(0 0 16px rgba(0,0,0,.06));
  }

  .offices-container {
    @include antialias;

    .address-list {
      @include reset-list;

      .map-office-list {
        @include reset-list;

        padding: 10px 10px 0;
        border-bottom: 1px solid #e6e6e6;

        &:nth-last-child(1) {
          border-bottom: none;
        }

        a {
          border-bottom: dashed 1px;
        }

        .office-icon {
          font-size: .85rem;
          padding-left: 18px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 13px;
            height: 13px;
            background-repeat: no-repeat;
            //background-color: black;
            background-size: contain;
            top: 0;
            left: 0;
          }
        }

        .map-icon-map {
          &:before {
            height: 14px;
            background-image: url(../images/mobile/icon-map.png);
          }

          .map-link {
            margin: 10px 0;
          }
        }

        .map-icon-worktime {
          padding-left: 10px;

          &:before {
            left: -7px;
            background-image: url(../images/mobile/icon-time.png);
          }
        }
        .map-icon-phone {
          &:before {
            background-image: url(../images/mobile/icon-phone.png);
          }
        }

        .map-images {
          padding: 0 15px;

          li {
            padding: 7px 15px;
          }
        }
      }
    }
  }

  .container__yellow-border {
    padding: rem-calc(13);
    border: 2px solid #fadb55;
    border-radius: $border-radius;
    @include background-clip(padding-box);
  }

  #map {
    height: 200px;
    border-top: 1px solid rgba(0,1,2,.17);
    border-radius: 0 0 $border-radius $border-radius;
    @include background-clip(padding-box);
  }


  .contacts__departament {
    margin-top: 25px;

    .departament {
      margin: 25px 0;
      padding-bottom: 25px;
      border-bottom: 1px solid #e6e6e6;

      h2 {
        margin-top: 0;
      }

      ul {
        @include reset-list;

        li {
          position: relative;
          padding-left: rem-calc(31);
          margin-bottom: rem-calc(15);

          //line-height: 22px;
          //& > span {
          //  line-height: 1.1;
          //  vertical-align: middle;
          //}

          &.small {
            line-height: rem-calc(22);
          }

          &:before {
            content: '';
            position: absolute;
            width: rem-calc(22);
            height: rem-calc(22);
            background-repeat: no-repeat;
            //background-color: black;
            background-size: contain;
            top: 0;
            left: 0;
          }

          &.time {
            &:before {
              background: {
                image: url(../images/main/contacts_time_small.png);
              }
            }
          }

          &.mail {
            &:before {
              background: {
                image: url(../images/main/contacts_mail_small.png);
              }
            }
          }

          &.phone {
            &:before {
              background: {
                image: url(../images/main/contacts_phone_small.png);
              }
            }
          }
          //
          //&.phone {}
          //&.time {}
          //&.mail {}
        }
      }


      h2 {
        padding-bottom: rem-calc(15);
        font-size: rem-calc(19);
        text-align: center;
        color: #812414;
      }

      .contacts__feedback-link {
        text-align: center;
        margin-top: rem-calc(15);

        a {
          font-size: rem-calc(15);
          border-bottom: 1px dashed;
        }

      }
    }
  }
}

.map-images-list {
  li {
    img {
      display: block;
      border: 1px solid #ccc;
      border-radius: $border-radius;
    }
  }
}

.sale__list {
  @include antialias;

  li {
    &::before {
      background: {
        position: 0 0;
        repeat: no-repeat;
        color: transparent;
      }
    }
  }

  .phone {
    &::before {
      background-size: 18.5px 23px;
      background-image: url(../images/mobile/contact/icon-phone.png) !important;
    }

    .title {
      font-size: 15px;
      color: #822313;
    }
  }

  .time {
    &::before {
      background-size: 22.5px 22px;
      background-image: url(../images/mobile/contact/icon-time.png) !important;
    }
  }

  .mail {
    &::before {
      background-size: 20px 20.5px;
      background-image: url(../images/mobile/contact/icon-mail.png) !important;
    }
  }
}