.index-page {
  .links-to-pages {
    margin: rem-calc(15) 0;

    border-top: 1px solid rgba(0,0,0,.24);
    border-bottom: 1px solid rgba(0,0,0,.24);
    background-color: #f2f2f2;

    li {
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(15);

      a {
        color: #131313
      }
    }
  }
}