.pages-page {
  .pages-content-container {
    @include antialias;

    ul {
      @include reset-list;
      list-style-image: url('../images/_mobile/_icons/li-small.png');

      li {
        margin-bottom: 0.5em;
        margin-left: 1.3em;

        &:before {

        }
      }
    }

    p {
      margin-bottom: 0.5em;
    }
  }

  .catalog-link {
    border: 1px solid rgba(112, 112, 112, 0.24);
    @include border-radius(6px);
    @include background-clip(padding-box);
    background: #fff url(../images/inner/catalog_link.png) 0 0 repeat;
    @include box-shadow(2px 3px 10px rgba(1, 2, 5, 0.06));
    margin: 10px 0;
    height: 29px;
    line-height: 29px;
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;

    &, a {
      color: #6f291b;
      text-decoration: none;
    }
  }
}