.page-product {

  .top-buttons {
    padding: rem-calc(25) 0;

    .name-button-container {
      padding-right: 0;
    }

    .name-to_catalog {
      @include antialias;
      position: relative;
      display: inline-block;
      width: 100%;
      min-height: rem-calc(36);
      line-height: rem-calc(36);
      background-color: #7d1705;

      @include border-radius(5px / 5px 5px 5px 5px);

      &:before {
        content: '';
        display: block;
        position: absolute;

        width: 10px;
        height: 10px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;

        top: 50%;
        left: rem-calc(11);
        margin-top: -5px;
        transform: rotate(-45deg);
      }

      .name {
        color: #fff;
        font-size: rem-calc(11);
        padding-left: rem-calc(28);
        vertical-align: middle;
        line-height: 1.1;
        width: 100%;
        display: inline-block;
      }

    }
  }

  .slider {
    .slick-list {
      min-height: rem-calc(277);

      .slick-slide {
        text-align: center;
        @include noselect;

        a {
          display: block;
        }

        img {
          pointer-events: none;
          @include noselect;
          max-height: rem-calc(277);
          display: inline-block;
        }
      }
    }

    .slick-dots {
      @include reset-list;
      display: flex !important;
      margin: 20px 0;
      justify-content: space-between;

      li {
        button {
          outline: none;
          border: none;
          line-height: 0;
          margin: 0;
          padding: 0;

          width: rem-calc(35);
          height: rem-calc(3);

          text-indent: -9999px;
          overflow: hidden;
          background-color: #d2d2d2;
        }

        &.slick-active {
          button {
            background-color: #7d1705;
          }
        }
      }
    }
  }

  .price {
    text-align: center;
    font-size: rem-calc(15);
    color: #717171;

    .price-title {
      font-weight: normal;
    }

    .product-item-price {
      font-size: rem-calc(18);
      font-weight: bold;
      color: #7d1705;
    }

    .product-item-old-price {
      text-decoration: line-through;
    }
  }

  .container {
    padding: 0;
  }

  .sizes-container {
    margin: rem-calc(17) 0;

    .columns {
      &:nth-child(1) {
        padding-right: rem-calc(7px);
      }
    }
    p {
      font-size: rem-calc(12);
    }

    .detect-size-container {
      a {
        border-bottom: 1px dashed;
      }
    }

    .product-detail-sizes-list {
      li {
        a, span {
          font-size: rem-calc(12);
        }
      }
    }
  }

  .to_cart-container {
    margin: rem-calc(17) 0;

    padding: 10px 0;
    background-color: #f3f3f3;
    background-image: linear-gradient(to top, rgba(240, 240, 240, 0.32) 0%, rgba(255, 255, 255, 0.32) 100%);
    border: {
      width: 1px 0;
      style: solid;
      color: #dfdfdf;
    }

    .container {
      padding: 0;
    }
  }

  .product-detail-sizes-list {
    @include reset-list;
    @include inline-block;

    li {
      @include inline-block;
      margin: 0 2px;
      cursor: not-allowed;
      border-radius: $border-radius;
      border: 2px solid transparent;
      padding: 1px 3px;

      &, a, span {
        color: #353535;
      }

      &.available {
        cursor: pointer;
      }

      &.not-available {
        a, span {
          cursor: not-allowed;
          color: #ccc;
        }
      }

      &.active {
        cursor: pointer;
        border: 2px solid $primary-color;
      }

      //&:hover {
      //  border: 2px solid #ccc;
      //
      //  &.available {
      //    cursor: pointer;
      //    border: 2px solid $primary-color;
      //  }
      //}
    }
  }

  .content-container {
    margin: rem-calc(10) 0;
  }
}

.product-gift-container {
  text-align: center;

  h2 {
    color: #7e1805;
    font-size: 19px;
  }

  .product-gift-item {
    text-align: center;
    padding-bottom: 15px;

    p {
      @include antialias;
      font-size: .85rem;
      background-color: transparent;
      background-position: 50% 0;
      background-repeat: no-repeat;
      padding: 40px 0 0 0;
      min-height: 70px;

      &.payment {
        background-size: 23px 29px;
        background-image: url(../images/main/product-gift-payment.png);
      }

      &.remember {
        background-size: 22px 26px;
        background-image: url(../images/main/product-gift-remember.png);
      }

      &.cert {
        background-image: url(../images/main/product-gift-cert.png);
      }

      &.garant {
        background-size: 25.5px 32px;
        background-image: url(../images/main/product-gift-garant.png);
      }

      &.bag {
        background-size: 25px 32.5px;
        background-image: url(../images/main/product-gift-bag.png);
      }

      &.discount {
        background-size: 30px 22px;
        background-image: url(../images/main/product-gift-discount.png);
      }
    }
  }
}