{% set hasTitle = false %}
<title>{#
    #}{% if this.title %}{#
        #}{% set hasTitle = true %}{#
        #}{% for title in this.title %}{#
            #}{{ title }}{#
            #}{% if not loop.last %} - {% endif %}{#
        #}{% endfor %}{#
    #}{% elseif title %}{#
        #}{% set hasTitle = true %}{#
        #}{{ title }}{#
    #}{% endif %}{#

    #}{% if hasTitle %}{#
        #} - {#
    #}{% endif %}{#

    #}{% if site %}{#
        #}{{ site }}{#
    #}{% else %}{#
        #}{{ param('core.core.sitename') }}{#
    #}{% endif %}{#
#}</title>
{%- if keywords -%}
    <meta name="keywords" content="{{ keywords }}">
{%- endif -%}
{%- if description -%}
    <meta name="description" content="{{ description }}">
{%- endif -%}
{%- if canonical -%}
    <link rel="canonical" href="{{ canonical }}" />
{%- endif -%}