<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TWVZVB"
            height="0"
            width="0"
            style="display:none;visibility:hidden">
    </iframe>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/955403784/?value=0&guid=ON&script=0"/>
    </div>
</noscript>
<script type='text/javascript'>
    window['google_tag_params'] = {
        ecomm_prodid: '',
        ecomm_pagetype: 'other',
        ecomm_totalvalue: ''
    };

    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TWVZVB');
</script>

<script type='text/javascript' async="async">
    window['liveTex'] = true;
    window['liveTexID'] = 65495;
    window['liveTex_object'] = true;

    function detectmob() {
        return !!(navigator.userAgent.match(/Android/i)
        || navigator.userAgent.match(/webOS/i)
        || navigator.userAgent.match(/iPhone/i)
        || navigator.userAgent.match(/iPad/i)
        || navigator.userAgent.match(/iPod/i)
        || navigator.userAgent.match(/BlackBerry/i)
        || navigator.userAgent.match(/Windows Phone/i));
    }

    if (!detectmob()) {
        var t = document['createElement']('script');
        t.type = 'text/javascript';
        t.async = true;
        t.src = '//cs15.livetex.ru/js/client.js';
        var c = document['getElementsByTagName']('script')[0];
        if (c) c['parentNode']['insertBefore'](t, c);
        else document['documentElement']['firstChild']['appendChild'](t);
    }
</script>
<script type="text/javascript"
        src="//api.venyoo.ru/wnew.js?wc=venyoo/default/science&widget_id=5293491241615360"></script>
