<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    {% block seo %}{{ meta(this) }}{% endblock %}

    {% if not debug %}
        <script src="https://cdn.ravenjs.com/3.14.2/raven.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript">Raven.config('https://ba5e4b4320ef4c1088b2a5d4182dc8ea@sentry.studio107.ru/6').install()</script>
    {% endif %}
    <meta name='yandex-verification' content='4280b4fe8b365ca5'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!">
    <meta name="theme-color" content="#7f4135">
    <meta name="copyright" content="Кожаная одежка">

    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">

    <link href='/static/dist/css/loader.css' rel='stylesheet' type='text/css'>
    <link href='/static/dist/css/{{ get_mode() }}.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>

    {% if param('core.core.logo') %}
        <style>
            #header .header-container .logo-container #logo {
                background-image: url(/media/{{ param('core.core.logo') }});
            }
        </style>
    {% endif %}

    {% block css_head %}
    {% endblock %}

    <script type="text/javascript">
        window.showWarnings = false;
        window.globalError = false;
        window.SHOW_CITY_IN_CATALOG = false;
        window.odometerOptions = { auto: false };

        {% set s = site ? site : get_site(1) %}
        window.DEBUG = {{ DEBUG ? 'true' : 'false' }};
        window.CURRENCY_LIST = {{ get_currency_list()|safe }};
        window.CURRENCY = '{{ get_currency()|safe }}';
        window.CART_IDS = {{ get_cart_ids()|safe }};
        window.CART_COUNT = {{ get_cart_count()|safe }};
        window.SITE = {{ s.toJson()|safe }};
        window.CURRENT_CITY_RAW = {{ s.city.toJson()|safe }};
        window.CURRENT_CITY = {{ s.city.id }};
        window.CURRENT_CITY2 = '{{ s.city.name2 }}';
        window.CURRENT_REGION = {{ s.city.region.id }};
        window.BANNERS = {{ get_banners()|safe }};
        window.MENU = {
            'footer-service-menu': {{ get_menu_json('footer-service-menu')|safe }},
            'footer-about-menu': {{ get_menu_json('footer-about-menu')|safe }},
            'header-menu': {{ get_menu_json('header-menu')|safe }}
        };
        window.TREE = {{ catalog_tree()|safe }};
        window.CATEGORY_IDS = {{ catalog_ids()|safe }};
        window.PRODUCTS_H = {{ get_products_hash()|safe }};
        window.SEO_BLOCK_COLLAPSED = false;
        window.BASE_DOMAIN = '{{ get_base_domain()|safe }}';
    </script>

    {% block js_head %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="app">
        <div id="page-loader" class="page-load">
            <div class="loading-logo animated zoomIn">
                {% include "logo.svg" %}
            </div>
            <div class="loading l-page animated zoomIn">
                <i></i>
            </div>
        </div>
        <div id="wrapper">
            <div id="container">
                <div id="header">
                    <div class="header-container">
                        <div class="row">
                            <div class="columns large-3 text-left left-side"></div>
                            <div class="columns large-4 logo-container">
                                <h1 id="logo">
                                    <a class="" href="/">
                                        Кожаная одежда
                                    </a>
                                </h1>
                            </div>
                            <div class="columns large-3 text-right right-side"></div>
                        </div>
                    </div>
                    <div class="menu-container">
                        <div class="menu-image"></div>
                    </div>
                </div>
                {% block loader %}
                    <div class="loader product-page-container">
                        <div class="loader">
                            <div class="ui segment">
                                <div class="ui active loader"></div>
                                <p></p>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                <div class="seo">
                    <div class="row">
                        <div class="columns large-10">
                            {% set seo = get_seo_text(request.path) %}
                            {% for s in seo %}
                                <h2>{{ s.name|post_process }}</h2>
                                <p>{{ s.text|post_process|safe }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="row">
                        <div class="columns large-10">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="footer-container">
                <div class="footer-menu-container">

                </div>
                <div class="row owner-container">
                    <div class="columns large-5">
                        <p class="owner">
                            © 2003-2016
                            Сеть магазинов «Кожаная одежда»
                        </p>
                    </div>
                    <div class="columns large-5">
                        <p class="author">
                            Разработка сайта:
                            <a href="http://studio107.ru" target="_blank">Студия 107</a>
                            © 2016
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/dist/js/{{ get_mode() }}.bundle.js"></script>
{% endblock %}

{% include "_statistics.html" %}
</body>
</html>
